<html layout:decorate="~{layout_page}">

<head>
    <style>
    </style>
</head>


<th:block layout:fragment="content">
    <script type="text/javascript" src="/js/fileupload.js?v=20220503"></script> <!--?v=1003-->
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>계정과목관리</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>기준정보</li>
                <li>계정과목관리</li>
            </ul>
        </div>


        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                </div>
                <div class="button-wrap">
                    <button type="button" class="btn-default" id="asd"
                            style=" width: 115px; height: 36px;">수정
                    </button>
                    <button type="button" class="btn-danger " id="btnDel"
                            style=" width: 115px; height: 36px;"><i class="fas fa-trash"></i>삭제
                    </button>
                    <button type="button" class="btn-default" id="btnBomNew"
                            style="width: 115px; height: 36px;">등록
                    </button>
                </div>
            </div>

            <!--<div class="grid_box">
                 <div class="h-280" data-ax5grid="material-grid" ></div>
            </div>-->
            <div class="container-fluid">
                <div id="theGrid" style="height: 400px; max-height: 400px;"></div>
            </div>
        </section>
        <!--border-radius: 6px 0 0 0;-->

        <div class="tab-wrap">
            <ul class="tab-links">
                <li><a href="#tab_basic" name="tab_test_master">계정별관리항목</a></li>
            </ul>

            <div>
                <section class="tab-item" id="tab_basic" style="border-top-left-radius: 0;">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt></dt>
                                <dd>
                                    <select class="s-150" id="cboAccountGroup" name="cboAccountGroup"></select>
                                </dd>
                            </dl>
                            <dl>
                                <dt></dt>
                                <dd>
                                    <button type="button" class="btn-default" id="btnAddTestMaster"
                                            style="width: 115px; height: 36px;"><i
                                            class="fas fa-plus"></i>추가
                                    </button>
                                </dd>
                            </dl>

                        </div>
                        <div class="button-wrap">
                            <button type="button" class="btn-default"
                                    id="" style="width: 115px; height: 36px;">저장</span>
                            </button>

                            <button type="button" class="btn-danger" id=""
                                    style="width: 115px; height: 36px;">삭제
                            </button>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div id="subject-grid" style="height: 200px; max-height: 200px;"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <script type="text/x-tmpl" id="AccountTemplate">
        <div class="content_wrap popup">
            <!--<header>
                <h4 id="popTitle">
                {% if (o.id!='') { %}
                  BOM 수정({%=o.Name%})
                  {% } else { %}
                  BOM 등록
                  {% } %}
                </h4>
                <div class="popup_close_box"><button class="btn_popup_close" id="modal-close-x"><i class="fas fa-times"></i></button></div>
            </header>-->

    <div class="table-wrap">
           <form id="AccountForm">
                <table class="write-table">
                    <input type="hidden" id="id" name="id" value="{%=o.id%}">
                    <caption>주문등록 테이블</caption>
                    <tbody>
                        <tr>
                            <th style="text-align: center">
                               <label for="Material_id">상위계정</label>
                            </th>
                            <td>
                                <select class="form-control2" id="" name="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </td>

                            <th style="text-align: center">
                                <label for="Name">차/대</label>
                            </th>
                            <td style="text-align: center;">
                                <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                                    <label>차변</label>
                                    <input class="form-control2" type="checkbox" name="debit">
                                    <label>대변</label>
                                    <input class="form-control2" type="checkbox" name="credit">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center">
                                <label for="OutputAmount">계정코드</label>
                            </th>
                            <td>
                                <input class="form-control2 tar" type="text" id="" name=""/>
                            </td>

                            <th style="text-align: center">
                                <label for="BOMType">계정명</label>
                            </th>
                            <td>
                                  <input class="form-control2 tar" type="text" id="" name=""/>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center">
                                <label for="Version">대 손</label>
                            </th>
                            <td>
                                <select class="form-control2" id="" name="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </td>
                            <th style="text-align: center">전표발행</th>
                            <td>
                                <input class="form-control2 tar" id="Version" name="Version" type="checkbox" style="display: block; margin: auto;  height: 26px; width: 26px;"/>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center">
                                <label for="">양식 명칭</label>
                            </th>
                            <td colspan="3">
                                 <input class="form-control2 tar" id="" name="" type="text" style="width:100%"/>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center">
                                 <label for="">차감계정</label>
                            </th>
                            <td>
                              <input class="form-control2 tar" id="Version" name="Version" type="checkbox"  style="display: block; margin: auto;  height: 26px; width: 26px;"/>
                            </td>
                            <th></th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
        </form>
    </div>

        <div class="popup-button">
          <button type="button" class="btn-popup" id="btnAccountSave"><span data-labelCd="저장">저장</span></button>
          <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
        </div>
</div>
    </script>

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript" src="/js/grid.js"></script>

    <script type="text/javascript">
        class AccountsubjectPage {
            constructor() {
                this.url = '';
                this.grid = null;
                this.subject_grid = null;
                this.delMoldClassIds = [];
                this.viewData = new wijmo.collections.CollectionView();
                this.viewData2 = new wijmo.collections.CollectionView();

                this.init();
            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#theGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    frozenColumns: 5, // 앞에 5개의 컬럼 고정
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                    },
                    columns: [
                        {binding: '', header: '계정코드', width: 100, align: 'center'},
                        {binding: '', header: '계정명칭', width: 250, align: 'right'},
                        {binding: '', header: '상위계정', width: 150, align: 'left'},
                        {binding: '', header: '상위계정명칭', width: 150, align: 'left'},
                        {binding: '', header: '레벨', width: 100, align: 'left'},
                        {binding: '', header: '차대', width: 100, align: 'center'},
                        {binding: '', header: '대손', width: 100, align: 'center'},
                        {binding: '', header: '전표', width: 100, align: 'center'},
                        {binding: '', header: '사용', width: 100, align: 'center'},
                        {binding: '', header: '차감계정', width: 150, align: 'center'},
                        {binding: '', header: '차감계정명칭', width: '*', align: 'right',},

                    ],
                    itemsSource: this.viewData, // 데이터를 설정할 배열
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '계정과목';

                // 데이터 로드 후 초기 선택 상태 해제
                this.grid.loadedRows.addHandler(() => {
                    setTimeout(() => {
                        this.grid.select(-1, -1); // 선택 상태 초기화
                    }, 0); // 비동기로 처리하여 초기 선택 해제
                });
                let isInitialLoad = true; // 초기 상태 플래그

                this.grid.selectionChanged.addHandler((s, e) => {
                    if (isInitialLoad) {
                        isInitialLoad = false; // 초기 로드 이후 플래그 해제
                        return;
                    }

                    let selectedRowIndex = s.selection.row; // 선택된 행의 인덱스
                    if (selectedRowIndex >= 0) { // 유효한 행이 선택되었는지 확인
                        let selectedRowData = s.rows[selectedRowIndex].dataItem; // 선택된 행의 데이터
                        let mat_pk = selectedRowData.id; // 품목 ID 가져오기
                        /*console.log(selectedRowData);*/

                        // 상세 정보 표시
                        _this.showDetail(mat_pk);

                    }
                });

                this.grid.hostElement.addEventListener('dblclick', (e) => {
                    let hitTest = this.grid.hitTest(e);
                    if (hitTest.cellType === wijmo.grid.CellType.Cell) {
                        let row = hitTest.row;
                        let selectedItem = this.grid.rows[row].dataItem;
                        /*_this.showBomList(selectedItem.id)*/

                    }
                });

                this.grid.formatItem.addHandler((s, e) => {
                    if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                        let col = s.columns[e.col];
                        let item = s.rows[e.row].dataItem;

                    }
                });


                this.subject_grid = new wijmo.grid.FlexGrid('#subject-grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true, // 체크박스 클릭 가능하도록 설정
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                    },
                    columns: [
                        {binding: 'code', header: '번호', width: 100, align: 'center'},
                        {binding: 'name', header: '관리 항목 목록', width: 180, align: 'center'},
                        {binding: 'required', header: '필수', width: 150, align: 'center'},
                        {binding: 'used', header: '사용', width: 150, align: 'center'},
                        {binding: '', header: '', width: '*', align: 'center'}
                    ],
                    itemsSource: this.viewData2, // 데이터를 설정할 배열
                });

                new FlexGridContextMenu(this.subject_grid);
                this.grid.downloadFileName = '관리항목';

                // filter dropdown load
                AjaxUtil.fillSelectOptions($('#cboAccountGroup'), 'system_code', 'choose', false, 'account_item');

            }


            // 품목 리스트 조회
            searchDataBind() {
                let _this = this;

                /*let result = AjaxUtil.getSyncData(this.url + '/read');
                if (result) {
                       _this.viewData.sourceCollection = result.data;
                }*/
            }

            // 품목 상세 조회
            showDetail(mat_pk) {
                let param = {'id': mat_pk};
                let result = AjaxUtil.getSyncData(this.url + '/detail', param);
                if (result.success != null) {
                    let detailData = result.data;

                }

            }

            // 품목 기본정보 저장
            saveData() {
                let _this = this;
                let validate = true;
                let $target = null;


                let url = this.url + '/save';
                let basicData = FormUtil.extractForm($('#matBasicForm'));
                let productionData = FormUtil.extractForm($('#matProductionForm'));
                let stockData = FormUtil.extractForm($('#matStockForm'));
                //let testData = FormUtil.extractForm($('#matTestForm'));
                let routingData = FormUtil.extractForm($('#matRoutingForm'));
                let priceData = FormUtil.extractForm($('#priceForm'));
                //let data = $.extend({}, basicData, productionData, stockData, testData, routingData);
                let data = $.extend({}, basicData, productionData, stockData, routingData, priceData);

                let fnSuccess = function (res) {
                    if (!res.success) {
                        Alert.alert('', res.message);
                    } else {
                        Alert.alert('', "저장되었습니다.");
                        _this.searchDataBind();
                    }
                };

                // 데이터 저장 요청
                AjaxUtil.postAsyncData(url, data, fnSuccess);

            }

            // 품목 정보 삭제
            deleteData() {
                let _this = this;
                let url = this.url + '/delete';
                let id = $('#matBasicForm').find('#id').val()
                let data = {id: id};
                let fnSuccess = function (res) {
                    if (res.success) {
                        Alert.alert('', '삭제되었습니다'); // Notification
                        _this.searchDataBind();
                    } else {
                        Alert.alert('', res.message);
                    }
                };

                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }


            // 단가 정보 등록/변경
            savePriceData() {
                let _this = this;
                let validate = true;
                let $target = null;
                let mat_id = $('#matBasicForm').find('#id').val();
                let url = this.url + '/savePrice';
                let data = FormUtil.extractForm($('#companyPriceForm'));

                // ApplyStartDate 가공해서 다시 설정
                let applyDate = data.ApplyStartDate; // YYYY-MM-DD
                if (applyDate) {
                    let now = new Date();
                    let hh = String(now.getHours()).padStart(2, '0');
                    let mm = String(now.getMinutes()).padStart(2, '0');
                    let ss = String(now.getSeconds()).padStart(2, '0');
                    data.ApplyStartDate = `${applyDate}T${hh}:${mm}:${ss}`;
                }

                data['Material_id'] = mat_id;
                data['ChangerName'] = userinfo.username;

                let fnSuccess = function (res) {
                    console.log("서버 응답:", res);  // 서버 응답을 콘솔에 출력
                    if (!res.success) {
                        console.error("서버 오류 메시지:", res.message);  // 오류 메시지 확인
                        Alert.alert('', '저장실패: ' + res.message);
                    } else {
                        Alert.alert('', '저장되었습니다');
                        /*_this.showPriceList(mat_id);*/
                    }
                };

                $('#companyPriceForm').find('input, select').each(function () {
                    if ($(this).is(':required')) {
                        if (!$(this).val()) {
                            validate = false;
                            $target = $(this);
                            return false;
                        }
                    }
                });

                if (validate) {
                    AjaxUtil.postAsyncData(url, data, fnSuccess);
                } else {
                    Alert.alert('', '필수 항목을 입력해주세요.', function () {
                        $target.focus();
                    });
                }
            }

            // 단가 정보 수정
            updatePriceData() {
                let _this = this;
                let validate = true;
                let $target = null;
                let mat_id = $('#matBasicForm').find('#id').val();
                let url = this.url + '/updatePrice';
                let data = FormUtil.extractForm($('#companyPriceForm'));
                let fnSuccess = function (res) {
                    if (!res.success) {
                        Alert.alert('', res.message);
                    } else {
                        Alert.alert('', '저장되었습니다');
                        _this.showPriceList(mat_id);
                    }
                };

                $('#companyPriceForm').find('input, select').each(function () {
                    if ($(this).is(':required')) {
                        if (!$(this).val()) {
                            validate = false;
                            $target = $(this);
                            return false;
                        }
                    }
                });

                //if ($('#ApplyStartDate').val() > $('#ApplyEndDate').val()) {
                //    Alert.alert('', '적용기간을 확인해주세요.', function () {
                //        $('#ApplyStartDate').focus();
                //    });
                //    return false;
                //}

                data['Material_id'] = mat_id;
                data['ChangerName'] = userinfo.username;

                if (validate) {
                    AjaxUtil.postAsyncData(url, data, fnSuccess);
                } else {
                    Alert.alert('', '필수 항목을 입력해주세요.', function () {
                        $target.focus();
                    });
                }
            }

            // 단가 정보 삭제
            deletePriceData() {
                let _this = this;
                let url = this.url + '/deletePrice';
                let id = $('#companyPriceForm').find('#price_id').val()
                let mat_id = $('#matBasicForm').find('#id').val();
                let data = {id: id};
                let fnSuccess = function () {
                    Alert.alert('', '삭제되었습니다'); // Notification
                    /*_this.showPriceList(mat_id);*/
                };

                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }


            //검사항목
            showTestList(mat_pk) {
                let _this = this;
                if (!mat_pk)
                    return;

                let url = this.url + '/testMaster';
                let data = {
                    'mat_id': mat_pk,
                };

                let result = AjaxUtil.getSyncData(url, data);
                if (result.data != null) {
                    _this.viewData2.sourceCollection = result.data;
                }
            }

            showAccountEdit() {
                let _this = this;
                let content = tmpl('AccountTemplate', {});
                let $content = $(content);

                let modalContainer = new PopupDraggable('계정과목 등록');
                modalContainer.open({width: 1025, height: 370, $content});

                $content.find('#btnAccountSave').on('click', function () {
                    let $form = $content.find('#AccountForm');
                    Alert.confirm('', '저장하시겠습니까?', function () {
                        /*_this.saveBOMData($form);*/
                    });
                });


            }

        }

        let page = null;

        $(document).ready(function (e) {
            page = new AccountsubjectPage();
            //page.searchDataBind();

            // 기본정보 삭제버튼
            $('#btnDelete').click(function (e) {
                Alert.confirm('',
                    '삭제하시겠습니까?',
                    function () {
                        page.deleteData()
                    },
                    function () {
                    }
                );
            });

            // 단가 히스토리버튼
            $('#btnBomNew').click(function (e) {
                page.showAccountEdit();
            });

            /* let newRow = {
                    id: 0,
                    delete: false, // 체크박스 기본값
                    test_master_id: test_master_id,
                    test_class_name: '',
                    test_master_group_name: $('#cboTestMasterGroup option:selected').text(),
                    test_master_name: $('#cboTestMaster option:selected').text()
                };*/

            //검사정보 신규버튼
            $('#btnAddTestMaster').click(function (e) {
                let mat_id = $('#matBasicForm').find('#id').val();
                let test_master_id = $('#cboTestMaster').val();

                if (!test_master_id) return;

                // 그리드 객체 가져오기
                let grid = page.test_master_grid;

                // itemsSource를 배열로 변환
                let data = grid.collectionView ? grid.collectionView.sourceCollection : [];

                // 중복 체크
                let already = data.some(row => row.test_master_id == test_master_id);
                if (already) return;

                // 새 행 데이터 생성
                row = {};
                row["id"] = 0;
                row["test_master_id"] = test_master_id;
                row["test_class_name"] = '';
                row["test_master_group_name"] = $('#cboTestMasterGroup option:selected').text();
                row["test_master_name"] = $('#cboTestMaster option:selected').text();

                // 데이터 추가
                data.push(row);

                // 그리드 갱신
                grid.collectionView.refresh();
            });

            //검사정보 저장버튼
            $('#btnSaveTest').click(function (e) {
                let url = page.url + '/save_test_master';
                let mat_id = $('#matBasicForm').find('#id').val();
                let InTestYN = $('#matTestForm').find('#InTestYN').prop('checked') ? 'Y' : '';
                let OutTestYN = $('#matTestForm').find('#OutTestYN').prop('checked') ? 'Y' : '';

                let grid = page.test_master_grid;

                // collectionView.sourceCollection을 사용하여 데이터 가져오기
                let list = grid.collectionView ? grid.collectionView.sourceCollection : [];
                list = JSON.stringify(list);

                let data = {
                    'mat_id': mat_id,
                    'InTestYN': InTestYN,
                    'OutTestYN': OutTestYN,
                    'Q': list,
                };

                let result = AjaxUtil.postSyncData(url, data);
                /*console.log(result);*/
                if (result.data != null) {
                    Alert.alert('', "저장되었습니다.");
                    page.showTestList(mat_id);
                }

            });

            $('#btnDelTestMaster').click(function (e) {
                let url = page.url + '/save_test_master';
                let mat_id = $('#matBasicForm').find('#id').val();
                let InTestYN = $('#matTestForm').find('#InTestYN').prop('checked') ? 'Y' : '';
                let OutTestYN = $('#matTestForm').find('#OutTestYN').prop('checked') ? 'Y' : '';

                let grid = page.test_master_grid;
                let selectedRow = grid.selection.row; // 선택된 행 인덱스
                /*console.log("선택된 행의 인덱스:", selectedRow);*/

                if (selectedRow >= 0) {
                    let viewdata2 = grid.collectionView.items; // 데이터를 올바르게 가져오기
                    /*console.log("전체 데이터 목록:", viewdata2);*/

                    let selectedItem = viewdata2[selectedRow];
                    /*console.log("선택된 행의 데이터:", selectedItem);*/

                    if (!selectedItem || !selectedItem.id) {
                        /*console.log("삭제할 데이터의 ID가 없음:", selectedItem);*/
                        /*Alert.alert('삭제할 데이터의 ID를 찾을 수 없습니다.');*/
                        return;
                    }

                    let deletedId = selectedItem.id;
                    /*console.log("삭제할 ID:", deletedId);*/

                    // 행 제거
                    grid.collectionView.remove(selectedItem);

                    // 최신 데이터 리스트 변환
                    let list = JSON.stringify(grid.collectionView.items);

                    let data = {
                        'mat_id': mat_id,
                        'InTestYN': InTestYN,
                        'OutTestYN': OutTestYN,
                        'Q': list,
                        'deletedId': deletedId
                    };

                    // 서버에 데이터 전송
                    AjaxUtil.postAsyncData(url, data, function (result) {
                        /*console.log(result);*/
                        if (result.data != null) {
                            Alert.alert('', "삭제되었습니다.");
                            page.showTestList(mat_id); // 갱신된 데이터 반영
                        } else {
                            Alert.alert('', '서버 처리에 실패했습니다.');
                        }
                    });
                } else {
                    Alert.alert('삭제할 행을 선택하세요.');
                }
            });

            // 단가정보 신규버튼
            $('#btnPriceNew').click(function (e) {
                // 단가 상세정보 리셋
                $('#companyPriceForm')[0].reset();
                $('#companyPriceForm').find('#price_id').val('');

                $('#companyPriceForm').find('input, select').each(function () {
                    if ($(this).is(':disabled')) {
                        $(this).removeAttr('disabled');
                    }
                });

                page.setPriceButtonState();

                $('#ApplyStartDate').val(CommonUtil.getYYYYMMDD());
            });

            // 단가등록/변경 버튼
            $('#btnPriceSave').click(function (e) {
                Alert.confirm('',
                    '저장하시겠습니까?',
                    function () {
                        page.savePriceData()
                    },
                    function () {
                    }
                );
            });

            // 단가정보 수정버튼
            $('#btnPriceUpdate').click(function (e) {
                Alert.confirm('',
                    '저장하시겠습니까?',
                    function () {
                        page.updatePriceData()
                    },
                    function () {
                    }
                );
            });

            // 단가정보 삭제버튼
            $('#btnPriceDelete').click(function (e) {
                Alert.confirm('',
                    '삭제하시겠습니까?',
                    function () {
                        page.deletePriceData()
                    },
                    function () {
                    }
                );
            });



            if (userinfo.group_code == 'admin') {
                //$('#btnGridSetting').show();
                //$('#btnGridSetting').attr('style', 'visibility:visible');
                $('#btnGridSetting').css('visibility', 'visible');
            }


            page.searchDataBind();
        });
    </script>

</th:block>
</html>