<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .wj-header {
            text-align: center !important;
        }

        .wj-cell.no-uncheck input[type=checkbox] {
            pointer-events: none;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>일/월별 근태현황</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>근태현황</li>
                <li>일/월별 근태현황</li>
            </ul>
        </div>

        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="일별">일별</a>
                </li>
                <li>
                    <a href="#tab2" title="월별">월별</a>
                </li>
            </ul>

            <div class="tab-contents">
                <section class="tab-item" id="tab1" >
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    <label>년월</label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="month" class="form-control2" id="startdate" name="startdate">
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="work_division">근무구분</label>
                                </dt>
                                <dd>
                                    <select style="width: 150px;" id="work_division" name="work_division"></select>
                                </dd>
                            </dl>

                            <!--<dl>
                                <dt><span class="eq"></span></dt>
                                <dd>
                                    <li>
                                        <a class="btn btn-delete" title="검색" id="btnSearch">
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                            검색
                                        </a>
                                    </li>
                                </dd>
                            </dl>-->
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="저장" id="btnSave">
                                        <img src="/images/icon/ico-edit.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> <!--//section-top end -->

                    <div class="row">
                        <div class="col wp15">
                            <div class="container-fluid">
                                <div id="grid" style="height: 650px; max-height: 650px;"></div>
                            </div>
                        </div>

                        <div class="wp85">
                            <div class="container-fluid">
                                <p id="selectedItem"></p>
                                <div id="day-grid" style="height: 650px; max-height: 650px;"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tab-item" id="tab2" >
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    <label>년월</label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="month" class="form-control2" id="startdate2" name="startdate">
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label>사원명</label>
                                </dt>
                                <dd>
                                    <select style="width: 150px;" id="person_name" name="person_name"></select>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="work_division2">근무구분</label>
                                </dt>
                                <dd>
                                    <select style="width: 150px;" id="work_division2" name="work_division2"></select>
                                </dd>
                            </dl>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="저장" id="btnSave2">
                                        <img src="/images/icon/ico-edit.svg" alt="저장 아이콘">
                                        월정산
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-excell" title="저장" id="btnSave3">
                                        <img src="/images/icon/ico-edit.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="monthly-grid" style="height: 650px; max-height: 650px;"></div>
                    </div>

                </section>
            </div>
        </div>
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 24px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>

</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript">
        class DayMonthlyPage {
            constructor() {
                this.viewData = new wijmo.collections.CollectionView();
                this.viewData2 = new wijmo.collections.CollectionView();
                this.viewData3 = new wijmo.collections.CollectionView();
                this.grid = null;
                this.grid2 = null;
                this.grid3 = null;
                this.workList = [];
                this.init();
            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#day-grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: false,
                    frozenColumns: 9,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }

                        if (e.panel.cellType === wijmo.grid.CellType.Cell &&
                            sender.columns[e.col].binding === 'fixflag') {
                            e.cell.textContent = '';
                        }
                        if (e.panel.cellType === wijmo.grid.CellType.Cell &&
                            sender.columns[e.col].binding === 'fixflag') {
                            const fixflag = sender.getCellData(e.row, 'fixflag', false);
                            if (fixflag === '1') {
                                e.cell.style.pointerEvents = 'none'; // 클릭 자체 방지
                                e.cell.style.opacity = '0.6'; // 시각적 표시
                            }
                        }
                    },
                    columns: [
                        {binding: 'fixflag', header: '마감', width: 70, align: 'center'},
                        {binding: 'row_num', header: '순번', width: 70, align: 'center'},
                        {binding: 'workymd', header: '일자', width: 100, align: 'center' },
                        {binding: 'first_name', header: '사원명', width: 120, align: 'center' },
                        {binding: 'jik_id', header: '직위', width: 100, align: 'center' },
                        {binding: 'starttime', header: '출근', width: 100, align: 'center' },
                        {binding: 'endtime', header: '퇴근', width: 100, align: 'center'},
                        /*{binding: 'worknm', header: '구분', width: 100, align: 'center'},*/
                        {
                            binding: 'worknm',
                            header: '구분',
                            width: 150,
                            align: 'center',
                            dataMap: null,
                            cellTemplate: '${text}'
                        },
                        {binding: 'nomaltime', header: '근무시간', width: 100, align: 'center'},
                        {binding: 'worktime', header: '총근무시간', width: 100, align: 'center'},
                        {binding: 'jitime', header: '지각', width: '*', align: 'center'},
                        {binding: 'overtime', header: '연장', width: '*', align: 'center'},
                        {binding: 'nighttime', header: '야간', width: '*', align: 'center'},
                        {binding: 'yuntime', header: '휴가', width: '*', align: 'center'},
                        {binding: 'abtime', header: '결근', width: '*', align: 'center'},
                        {binding: 'holitime', header: '특근', width: '*', align: 'center'},
                    ],
                    itemsSource: this.viewData, // 데이터를 설정할 배열
                });
                this.getWorkList();

                // 셀 편집 방지
                this.grid.beginningEdit.addHandler((s, e) => {
                    const fixflag = s.getCellData(e.row, 'fixflag', false);

                    if (fixflag === '1') {
                        e.cancel = true;
                    }
                });



                let selector = new wijmo.grid.selector.Selector(this.grid, {
                    itemChecked: (s, e) => {
                        // 방어: e.row 유효성 검사
                        if (e.row == null || e.row < 0 || e.row >= this.grid.rows.length) return;

                        // fixflag 값 가져오기
                        const fixflag = this.grid.getCellData(e.row, 'fixflag', false);

                        if (fixflag === '1') {
                            // 체크 해제 막기: 강제로 다시 선택 상태로 복원
                            setTimeout(() => {
                                this.grid.rows[e.row].isSelected = true;
                            }, 0);
                        }
                    }
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '일별근태현황';



                const todayYM = CommonUtil.getYYYYMMDD().substring(0, 7);
                $('#startdate').val(todayYM);
                this.viewData2 = this.getMonthDates(todayYM);


                this.grid2 = new wijmo.grid.FlexGrid('#grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }

                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            const col = sender.columns[e.col];
                            if (col.binding === 'weekday') {
                                const weekday = sender.getCellData(e.row, e.col, false);

                                // 일단 색 초기화
                                e.cell.style.color = ''; // 이전 스타일 초기화

                                // 요일에 따라 색상 설정
                                if (weekday === '일') {
                                    e.cell.style.color = 'red';
                                } else if (weekday === '토') {
                                    e.cell.style.color = 'blue';
                                }
                            }
                        }

                    },
                    columns: [
                        {binding: 'date', header: '일자', width: '*', align: 'center'},
                        {binding: 'weekday', header: '요일', width: '*', align: 'center'},
                    ],
                    itemsSource: this.viewData2, // 데이터를 설정할 배열
                });

                this.grid2.selectionChanged.addHandler(() => {
                    this.searchMainData();
                });

                new FlexGridContextMenu(this.grid2);
                this.grid2.downloadFileName = '일/월별근태현황';

                // startdate 변경 시 grid 갱신
                $('#startdate').on('change', function () {
                    const selectedYM = $(this).val();
                    _this.viewData2 = _this.getMonthDates(selectedYM);
                    _this.grid2.itemsSource = _this.viewData2;
                });



                this.grid3 = new wijmo.grid.FlexGrid('#monthly-grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                    },
                    columns: [
                        {binding: '', header: '마감', width: 70, align: 'center'},
                        {binding: '', header: '사원명', width: 120, align: 'left' },
                        {binding: '', header: '직위', width: 120, align: 'left' },
                        {binding: '', header: '근무일수', width: 120, align: 'center'},
                        {binding: '', header: '정상일', width: 120, align: 'center'},
                        {binding: '', header: '시간', width: 120, align: 'center'},
                        {binding: '', header: '지각', width: '*', align: 'center'},
                        {binding: '', header: '조퇴', width: '*', align: 'center'},
                        {binding: '', header: '연장', width: '*', align: 'center'},
                        {binding: '', header: '야간', width: '*', align: 'center'},
                        {binding: '', header: '휴가', width: '*', align: 'center'},
                        {binding: '', header: '결근', width: '*', align: 'center'},
                        {binding: '', header: '특근', width: '*', align: 'center'},
                    ],
                    itemsSource: this.viewData3, // 데이터를 설정할 배열
                });

                let selector2 = new wijmo.grid.selector.Selector(this.grid3, {
                    itemChecked: (e, ctx) => {
                        SelectItem = this.grid3.rows.filter(r => r.isSelected);

                    }
                });

                /*this.grid.hostElement.addEventListener('dblclick', (e) => {
                    let hitTest = this.grid.hitTest(e);
                    if (hitTest.cellType === wijmo.grid.CellType.Cell) {
                        let row = hitTest.row;
                        let selectedItem = this.grid.rows[row].dataItem;
                        _this.showDetail(selectedItem.id)
                    }
                });*/

                new FlexGridContextMenu(this.grid3);
                this.grid3.downloadFileName = '월별근태현황';

            }

            // 월별 일자/요일 생성 함수
            getMonthDates(ym) {
                const [year, month] = ym.split('-').map(Number);
                const dateList = [];
                const lastDate = new Date(year, month, 0).getDate(); // 말일

                for (let day = 1; day <= lastDate; day++) {
                    const date = new Date(year, month - 1, day);

                    // 로컬 기준 YYYY-MM-DD 포맷
                    const yearStr = date.getFullYear();
                    const monthStr = ('0' + (date.getMonth() + 1)).slice(-2);
                    const dayStr = ('0' + date.getDate()).slice(-2);
                    const dateStr = `${yearStr}-${monthStr}-${dayStr}`;

                    const weekDay = ['일', '월', '화', '수', '목', '금', '토'][date.getDay()];
                    dateList.push({
                        date: dateStr,
                        weekday: weekDay
                    });
                }
                return dateList;
            }


            searchMainData() {
                let _this = this;
                let url = '/api/clock/DayMonthly';

                // 선택된 row index
                let selRow = this.grid2.selection.row;

                // 선택된 date 값 (없으면 오늘 날짜로)
                let selectedDate = '';
                if (selRow >= 0) {
                    selectedDate = this.grid2.getCellData(selRow, this.grid2.columns.getColumn('date').index, false);
                } else {
                    // 오늘 날짜 (YYYY-MM-DD)
                    const today = new Date();
                    const year = today.getFullYear();
                    const month = ('0' + (today.getMonth() + 1)).slice(-2);
                    const day = ('0' + today.getDate()).slice(-2);
                    selectedDate = `${year}-${month}-${day}`;
                }

                // 전송할 데이터
                let data = {
                    serchday: selectedDate,
                    work_division: $('#work_division').val(),
                    spjangcd: sessionStorage.getItem('spjangcd'),
                };

                let result = AjaxUtil.getSyncData(url + '/read', data);

                if (result && result.data) {
                    console.log(result.data);
                    _this.viewData.sourceCollection = result.data;


                    // fixflag 값이 "1"인 row는 체크된 상태로 만들기
                    setTimeout(() => {
                        _this.grid.rows.forEach((row, idx) => {
                            if (_this.grid.getCellData(idx, 'fixflag', false) === '1') {
                                row.isSelected = true;
                            }
                        });
                    });
                }
            }

            getWorkList() {
                const _this = this;
                let csrfToken = $("[name=_csrf]").val();

                let data = {
                    spjangcd: sessionStorage.getItem('spjangcd')
                };

                $.ajax({
                    url: '/api/clock/DayMonthly/workcdList',
                    type: 'POST',
                    data: data,
                    headers: {
                        'X-CSRF-TOKEN': csrfToken
                    },
                    success: function(response) {
                        _this.workList = response.data;

                        let worknmColumn = _this.grid.columns.find(col => col.binding === 'worknm');
                        if (worknmColumn) {
                            worknmColumn.dataMap = getTradeTypeDataMap(_this.workList);
                            _this.grid.refresh(true);
                        }
                    },
                    error: function(err) {
                        console.error("workcdList 가져오기 실패:", err);
                    }
                });
            }



            //searchMainData


            saveday() {
                let _this = this;
                let url = '/api/clock/DayMonthly/save';


                // 선택된 행들 가져오기
                let selectedItems = _this.grid.rows
                    .filter(row => row.isSelected)  // Selector에서 체크된 행
                    .map(row => row.dataItem);

                // 유효성 체크
                if (selectedItems.length === 0) {
                    Alert.alert('', '선택된 행이 없습니다.');
                    return;
                }

                // 서버로 전송할 데이터
                let data = {
                    list: selectedItems
                };

                console.log(data);

                let fnSuccess = function (res) {
                    if (res.success) {
                        Alert.alert('','저장되었습니다'); // Notification
                        _this.searchMainData();
                    }  else if (!res.success) {
                        Alert.alert('', res.message);
                    }
                };
                AjaxUtil.postJsonData(url, data, fnSuccess);
            }


        }
        function getTradeTypeDataMap(list){
            return new wijmo.grid.DataMap(list, 'workcd', 'worknm');
        }


        let page = null;

        $(document).ready(function (e) {
            //yullinAuth.inspection();
            yullinAuth.removeWriteButton();
            page = new DayMonthlyPage();

            $('#startdate2').val(CommonUtil.getYYYYMMDD().substring(0, 7));
            AjaxUtil.fillSelectOptions($('#work_division').add('#work_division2'), 'system_code', '', '', 'work_division');
            AjaxUtil.fillSelectOptions($('#person_name'), 'person', 'choose', false);

            page.searchMainData();

            $('#btnSearch').click(function (ex) {
                page.searchMainData();
            });

            $('#btnSave').click(function (e) {
                Alert.confirm('',
                    "저장하시겠습니까?",
                    function () { page.saveday() },
                    function () { }
                );
            });

        });
    </script>

</th:block>

</html>