<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .wj-header {
            text-align: center !important;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>근태설정</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>근태현황</li>
                <li>근태설정</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                </div>
                <div class="button-wrap">
                    <ul>
                        <li>
                            <button type="button" class="btn-excell" id="btnNew" name="btnNew"
                                    style="height: 36px; width:115px;">
                                <i class="fas fa-plus"></i>신규등록
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-wrap" style=" overflow-x: auto;">
                <form id="unitForm">
                    <table>
                        <caption style="text-align: left; margin-bottom: 8px;">등록테이블</caption>
                        <colgroup>
                            <col class="wp15">
                            <col class="wp18">
                            <col class="wp15">
                            <col class="wp18">
                            <col class="wp15">
                            <col class="wp18">
                        </colgroup>
                        <input type="hidden" id="id" name="id"/>
                        <thead>
                            <tr>
                                <th colspan="6">
                                    주간
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <label for="name">출근시간</label>
                                </th>
                                <td>
                                    <input type="time" id="name" name="name" style="width: 100%;" value="09:00">
                                </td>

                                <th>
                                    <label for="">연장시작</label>
                                </th>
                                <td >
                                    <input type="time" id="" name="" style="width: 100%;" value="18:00">
                                </td>

                                <th>
                                    <label for="">야간시작</label>
                                </th>
                                <td >
                                    <input type="time" id="" name="" style="width: 100%;" value="20:00">
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="name">퇴근시간</label>
                                </th>
                                <td>
                                    <input type="time" id="name" name="name" style="width: 100%;" value="18:00">
                                </td>

                                <th>
                                    <label for="">연장종료</label>
                                </th>
                                <td >
                                    <input type="time" id="" name="" style="width: 100%;" value="20:00">
                                </td>

                                <th>
                                    <label for="">야간종료</label>
                                </th>
                                <td >
                                    <input type="time" id="" name="" style="width: 100%;" value="22:00">
                                </td>
                            </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th colspan="6">
                                야간
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <label for="name">출근시간</label>
                            </th>
                            <td>
                                <input type="time" id="name" name="name" style="width: 100%;" value="18:00">
                            </td>

                            <th>
                                <label for="">연장시작</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="00:00">
                            </td>

                            <th>
                                <label for="">야간시작</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="22:00">
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="name">퇴근시간</label>
                            </th>
                            <td>
                                <input type="time" id="name" name="name" style="width: 100%;" value="22:00">
                            </td>

                            <th>
                                <label for="">연장종료</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="00:00">
                            </td>

                            <th>
                                <label for="">야간종료</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="04:00">
                            </td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th colspan="6">
                                기타
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <label for="name">출근시간</label>
                            </th>
                            <td>
                                <input type="time" id="name" name="name" style="width: 100%;" value="00:00">
                            </td>

                            <th>
                                <label for="">연장시작</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="00:00">
                            </td>

                            <th>
                                <label for="">야간시작</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="00:00">
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="name">퇴근시간</label>
                            </th>
                            <td>
                                <input type="time" id="name" name="name" style="width: 100%;" value="00:00">
                            </td>

                            <th>
                                <label for="">연장종료</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="00:00">
                            </td>

                            <th>
                                <label for="">야간종료</label>
                            </th>
                            <td >
                                <input type="time" id="" name="" style="width: 100%;" value="00:00">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <!--//tab-wrap end-->
        </section>


        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                </div>
             <!--//section-top end -->
                <div class="button-wrap">
                    <ul>
                        <li>
                            <a class="btn btn-excell" title="저장" id="btnSave2">
                                <img src="/images/icon/ico-edit.svg" alt="저장 아이콘">
                                신규
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-excell" title="근태내역가져오기" id="btnSave3">
                                <img src="/images/icon/ico-edit.svg" alt="근태내역가져오기 아이콘">
                                삭제
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-excell" title="잔여일재계산" id="btnSave4">
                                <img src="/images/icon/ico-edit.svg" alt="잔여일재계산 아이콘">
                                저장
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="wp40">
                    <div class="container-fluid col">
                        <p id="selectedItem"></p>
                        <div id="subject-grid" style="height: 200px; max-height:200px;"></div>
                    </div>
                </div>

                <div class="col wp30" style="margin-left: 500px;">
                    <div class="section">
                        <form id="companyPriceForm">
                            <table class="write-table">
                                <caption style="text-align: left; margin-bottom: 8px;">상세테이블</caption>
                                <input type="text" id="price_id" name="price_id" hidden/>
                                <tbody>
                                <tr>
                                    <th>
                                        <label for="name">구분</label>
                                    </th>
                                    <td>
                                        <input type="text" id="" name="" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="">연차</label>
                                    </th>
                                    <td>
                                        <input type="checkbox" id="" name="" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="">비고</label>
                                    </th>
                                    <td>
                                        <input type="text" id="" name="" style="width: 100%;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div> <!--//layout-contents end -->

    <footer style="margin-top: 24px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>

</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript">
        class YearlyPage {
            constructor() {
                this.url = '/api/definition/area';
                this.viewData = new wijmo.collections.CollectionView();
                this.grid = null;
                this.init();
            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#subject-grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    frozenColumns: 9,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                    },
                    columns: [
                        {binding: '', header: '연차', width: 100, align: 'center'},
                        {binding: '', header: '구분', width: 120, align: 'center'},
                        {binding: '', header: '비고', width: '*', align: 'center'},
                    ],
                    itemsSource: this.viewData, // 데이터를 설정할 배열
                });

                /*this.grid.hostElement.addEventListener('dblclick', (e) => {
                    let hitTest = this.grid.hitTest(e);
                    if (hitTest.cellType === wijmo.grid.CellType.Cell) {
                        let row = hitTest.row;
                        let selectedItem = this.grid.rows[row].dataItem;
                        _this.showDetail(selectedItem.id)
                    }
                });*/

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '사원별근태현황';

            }


            showDetail(idx) {
                let param = {'id': idx};

                let result = AjaxUtil.getSyncData(this.url + '/detail', param);
                if (result.success) {
                    FormUtil.BindDataForm(result.data, $('#basicForm'));
                    //$('#description').text(result.description);
                }

                //page.setButtonDisable(false, false, false);
                page.setButtonState();
            }

            searchMainData() {
                let _this = this;
                //let txtName = $('#txtName').val();
                //let url = '/api/definition/area?txtName='+txtName;
                /* let data = {
                     'txtName' :$('#txtName').val(),
                     //'action':'read'
                 }
                 let result = AjaxUtil.getSyncData(this.url+'/read', data);
                 console.log(result);

                 if (result && result.data) {
                     _this.viewData.sourceCollection = result.data;
                 }*/

            }//searchMainData

            saveArea() {
                let _this = this;
                let url = '/api/definition/area/save';
                //데이터입력체크루틴 누락

                //let data = $('#basicForm').serialize();
                let data = FormUtil.extractForm($('#basicForm'));
                if (!data.name) {
                    Alert.alert('', '에어리어 이름을 입력해주세요.');
                    $('#basicForm #name').focus();
                    return;
                }

                let fnSuccess = function (res) {
                    if (res.success) {
                        Alert.alert('', '저장되었습니다'); // Notification
                        _this.searchMainData();
                    } else if (!res.success) {
                        Alert.alert('', res.message);
                    }
                };
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }


        }

        let page = null;

        $(document).ready(function (e) {
            //yullinAuth.inspection();
            yullinAuth.removeWriteButton();
            page = new YearlyPage();
            page.searchMainData();

            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');

            $('#start_date').val(`${year}-${month}-01`);

            const lastDay = new Date(year, now.getMonth() + 1, 0).getDate();
            $('#end_date').val(`${year}-${month}-${String(lastDay).padStart(2, '0')}`);

            $('#btnSearch').click(function (ex) {
                page.searchMainData();
            });

        });
    </script>

</th:block>

</html>