<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="layout-contents">
    <input type="hidden" id="bhId" th:value="${bh_id}" />
    <input type="hidden" id="data_date" th:value="${data_date}" />
    <input type="hidden" id="search_cond" th:value="${searchcond}" />
    <input type="hidden" id="viewMode" th:value="${view_mode}" />
    <div class="page-title-wrap">
        <div class="left">
            <h2>검증점검표-선행요건(소규모HACCP)</h2>
            <a title="북마크" class="bookmark toggle">
                내 메뉴
            </a>
        </div>
        <ul class="page-navi">
            <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
            <li>HACCP 관리</li>
            <li>검증점검표-선행요건(소규모HACCP)</li>
        </ul>
    </div>

    <section class="section">
        <div class="section-card-wrap">
            <div class="col-5">
                <table class="write-table">
                    <tbody>
                    <tr>
                        <th style="text-align: center">
                            <label for="title">일지명</label>
                        </th>
                        <td>
                            <input class="form-control2 tac" type="text" id="title" name="title"/>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: center">
                            <label for="dataDate">점검일</label>
                        </th>
                        <td>
                            <input class="form-control2 tac" type="date" id="dataDate" name="dataDate"
                                   disabled/>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: center">
                            <label for="firstName">작성자</label>
                        </th>
                        <td>
                            <input class="form-control2 tac" type="text" id="firstName" name="firstName"
                                   disabled/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <div id="approveBox"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="section-top">
            <div class="search-wrap">
                <h3>점검 목록</h3>
            </div>
            <div class="button-wrap">
                <button type="button" class="btn" id="btnDiaryPrint">일지출력</button>
                <button type="button" class="btn" id="btnReqAppr">결재상신</button>
                <button type="button" class="btn" id="btnAppr" style="display:none;">승인</button>
                <button type="button" class="btn" id="btnReject" style="display:none;">반려</button>
                <button type="button" class="btn" id="btnSave">저장</button>
                <button type="button" class="btn" id="btnDelete">삭제</button>
                <button type="button" class="btn" id="btnList">목록</button>
            </div>
        </div>
        <div class="grid_box" id="main_grid">
            <div id="check_item_result_grid" style="height: 570px;"></div>
        </div>
    </section>
    <section class="section">
        <div class="section-top">
            <div class="search-wrap" style="justify-content: flex-start; align-items: flex-end;">
                <dl>
                    <dt>
                        <label for="standard">
                            기준점수
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input class="form-control2 tac" type="number" value=0 id="standard" name="standard" disabled/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="result_sum">
                            배점합계
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input class="form-control2 tac" type="number" value=0 id="result_sum" name="result_sum" disabled/>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="is_ok">
                            적합여부
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <input class="form-control2 tac" type="text" value="부적합" id="is_ok" name="is_ok" disabled />
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </section>
</div>

<script type="text/x-tmpl" id="imagePopup">
    <div class="content_wrap modal-content popup">
    	<div class ="row">
	        <div class="col-12">
	            <div class="input-group">
	                <div class="input-group-prepend">
	                    <span class="input-group-text fit_box_t5" data-labelCd="점검항목명">점검항목명</span>
	                </div>
	                <input class="form-control2 tac" type="text" id="pop_item_name" disabled="disabled" />
	            </div>
	        </div>
	     </div>
        <section class="pt-2 ">
            <div id="image_div" style="text-align:center;">
  	            <img src="{%=o.src%}"/>
            </div>
        </section>
    </div>
</script>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/approve_box :: approve_box"></th:block>
<th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
<script type="text/javascript">
    class CheckResultDiaryPage {
        constructor() {
            this.grid = null;
            this.approveBoxUtil = null;
            this.resultGrid = null;
            this.checkMasterName = '검증점검표-선행요건(소규모haccp)'
            this.baseUrl = '/api/haccp/verifi_check_prereq';
            this.init();
        }

        init() {
            let _this = this;
            
			this.gparam = {
				bh_id : $('#bhId').val(),
				data_date : $('#data_date').val(),
				search_cond: $('#search_cond').val(),
				view_mode: $('#viewMode').val(),
			};

            this.resultGrid = new wijmo.grid.FlexGrid('#check_item_result_grid', {
                autoGenerateColumns: false,
                selectionMode: wijmo.grid.SelectionMode.Row,
                frozenColumns: 0,
                frozenRows: 0,
                allowSorting: false,
                headersVisibility: wijmo.grid.HeadersVisibility.Column,
                allowMerging: wijmo.grid.AllowMerging.Cells,
                itemsSource: new wijmo.collections.CollectionView([]),
                autoRowHeights: true,
                columns: [
                    { binding: 'id', header: '번호', width: 100, align: 'right', visible: false },
                    { binding: 'index_order', header: '순번', width: 50, align: 'center', isReadOnly: true },
                    { binding: 'group1', header: '구분1', width: 130, align: 'left', visible: false },
                    { binding: 'group2', header: '구분2', width: 130, align: 'left', visible: false },
                    { binding: 'group3', header: '구분3', width: 130, align: 'left', visible: false },
                    { binding: 'item_name', header: '점검항목명', width: 650, align: 'left', isReadOnly: true },
                    {
                        binding: 'result1',
                        header: '배점(입력)',
                        width: 150,
                        align: 'center',
                        isReadOnly: false,
                        dataType: wijmo.DataType.Number
                    },
                    { binding: 'result2', header: '비고', width: 130, align: 'left', isReadOnly: false },
                    {
                        binding: 'not_appli',
                        header: '해당없음',
                        width: 100,
                        align: 'center',
                        isReadOnly: false,
                        dataType: wijmo.DataType.Boolean
                    }
                ],
                formatItem: (s, e) => {
                    let col = s.columns[e.col];
                    let item = s.rows[e.row].dataItem;

                    if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                        e.cell.style.textAlign = 'center';
                    }

                    if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                        e.cell.style.whiteSpace = "normal";
                        e.cell.style.wordBreak = "break-word";
                        e.cell.style.overflow = "visible";
                        e.cell.style.display = "flex";             // Flexbox 적용
                        e.cell.style.alignItems = "center";        // 수직 가운데 정렬
                    }

                    // item_name 컬럼만 왼쪽 정렬, 나머지는 가운데 정렬
                    if (col.binding === "item_name" || col.binding === "result2") {
                        e.cell.style.justifyContent = "flex-start";  // 왼쪽 정렬
                    } else {
                        e.cell.style.justifyContent = "center";  // 그 외는 중앙 정렬
                    }

                    // **💡 특정 컬럼만 배경색 변경 (ex. result1 컬럼만)**
                    if (e.panel.cellType === wijmo.grid.CellType.Cell && col.binding === "result1") {
                        if (item.not_appli || item.result1 === "해당없음") {
                            e.cell.style.backgroundColor = "#f8d2cb"; // 빨간색 배경
                        } else {
                            e.cell.style.backgroundColor = "#dcf0f8"; // 파란색 배경
                        }
                    }
                }
            });

            this.resultGrid.lostFocus.addHandler(() => {
                this.resultGrid.collectionView.commitEdit(); // 편집 종료 및 저장
            });

            this.resultGrid.beginningEdit.addHandler((s, e) => {
                let col = s.columns[e.col];
                let item = s.rows[e.row].dataItem;

                if (col.binding === "not_appli") {
                    let cell = s.hostElement.querySelector(`.wj-cell[data-c="${e.col}"][data-r="${e.row}"]`);
                    let checkbox = cell ? cell.querySelector("input[type='checkbox']") : null;

                    // 체크박스가 존재하지 않거나, 클릭된 요소가 체크박스가 아니면 편집 방지
                    if (!checkbox || e.nativeEvent.target !== checkbox) {
                        e.cancel = true;
                    }
                }

                if (col.binding === "result1" && (item.not_appli || item.result1 === "해당없음")) {
                    e.cancel = true; // 편집 방지
                }
            });

            this.resultGrid.cellEditEnded.addHandler((s, e) => {
                let col = s.columns[e.col];
                let item = s.rows[e.row].dataItem;

                if (col.binding === "result1" && item.result1 > item.max_value) {
                    item.result1 = item.max_value; // max_value 초과 시 자동 수정
                    this.resultGrid.collectionView.commitEdit(); // 즉시 저장 및 UI 반영
                    this.resultGrid.invalidate(); // UI 업데이트
                }

                this.resultGrid.collectionView.commitEdit(); // 즉시 저장 및 UI 반영
                this.resultGrid.invalidate(); // UI 업데이트
            });

            this.resultGrid.hostElement.addEventListener('click', (e) => {
                const ht = this.resultGrid.hitTest(e);
                if (ht.cellType === wijmo.grid.CellType.Cell) {
                    const col = this.resultGrid.columns[ht.col];
                    const item = this.resultGrid.rows[ht.row]?.dataItem;

                    if (!$('#viewMode').val()) {
                        if (col.binding === 'result1' && item.result_type === 'OX') {
                            switch (item.result1) {
                                case null:
                                    item.result1 = 'O';
                                    break;
                                case 'O':
                                    item.result1 = 'X';
                                    break;
                                case 'X':
                                    item.result1 = null;
                                    break;
                            }
                            // this.resultGrid.collectionView.refresh();
                        }

                        if (col.binding === 'not_appli') {
                            item.not_appli = !item.not_appli;
                            item.result1 = item.not_appli ? "해당없음" : "";
                            this.resultGrid.collectionView.refresh();
                            this.resultGrid.invalidate(); // UI 업데이트
                            this.setDynamicStandard();
                            this.setResultCollector();
                            this.calcIsOk();
                        }

                        if (col.binding === 'item_name') {
                            // _this.showImagePopup(item.id, item.item_name);
                        }
                    }
                }
            });

            this.resultGrid.collectionView.collectionChanged.addHandler((s, e) => {
                if (e.action === wijmo.collections.NotifyCollectionChangedAction.Change) {

                    this.setDynamicStandard();
                    this.setResultCollector();
                    this.calcIsOk();

                    this.resultGrid.invalidate();
                }
            });


            if ($('#viewMode').val()) {
                this.resultGrid.columns.find(c => c.binding === "result2").isReadOnly = true;
                this.resultGrid.columns.find(c => c.binding === "not_appli").visible = false;
            }
        }
        
        showImagePopup(dataPk, item_name){
			let url = '/api/common/attach_file/detailFiles';
            let data = {
                'attachName': 'check_item_image',
                'TableName': 'check_item',
                'DataPk': dataPk
            }
            let attach_file = AjaxUtil.getSyncData(url, data);
            
			if (attach_file.data[0]) {
				let data = { src: "/api/check/check_item/ImgShow?dataPk=" + dataPk };
				
	            let content = tmpl("imagePopup", data);
	            let $content = $(content);
	            let modalContainer = new PopupDraggable("세부 점검기준");
	            
	            let img = new Image();
		        img.src = data.src;
		        img.onload = function () {
		            let maxWidth = window.innerWidth * 0.8; // 80% of window width
		            let maxHeight = window.innerHeight * 0.8; // 80% of window height
		
		            let imgWidth = img.width;
		            let imgHeight = img.height;
		
		            let ratio = Math.min(maxWidth / imgWidth, maxHeight / imgHeight);
		
		            // Set new image dimensions
		            let newImgWidth = imgWidth * ratio;
		            let newImgHeight = imgHeight * ratio;
		
		            $content.find('img').css({
		                'width': newImgWidth + 'px',
		                'height': newImgHeight + 'px',
		                'max-width': '100%',
	                	'max-height': '100%'
		            });
		
		            modalContainer.open({ width: newImgWidth, height: newImgHeight, $content });
		            $content.find('#pop_item_name').val(item_name);
		        };
            }
		}

        setDynamicStandard() {
            let standard_val = 0;
            this.resultGrid.collectionView.items.forEach(item => {
                if (item.result_type === 'N' && !item.not_appli) {
                    standard_val += Number(item.max_value);
                }
            });
            $('#standard').val(standard_val);
        }

        setResultCollector() {
            let value = 0;
            this.resultGrid.collectionView.items.forEach(item => {
                if (!item.not_appli && item.result1 !== "해당없음") {
                    value += Number(item.result1);
                }
            });
            $('#result_sum').val(value);
        }
		
		calcIsOk(){
			let _this = this;
			
			let standard_val = $('#standard').val();
			let sum_val = $('#result_sum').val();
			
			var percent = Math.round(sum_val/standard_val*100);
			
			if(percent>=85){
				$('#is_ok').val('적합');
				$('#is_ok').css("color","blue");
			}
			else{
				$('#is_ok').val('부적합');
				$('#is_ok').css("color","red");
			}
		}

        checkAllItem() {
            this.resultGrid.collectionView.items.forEach(item => {
                if (item.result_type === 'N' && !item.not_appli) {
                    item.result1 = item.max_value;
                }
            });
            this.resultGrid.collectionView.refresh();
        }
        
        // 일지 조회
        searchMainData() {
            let _this = this;
            $('#btnDiaryPrint').hide();
            $('#btnDelete').hide();

            $('#firstName').val(userinfo.username);
            $('#title').val(_this.checkMasterName);

            if ($('#bhId').val() > 0) {
                let param = {
                    'bh_id': $('#bhId').val(),
                };

                let result = AjaxUtil.getSyncData(_this.baseUrl + '/read', param);

                if (result != null) {
                    let headInfo = result.data.head_info;
                    let diaryInfo = result.data.diary_info;
                    //let actionInfo = result.data.action_info;

                    $('#title').val(headInfo.Title);
                    $('#dataDate').val(headInfo.DataDate);
                    $('#firstName').val(headInfo.FirstName);

                    _this.resultGrid.itemsSource.sourceCollection =diaryInfo;

		            _this.setDynamicStandard();
                    _this.setResultCollector();
					_this.calcIsOk();
                    _this.viewModeSetting(headInfo)
                } 

            }else {
                _this.searchItemList();
            }

            // head_id, task_code, src_data_pk, src_table_name, dept_id, shift
            _this.approveBoxUtil = new ApproveBoxUtil(0, _this.checkMasterName, $('#bhId').val(), 'bundle_head', false, false);
            _this.approveBoxUtil.print($('#viewMode').val());
            if (_this.approveBoxUtil.isApprUser()) {
                // 결재자의 경우 버튼 처리
                $('#btnAppr').show();
                $('#btnReject').show();
            }
        }
        
        searchItemList() {
            let _this = this;

            let param = {
                //'action': 'read',
                'srch_check_name': _this.checkMasterName
            }
            
            let check_master_info = AjaxUtil.getSyncData('/api/check/check_master/read', param);
            _this.check_master_id = check_master_info.data[0].id

            let data = {
                //'action': 'read',
                'check_master_id': _this.check_master_id,
                'check_date': $('#dataDate').val(),
                'start_date': $('#dataDate').val(),
                'end_date': $('#dataDate').val(),
            }

            let result = AjaxUtil.getSyncData('/api/check/check_item/read', data);

			// 최초 등록 시 기준점수
			var standard_val = 0;
            result.data.forEach(function (item, idx) {
                item.result1 = null;
                standard_val += Number(item.max_value);
            })
            
            $('#standard').val(standard_val);
            
            _this.calcIsOk();

            _this.resultGrid.itemsSource.sourceCollection =result.data;

        }

        viewModeSetting(headInfo) {
             // 데이터에 따른 버튼 설정
            if ($('#viewMode').val().toLowerCase() === 'true') {
                //보기 모드일 경우 CRUD 버튼 숨김
                $('#btnDiaryPrint').hide();
                $('#btnReqAppr').hide();
                $('#btnSave').hide();
                $('#btnDelete').hide();
                $('#btnAllItem').hide();
                if (headInfo.State === 'approval') {
                    $('#btnDiaryPrint').show();
                }

                $('#title').attr('disabled', 'disabled');
                $('#dataDate').attr('disabled', 'disabled');

            }
            else {
                // State : 작성, 미결재, 승인, 반려, 재상신
                $('#btnDelete').show();
                $('#btnDiaryPrint').hide();
                if (headInfo.State === 'process' || headInfo.State === 'reprocess') {
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#btnAllItem').hide();
                } else if (headInfo.State === 'approval') {
                    $('#btnDiaryPrint').show();
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#btnAllItem').hide();
                }

                if (parseInt($('#bhId').val(), 10) > 0) {
                    $('#dataDate').attr('disabled', 'disabled');
                } else {
                    $('#btnDelete').hide();
                }
            }
        }

        // 일지 출력
        printDiary() {
            let param = {
                'title': $('#title').val(),
                'bh_id': $('#bhId').val(),
            };

            let result = AjaxUtil.postSyncData(this.baseUrl + '/print', param, function () { });
            if (result.success) {
                CommonUtil.openWindow('/api/files/pdf_viewer?file_id=' + result.file_id)
            }
            else {
                Alert.alert('', '일지 생성 중 오류가 발생했습니다. 관리자에게 문의하세요.');
            }
        }

        //결재
        appr(isAppr) {
            let _this = this;
            _this.approveBoxUtil.approval(isAppr, function () {
                $('#btnList').click();
            });
        }

        //결재상신
        reqAppr() {
            let _this = this;
            let title = $('#title').val();
            let url = '/gui/' + gui.gui_code + '/edit';
            let urlParam = {
                'bh_id': $('#bhId').val(),
                'data_date': $('#dataDate').val(),
            };

            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));
            if (ret.success) {
                Notify.success('결재상신하였습니다.');
                $('#btnList').click();
            }
        }

        //저장
        save(isAppr) {
            let _this = this;
            let resultNullCheck = false;

            this.resultGrid.collectionView.items.forEach(item => {
                if ((item.result1 == null || item.result1 === '') && !item.not_appli && item.result_type === 'N') {
                    resultNullCheck = true;
                }
            });

            let callback = function () {

                let items = _this.resultGrid.collectionView.items.map(item => ({
                    id: item.id,
                    result1: item.result1,
                    result2: item.result2
                }));
          
                let data = {
                    bh_id: $('#bhId').val(),
                    check_master_id: _this.check_master_id,
                    title: $('#title').val(),
                    data_date: $('#dataDate').val(),
                    Q: JSON.stringify(items),
                };
                
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        $('#bhId').val(resp.data.id);
                        if (isAppr) {
                            // 결재요청
                            _this.reqAppr();
                        } else {
                            // 임시저장
                            Notify.success('저장하였습니다.');
                            $('#btnDelete').show();
                            $('#dataDate').attr('disabled', 'disabled');
                            _this.searchMainData();
                        }
                    } else {
                        Alert.alert('', resp.message);
                    }
                };
                let action = $('#bhId').val() > 0 ? '/save' : '/insert';
                
                AjaxUtil.postAsyncData(_this.baseUrl + action, data, fnSuccess);
            }

            if (resultNullCheck) {
                Alert.alert("", "점검결과를 모두 입력해주세요.");
                return;
            }
            if (isAppr) {
                Alert.confirm('', '결재상신하시겠습니까?', function () {
                    callback();
                });
            }
            else {
                Alert.confirm('', '저장하시겠습니까?', function () {
                    callback();
                });
            }
        }

        //삭제
        delete() {
            let _this = this;
            Alert.confirm('', '삭제하시겠습니까?', function () {
                // 삭제 서비스 호출
                let param = {
                    bh_id: $('#bhId').val(),
                }
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        Notify.success('삭제하였습니다.');
                        $('#btnList').click();
                    } else {
                        Alert.alert('', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '/delete', param, fnSuccess);
            });
        }

    }

    let page = null;

    $(document).ready(function (e) {
        page = new CheckResultDiaryPage();

			
        $('#dataDate').val(page.gparam.data_date);

        $('#btnAllItem').click(function (e) {
            page.checkAllItem();
        });

        // 일자 변경
        $('#dataDate').change(function () {
            page.searchMainData();
        });

        // 일지 출력
        $('#btnDiaryPrint').on('click', function () {
            page.printDiary();
        });

        // 결재상신
        $('#btnReqAppr').on('click', function () {
            page.save(true);
        });

        // 승인
        $('#btnAppr').on('click', function () {
            page.appr(true);
        });

        // 반려
        $('#btnReject').on('click', function () {
            page.appr(false);
        });

        // 임시저장
        $('#btnSave').on('click', function () {
            page.save(false);
        });

        // 삭제
        $('#btnDelete').on('click', function () {
            page.delete();
        });

        // 목록
        $('#btnList').on('click', function () {
            if (page.gparam.appr_view) {
                location.href = encodeURI('/gui/' + page.gparam.appr_view + '?searchcond=' + page.gparam.search_cond);
            }
            else {
                location.href = encodeURI('/gui/' + gui.gui_code + '?searchcond=' + page.gparam.search_cond);
            }
        });
        
        page.searchMainData();
        
        //multiLine true로 인해 그리드 밑 짤림 버그 -> 그리드 높이 동적 조정
        //page.setResultGridHeight();

    });
</script>
</th:block>
</html>
