<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>출하 처리A</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>출하관리</li>
                <li>출하처리A(수량)</li>
            </ul>
        </div>
        <form id="searchForm" autocomplete="off">
            <section class="section">
                <div class="section-top">
                    <div class="search-wrap">


                        <dl>
                            <dt>
                                <label>
                                    출하일<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <div class="srch-box">
                                    <input type="date"id="srchStartDt" name="srchStartDt"  />
                                    <span class="slow_sign">~</span>
                                    <input type="date" id="srchEndDt" name="srchEndDt" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label>
                                    업체
                                </label>
                            </dt>
                            <dd>
                                <select class="form-control2" id="cboCompany" name="cboCompany" >
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label>
                                    품목그룹
                                </label>
                            </dt>
                            <dd>
                                <select class="" id="cboMatGroup" name="cboMatGroup" >
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label>
                                    품목<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <select class="" id="cboMaterial" name="cboMaterial" >
                                </select>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label>
                                    품목명<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <input type="text" class="" id="keyword" name="keyword" />
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label>
                                    출하대기<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <input type="checkbox" id="chkNotShipped" name="chkNotShipped" value="Y" checked />
                            </dd>
                        </dl>
                        <dl>
                            <dt>&nbsp;</dt>
                            <dd>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!--<div class="section-top">
                    <div class="search-wrap">


                    </div>
                </div>-->
            </section>
        </form>


        <section class="section">
            <div class="title_box">
                <div class="left_align">
                    <label class="switch" >
                        <input type="checkbox" checked id="btnListCollapse"><span class="slider round"></span>
                    </label>
                    출하 처리 대상 보기/감추기

                </div>
            </div>
            <div class="grid_box" id="divList">
                <div class="title_box">
                    <span class="right_align rpt" data-labelCd="출하지시">출하지시</span>
                    <button  class="btn-default" id="btnBatchSave" data-labelCd="일괄 출하 처리">일괄 출하 처리</button>
                </div>
                <div id="theGrid" style="height: 350px;"></div>
            </div>
        </section>

        <section >

            <div class="row">

                <div class="col-12" >

                    <div class="grid_box">

                        <div class="title_box buttons">
                            <span class="right_align rpt" data-labelCd="출하">출하</span>
                            <button class="btn-default y_write_auth" id="btnSaveShip" data-labelCd="출하 처리">출하 처리</button>
                        </div>
                        <div id="theGrid2" style="height: 350px;"></div>
                    </div>
                </div>

            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
    <script type="text/javascript">

        let gUrl = '/api/shipment/shipment_do_a';
        let $content;
        let SelectItem = [];
        let deleteData = [];

        let updateIndex;


        class ShipmentProcessPage {
            constructor() {
                this.grid1 = null;
                this.grid2 = null;
                this.head_id = 0;
                this.ship_state = '';
                this.viewData = new wijmo.collections.CollectionView();
                this.viewData2 = new wijmo.collections.CollectionView();

                this.init();
            }

            init() {
                let _this = this;
                this.grid1 = new wijmo.grid.FlexGrid('#theGrid', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    allowSorting: 'MultiColumn',
                    selectionMode: wijmo.grid.SelectionMode.Row, // 행 단위 선택
                    isReadOnly: false,
                    columns: [
                        {binding: 'company_id', header: '판매처번호', width: '*', align: 'right', visible: false},
                        {binding: 'company_name', header: '판매처', width: '*', align: 'left', isReadOnly: true},
                        {binding: 'ship_date', header: '출하일', width: '*', align: 'center', isReadOnly: true},
                        {binding: 'tot_order_qty', header: '총지시량', width: '*', align: 'right', isReadOnly: true},
                        {binding: 'tot_ship_qty', header: '총출하량', width: '*', align: 'right', isReadOnly: true},
                        {binding: 'state_name', header: '상태', width: '*', align: 'center', isReadOnly: true},
                        {binding: 'description', header: '비고', width: '*', align: 'left', isReadOnly: true},
                    ],
                    itemsSource: this.viewData,
                    formatItem: function (s, e) {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center'; // 헤더 텍스트 가운데 정렬
                        }
                    },

                });
                // 데이터 로드 후 초기 선택 상태 해제
                this.grid1.loadedRows.addHandler(() => {
                    setTimeout(() => {
                        this.grid1.select(-1, -1); // 선택 상태 초기화
                    }, 0); // 비동기로 처리하여 초기 선택 해제
                });
                let isInitialLoad = true; // 초기 상태 플래그

                this.grid1.selectionChanged.addHandler((s, e) => {
                    if (isInitialLoad) {
                        isInitialLoad = false; // 초기 로드 이후 플래그 해제
                        this.grid1.select(-1, -1); // 선택 상태 해제
                        return;
                    }

                    let selectedRowIndex = s.selection.row; // 선택된 행의 인덱스
                    if (selectedRowIndex >= 0) { // 유효한 행이 선택되었는지 확인
                        let selectedRowData = s.rows[selectedRowIndex].dataItem; // 선택된 행의 데이터


                        _this.head_id = selectedRowData.id;
                        _this.ship_state = selectedRowData.state;
                        _this.showShipMatList(_this.head_id);

                        console.log(`선택된 행 인덱스: ${selectedRowIndex}`);
                        console.log('선택된 행 데이터:', selectedRowData);

                    }
                });
                new FlexGridContextMenu(this.grid1);
                this.grid1.downloadFileName = '출하지시';
                let selector = new wijmo.grid.selector.Selector(this.grid1, {
                    itemChecked: (e, ctx) => {
                        SelectItem = this.grid1.rows.filter(r => r.isSelected);

                    }
                });



                this.grid2 = new wijmo.grid.FlexGrid('#theGrid2', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    allowDelete: true,
                    isReadOnly: true,
                    columns: [
                        {binding: 'ship_pk', header: 'pk', width: '*', align: 'left', visible: false},
                        {binding: 'mat_grp_name', header: '제품그룹', width: '*', align: 'left'},
                        {binding: 'mat_code', header: '제품코드', width: '*', align: 'center', isReadOnly: true},
                        {binding: 'mat_name', header: '제품명', width: '*', align: 'left', isReadOnly: true},
                        {binding: 'unit_name', header: '단위', width: '*', align: 'center', isReadOnly: true},
                        {binding: 'order_qty', header: '지시량', width: '*', align: 'right', isReadOnly: true},
                        {binding: 'ship_qty', header: '출하량', width: '*', align: 'right', isReadOnly: true},
                        {binding: 'description', header: '비고', width: '*', align: 'left', isReadOnly: true},
                        {binding: 'src_table_name', header: '소스', width: '*', align: 'left', isReadOnly: true, visible: false},
                        {binding: 'src_data_pk', header: '소스pk', width: '*', align: 'left', isReadOnly: true, visible: false},

                    ],
                    itemsSource: this.viewData2,
                    formatItem: function (s, e) {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center'; // 헤더 텍스트 가운데 정렬
                        }
                    },

                });
                // 데이터 로드 후 초기 선택 상태 해제
                this.grid2.loadedRows.addHandler(() => {
                    setTimeout(() => {
                        this.grid2.select(-1, -1); // 선택 상태 초기화
                    }, 0); // 비동기로 처리하여 초기 선택 해제
                });
                let isInitialLoad2 = true; // 초기 상태 플래그

                this.grid2.selectionChanged.addHandler((s, e) => {
                    if (isInitialLoad2) {
                        isInitialLoad2 = false; // 초기 로드 이후 플래그 해제
                        return;
                    }

                    let selectedRowIndex = s.selection.row; // 선택된 행의 인덱스
                    if (selectedRowIndex >= 0) { // 유효한 행이 선택되었는지 확인
                        let selectedRowData = s.rows[selectedRowIndex].dataItem; // 선택된 행의 데이터

//                        page.updateIndex = this.dindex;

                        console.log(`선택된 행 인덱스: ${selectedRowIndex}`);
                        console.log('선택된 행 데이터:', selectedRowData);

                    }
                });
                new FlexGridContextMenu(this.grid2);
                this.grid2.downloadFileName = '출하';
            }

            searchMain() {

                let not_ship = $('#chkNotShipped').is(':checked') ? 'Y' : 'N';

                let data = FormUtil.extractForm($('#searchForm'));
                data['action'] = 'order_list';
                data['not_ship'] = not_ship;

                let result = AjaxUtil.getSyncData(gUrl + "/order_list", data);
                if (result.data != null) {
                    this.viewData.sourceCollection = result.data;
                }

                this.grid2.itemsSource = new wijmo.collections.CollectionView([]);
                return;

            }

            showShipMatList(head_id){

                if (page.grid1.selectedItems.length == 0) {
                    Alert.alert('', '항목 선택해 주세요.'); return;
                }

                this.grid2.itemsSource = new wijmo.collections.CollectionView([]);

                let data = {};
                data['action'] = 'shipment_item_list';
                data['head_id'] = head_id;
                let result = AjaxUtil.getSyncData(gUrl + "/shipment_item_list", data);

                if (result.data != null) {
                    this.addNewRow(result.data);
                }
            }

            addNewRow(new_data) {
                let cv = this.grid2.collectionView;

                console.log('chk', new_data);

                new_data.forEach(item => {
                    let newRow = {
                        ship_pk : item['ship_pk'],
                        mat_grp_name : item['mat_grp_name'],
                        mat_code : item['mat_code'],
                        mat_name : item['mat_name'],
                        unit_name : item['unit_name'],
                        order_qty : item['order_qty'],
                        ship_qty: item['ship_qty'],
                        description: item['description'],
                        src_table_name : item['src_table_name'],
                        src_data_pk : item['src_data_pk']
                    };
                    cv.addNew(newRow);
                });

            }

            beforeSave(){
                if(page.grid2.selectedItems.length == 0){
                    Alert.alert('', '출하 처리할 내용이 없습니다.'); return;
                }
                return true;
            }

            saveShipData(){
                let data = {};
                let head_id = page.head_id;
                data = {
                    'head_id': head_id,
                    'Q' : JSON.stringify(page.grid2.collectionView.items)
                }
                console.log('data', data);
                let fnSuccess = function (res) {
                    if (res.success) {
                        page.searchMain();
                        Notify.success("출하 처리 완료.");
                    } else {
                        Notify.success("출하 처리 실패.");
                    }
                }
                AjaxUtil.postAsyncData(gUrl + "/save_shipdata_a", data, fnSuccess);

            }

            saveBatchShipData() {
                let _this = this;

                let headList = [];

                SelectItem.forEach(item => {
                    headList.push(item._data);
                })

                console.log(headList);
                if (headList.length === 0 || headList === undefined || headList === null) {
                    Alert.alert('', '일괄 출하 처리할 항목을 선택해주세요.');
                    return;
                }

                let data = { 'shiphead_list': JSON.stringify(headList)};

                let fnSuccess = function (res) {
                    if (res.success) {
                        page.searchMain();
                        Notify.success("출하 처리 완료.");
                    } else {
                        Notify.success("출하 처리 실패.");
                    }
                }

                Alert.confirm('', '일괄 출하 처리 하시겠습니까?',
                    function () {
                        AjaxUtil.postAsyncData(gUrl + "/batch_save", data, fnSuccess);
                    },
                    function () { }
                );
            }

        }

        document.addEventListener("DOMContentLoaded", function () {
            const keywordInput = document.getElementById("keyword");

            keywordInput.addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault(); // 기본 동작 방지
                    page.searchMain();
                }
            });
        });


        let page = null;

        $(document).ready(function (e) {
            page = new ShipmentProcessPage();

            AjaxUtil.fillSelectOptions($('#cboCompany'), 'company', 'all', '', 'sale');
            AjaxUtil.fillSelectOptions($('#cboMatGroup'), 'material_group', 'all', '', 'product,semi,sangpum');
            AjaxUtil.fillSelectOptions($('#cboMaterial'), 'material', 'all', '', null);
            $('#cboMatGroup').change(function (e) {
                let mat_grp_pk = $('#cboMatGroup').val();
                AjaxUtil.fillSelectOptions($('#cboMaterial'), 'material', 'all', '', mat_grp_pk);
            });

            $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-7));
            $('#srchEndDt').val(CommonUtil.getYYYYMMDD());

            $('#btnListCollapse').click(function (e) {
                $('#divList').toggle(300);
            });

            // 검색
            $('#btnSearch').click(function (e) {
                page.searchMain();
            });

            $('#btnBatchSave').click(function (e) {
                page.saveBatchShipData();
            });


            $('#btnSaveShip').click(function (e) {
                if (page.beforeSave()) {
                    Alert.confirm('', "출하 처리하시겠습니까?",
                        function () {
                            page.saveShipData();
                        },
                        function () { }
                    );
                }
            });

            $('#cboCompany').change(function () {
                // 판매처 타이틀
                $('#cboCompany').attr('title', $('#cboCompany option:checked').text());
            });

            page.searchMain();
        })
    </script>

</th:block>
</html>