<html layout:decorate="~{layout_page}">
<head>
    <style>
        @media (max-width: 1366px) {

            /*.write-table input, .write-table select{*/
            /*    width: 280px;*/
            /*}*/

            .write-table textarea {
                height: 80px;
            }

        }

        @media screen and (max-width: 1366px) {
            .page-title-wrap {
                display: none;   /* 1366px 이하 → 숨김 */
            }
        }

        @media screen and (min-width: 1367px) {
            .page-title-wrap {
                display: flex;  /* 1367px 이상 → 보임 */
            }
        }

    </style>
</head>
<th:block layout:fragment="content">
    <div class="layout-contents">

        <div class="page-title-wrap">
            <div class="left">
                <h2>계량 공정</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>생산 관리</li>
                <li>계량 공정</li>
            </ul>
        </div>
        <div style="display: flex; gap: 5px;">
            <section class="section" style="width: 50%; height: 100%;">

                <div class="section-top">
                    <div class="search-wrap">
                        <dl>
                            <dt>
                                일자<span class="eq">*</span>
                            </dt>
                            <dd>
                                <ul class="date-box">
                                    <li>
                                        <input type="date" id="srchStartDt" name="srchStartDt">
                                        <label for="srchStartDt" class="hide">시작일</label>
                                    </li>
                                </ul>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label for="cboWorkShift">
                                    근무조<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <div class="srch-box">
                                    <select id="cboWorkShift" name="cboWorkShift">
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label for="cboWorkCenter">
                                    워크센터<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <div class="srch-box">
                                    <select id="cboWorkCenter" name="cboWorkCenter">
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>&nbsp;</dt>
                            <dd>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </dd>
                        </dl>
                        <dl>
                            <dt>&nbsp;</dt>
                            <dd>
                                <button type="button" class="btn pull-right mr-1 btnHeaderCompress" title="화면 확대/축소">
                                    <i class="fas fa-compress" id="iCompress"></i>
                                </button>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="container-fluid">
                    <div id="joborderGrid" style="height: 685px;"></div>
                </div>
            </section>

            <div class="tab-wrap" style="width:100%; height: 100%; display: none;">

                <section class="section-left" style="width: 50%;">

                    <input type="hidden" id="jr_pk">
                    <input type="hidden" id="mp_id" name="mp_id"/>
                    <div class="title_box">
                        투입 계획
                    </div>
                    <div class="button-wrap">
                        <ul>
                            <li>
                                <a class="btn" title="뒤로 가기" id="btnCancelInspect">뒤로 가기</a>
                            </li>
                            <li>
                                <button type="button" class="btn pull-right mr-1 btnHeaderCompress" title="화면 확대/축소">
                                    <i class="fas fa-compress" id="iCompress2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="container-fluid" style="flex: 1; overflow: hidden;">
                        <div id="consumed-grid" style="height: 100%;"></div>
                    </div>

                </section>
                <section class="section-right" style="width: 50%;">
                    <div class="title_box">
                        로트 입력창
                    </div>
                    <div class="button-wrap">
                        <ul style="display: flex; align-items: flex-end; ">
                            <li>
                                <button type="button" class="btn" id="btnInputLotSelect" title="로트검색"><i
                                        class="fas fa-plus"></i></button>
                            </li>
                            <li>
                                <button type="button" class="btn" id="btnLotSelectDel" title="로트삭제"><i
                                        class="fas fa-trash"></i></button>
                            </li>
                            <li>
                                로트번호
                                <input type="text" id="txtInputLot" class="w-200 tac"
                                       placeholder="로트번호를 스캔하세요"
                                       autocomplete="off"
                                       lang="en"
                                       inputmode="latin"
                                       style="height: 36px;"/>
                            </li>
                            <li>
                                <button type="button" class="btn" id="btnInputLotSave" title="로트투입 저장"><i
                                        class="fas fa-edit"></i></button>
                            </li>
                            <li>
                                품목코드 필터 :  <input type="text" id="txtInputCode"
                                            placeholder="계획 선택"
                                            autocomplete="off" style="width:100px; height: 36px;"/>
                            </li>
                        </ul>
                    </div>
                    <div class="container-fluid" style="flex: 1; overflow: hidden;">
                        <div id="input-lot-grid" style="height: 100%;"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <th:block th:replace="/common/popup_consu_material :: materialSearchTemplate"></th:block>
    <th:block th:replace="/common/popup_consu_mat_lot :: matLotSearchTemplate"></th:block>
    <th:block th:replace="/common/popup_lot_input :: LotInputTemplate"></th:block>

    <script type="text/x-tmpl" id="workorder_table_tmpl">
        <table class="table_1" style="width: 400px;border-collapse: collapse;">
            <tr>
                <td class="tac">품목코드</td>
                <td>{%=o.mat_code%}</td>
                <td class="tac">워크센터</td>
                <td>{%=o.workcenter_name%}</td>
            </tr>
            <tr>
                <td class="tac">생산품명</td>
                <td colspan="3">{%=o.mat_name%}</td>
            </tr>
            <tr>
                <td class="tac">생산량</td>
                <td>{%=o.good_qty%}</td>
                <td class="tac">생산단위</td>
                <td>{%=o.unit%}</td>
            </tr>

            <tr>
                <td class="tac">생산일자</td>
                <td colspan="3">{%=o.prod_date%} {%=o.end_time%}</td>
            </tr>
            <tr>
                <td class="tac">유효기한</td>
                <td colspan="3">{%=o.ValidDays%}</td>
            </tr>
            <tr>
                <td colspan="4" class="barcode_td">
                    <svg id='svgBarcodeWorkOrderNumber'></svg>
                </td>
            </tr>
        </table>

    </script>
    <script type="text/x-tmpl" id="lotnumber_table_tmpl">
        <table class="table_1" style="width: 400px;border-collapse: collapse;">
            <tr>
                <td class="tac">품목코드</td>
                <td>{%=o.mat_code%}</td>
                <td class="tac">워크센터</td>
                <td>{%=o.workcenter_name%}</td>
            </tr>
            <tr>
                <td class="tac">생산품명</td>
                <td colspan="3">{%=o.mat_name%}</td>
            </tr>
            <tr>
                <td class="tac">생산량</td>
                <td>{%=o.good_qty%}</td>
                <td class="tac">생산단위</td>
                <td>{%=o.unit%}</td>
            </tr>

            <tr>
                <td class="tac">생산일자</td>
                <td colspan="3">{%=o.prod_date%} {%=o.end_time%}</td>
            </tr>
            <tr>
                <td class="tac">유효기한</td>
                <td colspan="3">{%=o.ValidDays%}</td>
            </tr>
            <tr>
                <td colspan="4" class="barcode_td">
                    <svg id='svgBarcodeLotNumber'></svg>
                </td>
            </tr>
        </table>

    </script>

</th:block>


<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/resource/jsBarcode/JsBarcode.all.min.js"></script>
    <script type="text/javascript">

        class ProdMensuPage {
            constructor() {
                this.grid = null;
                this.chasuGrid = null;
                this.defectGrid = null;
                this.inputLotGrid = null;
                this.consumedGrid = null;
                this.jobres = null;
                this.selectedIndex = null;
                this.modifiedItems = [];
                this.$tabBasic = $('#tabBasic');
                this.baseUrl = '/api/production/prod_mensu';
                this._procCascadeBound = false;
                this._suppressProcessChange = false;
                this.baseByOrder = this.baseByOrder || {};
                this.currentOrderNum = this.currentOrderNum || null;
                this._hasRouting = false;
                this.suppressSelect = true;
                this.init();
            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#joborderGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    isReadOnly: true,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                    },
                    columns: [
                        { binding: 'work_order_number', header: '작업 지시 번호', width: 150, align: 'center' },
                        { binding: 'mat_name', header: '제품', width: 200, align: 'left' },
                        { binding: 'unit_name', header: '단위', width: 100, align: 'center' },
                        { binding: 'order_qty', header: '지시량', width: 100, align: 'right'},
                        { binding: 'work_index', header: '작업 순서', width: 100, align: 'center' },
                        { binding: 'production_date', header: '생산일', width: 120, align: 'center' },
                        { binding: 'workcenter_name', header: '워크 센터', width: 100, align: 'center' },
                        { binding: 'shift_name', header: '근무조', width: 100, align: 'center' },
                        { binding: 'state_name', header: '상태', width: 100, align: 'center' }
                    ]
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '작업 지시 내역';

                this.grid.hostElement.addEventListener('click', function(e) {
                    let ht = _this.grid.hitTest(e);
                    if (ht.cellType === wijmo.grid.CellType.Cell) {
                        let item = _this.grid.rows[ht.row].dataItem;
                        if (item) {

                            $('#txtInputCode').val('');
                            document.getElementById("jr_pk").value = item.jr_pk;
                            // showConsumedList 호출
                            _this.showConsumedList();

                            // showInputLotList 호출
                            _this.showInputLotList();

                            const $section = $('.section');
                            const $tabWrap = $('.tab-wrap');
                            $section.hide();
                            $tabWrap.css({
                                'display': 'flex',
                                'flex-direction': 'row'
                            });

                            // ✅ LOT 입력창 포커스
                            setTimeout(() => {
                                $('#txtInputLot').focus();
                            }, 100);
                        }
                    }
                });


                this.inputLotGrid = new wijmo.grid.FlexGrid('#input-lot-grid', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    frozenColumns: 0, // 열 고정
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    allowSorting: true, // 모든 컬럼 정렬 가능
                    columns: [
                        {binding: 'mpi_id', align: 'left', visible: false},
                        {binding: 'mat_code', header: '품목코드', width: 100, align: 'left', isReadOnly: true},
                        {binding: 'mat_name', header: '품목', width: 250, align: 'left', isReadOnly: true},
                        {
                            binding: 'req_qty',
                            header: '투입요청량',
                            width: 100,
                            align: 'right',
                            format: 'n4',
                            isReadOnly: true
                        },
                        {binding: 'unit_name', header: '단위', width: 80, align: 'center', isReadOnly: true},
                        {binding: 'lot_number', header: '로트번호', width: 150, align: 'center', isReadOnly: true},
                        {
                            binding: 'cur_stock',
                            header: '현재재고',
                            width: 100,
                            align: 'right',
                            format: 'n4',
                            isReadOnly: true
                        },
                        {binding: 'mat_type_name', header: '제품구분', width: 100, align: 'center', isReadOnly: true},
                        {binding: 'StoreHouseName', header: '창고', width: 150, align: 'center', isReadOnly: true}
                    ],
                    itemsSource: new wijmo.collections.CollectionView([]), // 빈 데이터로 초기화
                    itemFormatter: (panel, row, col, cell) => {
                        if (panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            cell.style.textAlign = 'center';
                        }
                    }
                });

                this.inputLotGrid.hostElement.addEventListener('dblclick', function(e) {
                    const ht = this.inputLotGrid.hitTest(e);
                    const jr_pk = $('#jr_pk').val();
                    if (ht.panel === this.inputLotGrid.cells) {
                        const item = this.inputLotGrid.rows[ht.row]?.dataItem;
                        if (item) page.showLotInput(item.lot_number, jr_pk, item.mpi_id);
                    }
                }.bind(this));

                // 합계 표시를 위한 컬럼 푸터 추가
                this.inputLotGrid.columnFooters.rows.push(new wijmo.grid.GroupRow());

                // 데이터 변경 시 합계 업데이트
                this.inputLotGrid.collectionView.collectionChanged.addHandler(() => {
                    _this.updateFooter();
                });

                this.consumedGrid = new wijmo.grid.FlexGrid('#consumed-grid', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    frozenColumns: 0, // 열 고정
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    allowSorting: true, // 모든 컬럼 정렬 가능
                    columns: [
                        {binding: 'mat_code', header: '품목코드', width: 90, align: 'center', isReadOnly: true},
                        {binding: 'mat_name', header: '품목', width: 200, align: 'left', isReadOnly: true},
                        {
                            binding: 'request_qty_sum',
                            header: '로트투입량',
                            width: 90,
                            align: 'right',
                            format: 'n4',
                            isReadOnly: true
                        },
                        {
                            binding: 'bom_consumed',
                            header: '소요량(BOM)',
                            width: 90,
                            align: 'right',
                            format: 'n4',
                            isReadOnly: true
                        },
                        {
                            binding: 'weigh_display',
                            header: '칭량(완박스+잔량)',
                            width: 130,
                            align: 'center',
                            isReadOnly: true
                        },
                        {
                            binding: 'remain_input_qty',
                            header: '잔여량',
                            width: 90,
                            align: 'right',
                            format: 'n4',
                            isReadOnly: true
                        },
                        {
                            binding: 'box_kg',
                            header: '단위중량',
                            width: 80,
                            align: 'center',
                            isReadOnly: true
                        },
                        // {
                        //     binding: 'currentStock',
                        //     header: '현재재고',
                        //     width: 100,
                        //     align: 'right',
                        //     format: 'n4',
                        //     isReadOnly: true
                        // },
                        {binding: 'mat_type_name', header: '제품구분', width: 100, align: 'center', isReadOnly: true},
                        {binding: 'useyn', header: '사용중지여부', width: 100, align: 'center', isReadOnly: true},
                        {binding: 'lotUseYn', header: 'LOT관리 유무', width: 120, align: 'center', isReadOnly: true},
                        {binding: 'unit', header: '단위', width: 80, align: 'center', isReadOnly: true}
                    ],
                    itemsSource: new wijmo.collections.CollectionView([]), // 빈 데이터로 초기화
                    itemFormatter: (panel, row, col, cell) => {
                        const CellType = wijmo.grid.CellType;
                        cell.style.backgroundColor = '';
                        if (panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            cell.style.textAlign = 'center';
                        }
                        if (panel.cellType === CellType.Cell) {
                            const item = panel.rows[row].dataItem;

                            if (item && item.useyn === 'Y') {
                                cell.style.backgroundColor = '#f8d2cb';
                            }
                        }
                    }
                });

                new FlexGridContextMenu(this.consumedGrid);
                this.consumedGrid.downloadFileName = '투입 계획 내역';

                this.consumedGrid.hostElement.addEventListener('click', function(e) {
                    let ht = _this.consumedGrid.hitTest(e);
                    if (ht.cellType === wijmo.grid.CellType.Cell) {
                        let item = _this.consumedGrid.rows[ht.row].dataItem;
                        if (item && item.mat_code) {
                            const code = item.mat_code;
                            const $input = $('#txtInputCode');

                            // 입력창에 코드 설정
                            $input.val(code).trigger('input');

                            // 리스트 갱신 호출
                            _this.showInputLotList();
                        }
                    }
                });

                // 인풋 디바운스 핸들러는 기존 그대로
                (function() {
                    function debounce(fn, delay) {
                        let t = null;
                        return function(...args) {
                            clearTimeout(t);
                            t = setTimeout(() => fn.apply(this, args), delay);
                        };
                    }

                    const handler = debounce(() => {
                        if (typeof _this?.showInputLotList === 'function') _this.showInputLotList();
                        else if (typeof _this.showInputLotList === 'function') this.showInputLotList();
                    }, 200);

                    $('#txtInputCode').off('input.consumed').on('input.consumed', handler);
                })();

                // 클리어 버튼 클릭 시 값 비우고 'input' 이벤트 트리거
                $(document).on('click', '.input-clear .btn-clear', function (e) {
                    _this.showInputLotList();
                });

                AjaxUtil.fillSelectOptions($('#cboWorkShift'), 'shift', 'all', false);
                AjaxUtil.fillSelectOptions($('#cboWorkCenter'), 'workcenter', 'all', false);


                $('#srchStartDt').val(CommonUtil.getYYYYMMDD());

                $('#btnSearch').on('click', function (e) {
                    _this.searchMainData();
                });


            }

            // 하단 합계 업데이트 함수
            updateFooter() {

                let totalCurStock = 0;
                let totalReqQty = 0;
                let totalConsumedQty = 0;

                // inputLotGrid 합계 계산 (현재재고, 투입요청량, 생산소모량)
                if (this.inputLotGrid && this.inputLotGrid.collectionView) {
                    this.inputLotGrid.collectionView.items.forEach(item => {
                        totalCurStock += item.cur_stock || 0;
                        totalReqQty += item.req_qty || 0;
                        totalConsumedQty += item.consumed_qty || 0;
                    });

                    let footerRow = this.inputLotGrid.columnFooters.rows[0];

                    this.inputLotGrid.columnFooters.setCellData(footerRow.index, 'mat_name', '합계');
                    this.inputLotGrid.columnFooters.setCellData(footerRow.index, 'cur_stock', totalCurStock);
                    this.inputLotGrid.columnFooters.setCellData(footerRow.index, 'req_qty', totalReqQty);
                    // this.inputLotGrid.columnFooters.setCellData(footerRow.index, 'consumed_qty', totalConsumedQty);
                }
            }


            // 작업목록 조회
            searchMainData() {
                let _this = this;

                let $cboWorkShift = $('#cboWorkShift');
                let $cboWorkCenter = $('#cboWorkCenter');

                let shift_code = $cboWorkShift.val();
                let workcenter_pk = $cboWorkCenter.val()

                //if (shift_code == '' || workcenter_pk == '') {
                if (workcenter_pk === '') {
                    $('#btnUp, #btnDown, #btnWorkIndexSave').attr('disabled', true);
                } else {
                    $('#btnUp, #btnDown, #btnWorkIndexSave').removeAttr('disabled');
                }

                let data = {
                    data_date: $('#srchStartDt').val(),
                    shift_code: shift_code,
                    workcenter_pk: workcenter_pk
                };

                let fnsuccess = function (result) {
                    if (result != null) {
                        _this.grid.itemsSource = new wijmo.collections.CollectionView(result.data);
                    }
                };
                AjaxUtil.getAsyncData(_this.baseUrl + '/job_order_list', data, fnsuccess);
            }

            // 투입목록 조회
            showConsumedList() {
                let _this = this;
                let jobordItems = _this.grid.selectedItems[0];

                let param = {
                    'jr_pk': jobordItems.jr_pk,
                    'prod_date': jobordItems.production_date,
                    'mat_pk': jobordItems.mat_pk
                };


                let result = AjaxUtil.getSyncData(_this.baseUrl + '/consumed_list', param);
                if (result.data != null) {
                    let selectedKey = null;

                    // 갱신 전 선택행의 pk 저장 (예: mpi_id)
                    if (_this.consumedGrid.selection && _this.consumedGrid.selection.row > -1) {
                        let selItem = _this.consumedGrid.collectionView.currentItem;
                        if (selItem) {
                            selectedKey = selItem.mat_pk;   // 고유값 컬럼
                        }
                    }

                    _this.consumedGrid.itemsSource = result.data;
                    // console.log('selectedKey', selectedKey);
                    // 갱신 후 같은 pk 다시 선택
                    if (selectedKey != null) {
                        let cv = _this.consumedGrid.collectionView;
                        for (let i = 0; i < cv.items.length; i++) {
                            if (cv.items[i].mat_pk === selectedKey) {
                                _this.consumedGrid.select(i, 0); // 선택 위치
                                break;
                            }
                        }
                    }

                }
            }


            // 투입로트목록
            addMaterialLot() {
                let _this = this;
                let jobordItems = _this.grid.selectedItems[0];
                let jr_pk = jobordItems.jr_pk;

                let valid = true;
                let poppage = new PopupConsumMatLotPage();
                let lot_info = {};

                let searchcallback = function (lot, jr_pk) {
                    if (lot.length === 1) {
                        // 단일 로트투입
                        if (valid) {
                            lot_info['lot_id'] = lot[0].id;
                            lot_info['lot_number'] = lot[0].lot_number;
                            lot_info['input_qty'] = lot[0].input_qty;

                            $('#txtInputLot').val(lot[0].lot_number);
                            _this.showLotInput(lot[0].lot_number, jr_pk);

                        } else {
                            Alert.alert('', '해당 로트는 이미 추가되어있습니다.');
                        }
                    } else if (lot.length > 1) {
                        _this.multiSaveLotInput(lot);
                    }
                };

                poppage.show(jr_pk, searchcallback);
            }

            // 투입로트삭제
            delMaterialLot() {
                let _this = this;
                let select_grid = _this.inputLotGrid.selectedItems;
                let jr_pk = $('#jr_pk').val();
                let url = this.baseUrl + '/del_lot_list';

                if (select_grid.length === 0) {
                    Alert.alert('', '투입요청 제외할 그리드를 선택해주세요.');
                    return;
                }
                if (select_grid[0].consumed_qty > 0) {
                    Alert.alert('', '이미 투입된 요청내역은 삭제할 수 없습니다.');
                    return;
                }

                let mpi_pk = select_grid[0].mpi_id
                let data = {
                    'mpi_pk': mpi_pk,
                }

                let fnSuccess = function (res) {
                    if (res.success) {
                        Notify.success('삭제되었습니다.');
                        _this.showInputLotList();

                        _this.showConsumedList(jr_pk);

                        $('#txtInputLot').val('').focus();
                    } else {
                        Alert.alert('', res.message);
                    }
                }

                Alert.confirm('투입요청내역 삭제', '현재 투입요청내역을(로트번호 : ' + select_grid[0].lot_number + ')를 삭제하시겠습니까?',
                    function () {
                        AjaxUtil.postAsyncData(url, data, fnSuccess);
                    },
                    function () {
                    }
                )
            }

            // 자동처리
            fetchLotInfo(lot_number, jr_pk, mpi_id) {
                const url = '/api/popup/pop_prod_input/lot_info'; // ← 팝업에서 쓰는 LOT 조회 API로 바꾸세요

                let data = {
                    'action': 'lot_info',
                    'lot_number': lot_number,
                    'jr_pk': jr_pk,
                    'mpi_id': mpi_id
                };

                return new Promise((resolve, reject) => {
                    AjaxUtil.postAsyncData(url, data, (res) => {
                        if (res && res.success) {
                            const d = res.data || {};
                            // 필요하면 키 정규화
                            const lot = {
                                ...d,
                                lot_id: d.lot_id ?? d.id,
                                lot_number: d.lot_number ?? d.lotNumber
                            };
                            resolve({ lot, message: res.message || '' });  // ← message 함께 반환
                        } else {
                            reject(new Error(res?.message || 'LOT 조회 실패'));
                        }
                    });
                });
            }

            async showLotInput(lot_number, jr_pk, mpi_id) {

                try {
                    const { lot, message } = await this.fetchLotInfo(lot_number, jr_pk, mpi_id);
                    if (message) {
                        Alert.alert('', message);
                    }

                    const lotId = lot.id;
                    if (!lotId) throw new Error('LOT 검색에 실패했습니다.');

                    // 팝업에서 기본으로 넣던 규칙을 그대로 사용
                    const remain = parseFloat(lot.remain_input_qty ?? 0) || 0;
                    const autoQty =
                        parseFloat(lot.cur_stock) || 0;

                    // if (remain <= 0) {
                    //     Alert.alert('', '잔여 투입수량이 없습니다.');
                    //     return;
                    // }

                    if (autoQty > 0 && autoQty <= remain) {
                        // 조건 충족: 팝업 없이 바로 저장
                        // console.log('lot', lot);
                        this.saveLotInput(lot.id, autoQty, lot.mpi_id);
                        return;
                    }

                    // 조건 불충족: 기존처럼 팝업 열어서 사용자 입력 받기
                    const poppage = new PopupLotInputPage();
                    const callback = (sel) => {
                        // console.log('sel', sel);
                        const selLotId = sel.lot_id;
                        if (!selLotId) { Alert.alert('', 'LOT 검색에 실패했습니다.'); return; }
                        this.saveLotInput(selLotId, sel.input_qty, sel.mpi_id);
                    };
                    poppage.show(lot_number, callback, jr_pk, mpi_id);

                } catch (err) {
                    Alert.alert('', err.message || 'LOT 정보를 불러오지 못했습니다.');
                } finally {
                    this._savingLot = false;
                }
            }

            multiSaveLotInput(lot) {
                let _this = this;

                let url = this.baseUrl + '/multi_add_lot_input';
                let jr_pk = $('#jr_pk').val();

                let data = {
                    'jr_pk': jr_pk,
                    'Q': JSON.stringify(lot),
                };

                let fnSuccess = function (res) {
                    if (res.success) {
                        Notify.success('저장되었습니다');
                        _this.showInputLotList();

                        _this.showConsumedList(jr_pk);

                        $('#txtInputLot').val('').focus();
                    } else {
                        Alert.alert('', res.message);
                    }
                }

                AjaxUtil.postAsyncData(url, data, fnSuccess);

            }

            // 투입로트 저장
            saveLotInput(lot_id, input_qty, mpi_id) {
                let _this = this;

                let url = this.baseUrl + '/add_lot_input';
                let jobordItems = _this.grid.selectedItems[0];

                let jr_pk = jobordItems.jr_pk;

                let data = {
                    'jr_pk': jr_pk,
                    'lot_id': lot_id,
                    'input_qty': input_qty,
                    'mpi_id': mpi_id
                };

                let fnSuccess = function (res) {
                    if (res.success) {
                        Notify.success('저장되었습니다');
                        _this.showInputLotList();

                        _this.showConsumedList(jr_pk);

                        $('#txtInputLot').val('').focus();
                    } else {
                        Alert.alert('', res.message);
                    }
                }

                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }

            // 투입로트 조회
            showInputLotList() {
                let _this = this;
                let jobordItems = _this.grid.selectedItems[0];
                let jr_pk = jobordItems.jr_pk;
                let mat_code = $('#txtInputCode').val();

                let param = {
                    'jr_pk': jr_pk,
                    'mat_code': mat_code
                };

                let result = AjaxUtil.getSyncData(_this.baseUrl + '/input_lot_list', param);
                if (result.success) {
                    _this.inputLotGrid.itemsSource = result.data
                    _this.updateFooter();
                }
            }

        }

        let page = null;

        $(document).ready(function (e) {
            page = new ProdMensuPage();

            let date_from = CommonUtil.getYYYYMMDD();
            let today = CommonUtil.getYYYYMMDD();
            page.today = today;

            $('#date_from').val(date_from);
            $('#date_to').val(today);


            // 검색 버튼1
            $('#btnMainSearch').click(function (e) {
                page.jobres = null;
                page.searchMainData();
            });



            $('#btnInputLotSelect').click(function (e) {
                page.addMaterialLot();
            });

            $('#btnLotSelectDel').click(function (e) {
                page.delMaterialLot();
            });

            $('#btnInputLotSave').click(function (e) {
                e.preventDefault();
                let jr_pk = $('#jr_pk').val();
                let lot_number = $('#txtInputLot').val();
                page.showLotInput(lot_number, jr_pk);
            });

            $('#txtInputLot').on('input', function () {
                const jr_pk = $('#jr_pk').val();
                const lot_number = $(this).val().trim();

                // LOT 번호가 16자리면 바로 실행
                if (lot_number.length === 16) {
                    page.showLotInput(lot_number, jr_pk);

                    // ✅ 다음 스캔 대비 초기화
                    $(this).val('');
                }
            });

            // Tab 또는 Enter로 스캔되는 경우도 병행 처리
            $('#txtInputLot').on('keydown', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13 || e.keyCode === 9) {
                    e.preventDefault();
                    const jr_pk = $('#jr_pk').val();
                    const lot_number = $(this).val().trim();
                    if (lot_number !== '') {
                        page.showLotInput(lot_number, jr_pk);
                        $(this).val('');
                    }
                }
            });

            page.searchMainData();

            document.getElementById("txtInputLot").addEventListener("focus", function () {
                this.setAttribute("lang", "en");
            });

            $(document).ready(function () {
                const $section = $('.section');
                const $tabWrap = $('.tab-wrap');

                // ✅ 검사 취소 버튼 클릭 시 원래 화면 복귀
                $('#btnCancelInspect').on('click', function () {
                    $tabWrap.hide();
                    $section.show();
                });
            });


        });
    </script>
</th:block>
</html>
