<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>작업 준비</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>생산 관리</li>
                <li>작업 준비</li>
            </ul>
        </div>

        <div style="display: flex; gap: 5px">
            <section class="section" style="width: 50%; height: 100%;">

                <div class="section-top">
                    <div class="search-wrap">
                        <dl>
                            <dt>
                                일자<span class="eq">*</span>
                            </dt>
                            <dd>
                                <ul class="date-box">
                                    <li>
                                        <input type="date" id="srchStartDt" name="srchStartDt">
                                        <label for="srchStartDt" class="hide">시작일</label>
                                    </li>
                                </ul>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label for="cboWorkShift">
                                    근무조<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <div class="srch-box">
                                    <select id="cboWorkShift" name="cboWorkShift">
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label for="cboWorkCenter">
                                    워크센터<span class="eq"></span>
                                </label>
                            </dt>
                            <dd>
                                <div class="srch-box">
                                    <select id="cboWorkCenter" name="cboWorkCenter">
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>&nbsp;</dt>
                            <dd>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </dd>
                        </dl>
                    </div>
                    <div class="button-wrap">
                        <ul>
                            <li>
                                <a class="btn" title="위" id="btnUp">
                                    <i class="fas fa-arrow-up"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn" title="아래" id="btnDown">
                                    <i class="fas fa-arrow-down"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-excell" title="수정" id="btnWorkIndexSave">
                                    순서 저장
                                </a>
                            </li>
                            <li>
                                <a class="btn" title="위" id="btnMatReqSearch">
                                    소요량 조회
                                </a>
                            </li>
                            <li>
                                <span style="color: tomato">지시 상태의 품목만 표시됩니다.</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container-fluid">
                    <div id="joborderGrid" style="height: 685px;"></div>
                </div>
            </section>
            <div class="tab-wrap" style="width: 50%; height: 100%;">

                <ul class="tab-links">
                    <li><a href="#tab1">해당 소요 자재</a></li>
    <!--                <li><a href="#tab2">투입 요청 내역</a></li>-->
                </ul>
                <div >
                    <section class="tab-item" id="tab1" style="border-top-left-radius: 0;">
                        <div class="button-wrap"
                             style="display:flex; justify-content:space-between; align-items:center; margin-bottom:10px;">

                            <div style="display:flex; align-items:center; margin-bottom:5px;">
                                <label class="switch">
                                    <input type="checkbox" id="btnToggle">
                                    <span class="slider round"></span>
                                </label>
                                <span style="margin-left:5px;">부족분만 보기</span>
                            </div>

                            <div style="display:flex; align-items:center;">
                                <a class="btn" title="자재 입고" id="btnInput">
                                    자재 입고
                                </a>
                            </div>

                        </div>



                        <div class="container-fluid">

                            <div id="matreqGrid"></div>
                        </div>
                    </section>
<!--                    <section class="tab-item" id="tab2" style="border-top-left-radius: 0;">-->

<!--                        <div class="section-top">-->
<!--                            <div class="button-wrap">-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <a class="btn" title="위" id="btnInputReqSearch">-->
<!--                                            투입 요청 조회-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div id="inputReqGrid" style="height: 855px;"></div>-->
<!--                        </div>-->
<!--                    </section>-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-tmpl" id="addDataPopup">
        <div class="content_wrap popup">
            <div class="table-wrap">
                <form id="materialInoutForm">
                    <input type="hidden" id="mio_pk" name="mio_pk">
                    <table class="write-table">
                        <tbody>
                            <tr>
                                <th style="text-align: center">
                                    <label for="inoutDate">입고일</label>
                                </th>
                                <td>
                                    <input class="form-control2" id="inoutDate" name="inoutDate" type="datetime-local">
                                </td>
                                <th style="text-align: center; display:none">
                                    <label for="inoutSelect">입출 구분</label>
                                </th>
                                <td style="display:none;">
                                    <select id="inoutSelect" name="inoutSelect" disabled>
                                        <option value="in" selected>품목 입고</option>
                                        <option value="out">품목 출고</option>
                                        <option value="return">입고 반품</option>
                                        <option value="recall">출고 회수</option>
                                    </select>
                                    <input type="hidden" id="inoutSelect_hidden" name="inoutSelect_hidden">
                                </td>
                                <th style="text-align: center">
                                    <label for="InoutType">구분</label>
                                </th>
                                <td colspan="3">
                                    <select class="select_input" id="InoutType" name="InoutType" disabled></select>
                                    <input id="InoutType_hidden" name="InoutType_hidden" type="hidden">
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="cboMaterialType">품목유형</label>
                                </th>
                                <td>
                                    <input class="form-control2" id="cboMaterialType" name="cboMaterialType" readonly type="hidden"/>
                                    <input class="form-control2" id="cboMaterialTypeName" name="cboMaterialTypeName" readonly />
                                </td>
                                <th style="text-align: center">
                                    <label for="cboMaterialGroup">품목그룹</label>
                                </th>
                                <td>
                                    <input id="cboMaterialGroup" name="cboMaterialGroup" readonly type="hidden"/>
                                    <input id="cboMaterialGroupName" name="cboMaterialGroupName" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="Material_id">품목</label>
                                </th>
                                <td colspan="3">
                                    <input id="Material_id" name="Material_id" readonly type="hidden" />
                                    <input id="Material_name" name="Material_name" readonly placeholder="품목 조회 버튼을 클릭하여 선택하세요." />
                                    &nbsp;
                                    <a class="btn" title="품목 조회" id="btnMaterial">
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                        품목조회
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="cboCompany">구매처</label>
                                </th>
                                <td colspan="3">
                                    <input id="cboCompany" name="cboCompany" type="hidden">
                                    <input class="form-control2" type="text" id="CompanyName" name="CompanyName"
                                     placeholder="검색버튼을 클릭하여 구매처를 검색하세요" readonly/>
                                    &nbsp;
                                    <a class="btn btn-delete" title="검색" id="btnCompanySearch">
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                        구매처 검색
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="InoutQty">수량</label>
                                </th>
                                <td>
                                    <input id="InoutQty" name="InoutQty" />
                                </td>
                                <th style="text-align: center">
                                    <label for="StoreHouse_id">창고지정</label>
                                </th>
                                <td>
                                    <select id="StoreHouse_id" name="StoreHouse_id"  />
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="Description">비고</label>
                                </th>
                                <td colspan="3">
                                    <textarea style="height:80px;" id="Description" name="Description"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="popup-button">
                <button type="button" class="btn-popup" id="btnSave" ><span data-labelCd="저장">저장</span></button>
                <button type="button" class="btn-popup" id="btnDelete" style="display:none;" ><span data-labelCd="삭제">삭제</span></button>
                <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            </div>
        </div>

    </script>
</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/popup_material :: popup_material"></th:block>
    <th:block th:replace="/common/popup_company :: popup_company"></th:block>
    <script type="text/javascript">

        class PrepareProduction {
            constructor() {
                this.grid = null;
                this.matreqGrid = null;
                this.inputReqGrid = null;
                this.url = '/api/production/prod_prepare';

                this.initJobOrder();
                this.initMaterialRequired();
                // this.initInputRequest();
            }

            initJobOrder() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#joborderGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.All,
                    autoGenerateColumns: false,
                    isReadOnly: true,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                    },
                    columns: [
                        { binding: 'work_order_number', header: '작업 지시 번호', width: 150, align: 'center' },
                        { binding: 'mat_name', header: '제품', width: 200, align: 'left' },
                        { binding: 'unit_name', header: '단위', width: 100, align: 'center' },
                        { binding: 'order_qty', header: '투입량', width: 100, align: 'right'},
                        { binding: 'work_index', header: '작업 순서', width: 100, align: 'center' },
                        { binding: 'production_date', header: '생산일', width: 120, align: 'center' },
                        { binding: 'workcenter_name', header: '워크 센터', width: 100, align: 'center' },
                        { binding: 'shift_name', header: '근무조', width: 100, align: 'center' },
                        { binding: 'state_name', header: '상태', width: 100, align: 'center' }
                    ]
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '작업 지시 내역';

                let selector = new wijmo.grid.selector.Selector(this.grid, {
                    itemChecked: function () {

                    }
                })

                AjaxUtil.fillSelectOptions($('#cboWorkShift'), 'shift', 'all', false);
                AjaxUtil.fillSelectOptions($('#cboWorkCenter'), 'workcenter', 'all', false);


                $('#srchStartDt').val(CommonUtil.getYYYYMMDD());

                $('#btnSearch').on('click', function (e) {
                    _this.jobOrderSearch();
                });

                $('#btnUp').click(function (e) {
                    GridUtil.changeOrder('U', _this.grid);
                });

                $('#btnDown').click(function (e) {
                    GridUtil.changeOrder('D', _this.grid);
                });

                $('#btnWorkIndexSave').click(function (e) {
                    let length = _this.grid.itemsSource.items.length;
                    if (length === 0 || length === 1) {
                        return;
                    }
                    Alert.confirm('', '순서를 저장하시겠습니까?', function () {
                        _this.saveWorkIndex();
                    });

                });
            }

            saveWorkIndex() {
                let _this = this;
                let items = [];
                $.each(_this.grid.itemsSource.items, function (idx, item) {
                    items.push({id: item.id});
                });

                let strData = JSON.stringify(items);
                let data = {Q: strData};
                let fnsuccess = function (result) {
                    if (result.success) {
                        Notify.success('저장했습니다.');
                        _this.jobOrderSearch();
                    }
                };

                AjaxUtil.postAsyncData(this.url + '/save_work_index', data, fnsuccess);
            }

            jobOrderSearch() {
                let _this = this;

                let $cboWorkShift = $('#cboWorkShift');
                let $cboWorkCenter = $('#cboWorkCenter');

                let shift_code = $cboWorkShift.val();
                let workcenter_pk = $cboWorkCenter.val()

                //if (shift_code == '' || workcenter_pk == '') {
                if (workcenter_pk === '') {
                    $('#btnUp, #btnDown, #btnWorkIndexSave').attr('disabled', true);
                } else {
                    $('#btnUp, #btnDown, #btnWorkIndexSave').removeAttr('disabled');
                }

                let data = {
                    data_date: $('#srchStartDt').val(),
                    shift_code: shift_code,
                    workcenter_pk: workcenter_pk
                };

                let fnsuccess = function (result) {
                    if (result != null) {
                        _this.grid.itemsSource = new wijmo.collections.CollectionView(result.data);
                    }
                };
                AjaxUtil.getAsyncData(this.url + '/job_order_list', data, fnsuccess);

            }

            // 해당소요자재
            initMaterialRequired() {
                let _this = this;
                this.matreqView = new wijmo.collections.CollectionView([], {
                    filter: function(item) {
                        if ($('#btnToggle').prop('checked')) {
                            return item.cur_stock < item.requ_qty;  // 부족분만 보기
                        }
                        return true; // 전체 보기
                    }
                });
                this.matreqGrid = new wijmo.grid.FlexGrid('#matreqGrid', {
                    itemsSource: this.matreqView,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    formatItem: (s, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                        // 이동량 열 헤더 스타일 적용
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader
                            && s.columns[e.col].binding === 'input_req_qty') {
                            e.cell.style.color = '#5567ff'; // 글자 색깔 변경
                        }
                    },
                    columns: [
                        // { binding: 'mat_type_name', header: '품목 유형', width: 120, align: 'center' },
                        { binding: 'mat_group_name', header: '품목 그룹', width: 100, align: 'center' },
                        { binding: 'mat_code', header: '품목 코드', width: 100, align: 'center' },
                        { binding: 'mat_name', header: '품목명', width: 200, align: 'left' },
                        { binding: 'unit_name', header: '단위', width: 80, align: 'center' },
                        { binding: 'requ_qty', header: '소요량', width: 100, format:'n4', align: 'right' },
                        { binding: 'cur_stock', header: '창고 재고', width: 120, format:'n4', align: 'right' },
                        { binding: 'comp_name', header: '발주 업체', width: 120, align: 'left' },
                        { binding: 'process_stock', header: '공정창고 재고', width: 150, align: 'right', isReadOnly: true, visible: false },
                        { binding: 'proc_safety_stock', header: '공정안전재고', width: 150, align: 'right', isReadOnly: true, visible: false },
                        { binding: 'input_req_qty', header: '투입 요청량', width: 150, align: 'right',  isReadOnly: false, visible: false }
                    ],
                    itemFormatter: function (panel, row, col, cell) {
                        if (panel.cellType === wijmo.grid.CellType.Cell) {
                            let column = panel.columns[col];
                            let item = panel.rows[row].dataItem;

                            if (item && column.binding === 'cur_stock') {
                                // 'cur_stock'이 'requ_qty'보다 작으면 배경색 변경
                                if (item.cur_stock < item.requ_qty) {
                                    cell.style.backgroundColor = '#f8d2cb'; // 연한 빨간색 배경
                                } else {
                                    cell.style.backgroundColor = ''; // 원래대로 되돌리기
                                }
                            }
                        }
                    },
                });

                new FlexGridContextMenu(this.matreqGrid);
                this.matreqGrid.downloadFileName = '해당 소요 자재';

                $('#btnToggle').change(function() {
                    _this.matreqView.refresh();  // 필터 다시 적용
                });

                //소요량조회
                $('#btnMatReqSearch').click(function (e) {
                    _this.loadMatReqList();
                });

                // 자재공정투입요청
                $('#btnInputRequest').click(function (e) {
                    _this.requestMaterialProcessInput();
                });
            }

            requestMaterialProcessInput() {
                let _this = this;

                // 작업지시화면에서 선택된 데이터 중 자재공정투입요청번호가 있는지 확인
                let jobordItems = _this.grid.selectedItems;

                // 선택된 작업지시가 없으면?
                if (jobordItems.length === 0) {
                    Alert.alert('', '선택된 작업지시가 없습니다.');
                    return;
                }

                let jobres_pks = '';
                let arrJobres = [];

                for (let idx = 0; idx < jobordItems.length; idx++) {
                    let item = jobordItems[idx];
                    let proc_input_req_id = item.proc_input_req_id;
                    if (proc_input_req_id !== '' && proc_input_req_id != null) {
                        Alert.alert('', '투입 요청 내역이 있습니다.'); // 이미 공정 투입 요청한 데이터가 있습니다.

                        return;
                    }
                    arrJobres.push(item.id);
                }

                jobres_pks = arrJobres.join(',');

                // 소요량 목록에서 확인
                let matItems = _this.matreqGrid.list;
                if (matItems.length === 0) {
                    Alert.alert('', '소요자재 데이터가 없습니다.');
                    return;
                }

                let arrMat = [];
                let arrQty = [];

                let valid = true;
                let errorMatName = '';

                $.each(matItems, function (idx, item) {
                    let mat_pk = item.mat_pk
                    let input_req_qty = item.input_req_qty;
                    let mat_name = item.mat_name;
                    arrMat.push(mat_pk);
                    arrQty.push(input_req_qty);

                    if (input_req_qty == null || input_req_qty === "" || input_req_qty === 0 || input_req_qty < 0) {
                        errorMatName = mat_name;
                        valid = false;
                    }
                });

                if (!valid) {
                    Alert.alert('', '품목 ' + errorMatName + ' 투입량을 확인하세요');
                    return;
                }

                let okCallback = function () {
                    let mat_pks = arrMat.join(',');
                    let input_req_qtys = arrQty.join(',');

                    let data_date = $('#srchStartDt').val();
                    let data = {
                        jobres_pks: jobres_pks,
                        mat_pks: mat_pks,
                        input_req_qtys: input_req_qtys,
                        data_date: data_date
                    };

                    let fnsuccess = function (result) {
                        if (result.success) {
                            Notify.success('요청되었습니다.');
                            _this.jobOrderSearch();
                            _this.loadInputReqList(result.data)

                        } else {
                            Alert.alert('', result.message);
                        }
                    };

                    AjaxUtil.postAsyncData(_this.url + '/save_mat_proc_input', data, fnsuccess);
                };

                Alert.confirm('', '투입을 요청하시겠습니까?', okCallback);

            }

            loadMatReqList() {
                let _this = this;
                let arrTmp = [];

                // ✅ selector(체크박스)에서 체크된 행들만 모으기
                _this.grid.rows.forEach(row => {
                    if (row.isSelected) {
                        let item = row.dataItem;
                        if (item) {
                            arrTmp.push(item.id || item.jr_pk);
                        }
                    }
                });

                if (arrTmp.length === 0) {
                    return;
                }
                let jr_pks = arrTmp.join(',');
                console.log('jr_pks', jr_pks);
                let data_date = $('#srchStartDt').val();
                let data = {
                    jr_pks: jr_pks,
                    data_date: data_date
                };

                let fnsuccess = function (result) {
                    if (result != null) {
                        // _this.matreqGrid.itemsSource = result.data;
                        _this.matreqView.sourceCollection = result.data; // 데이터 넣기
                        _this.matreqView.refresh();
                    }
                };
                //let url = this.url + '/bom_detail_list'
                //AjaxUtil.postAsyncData(url, data, fnsuccess);
                AjaxUtil.getAsyncData(this.url + '/bom_detail_list', data, fnsuccess);
            }

            addDataPopup(data) {
                let _this = this;
                let content = tmpl('addDataPopup', {});
                let $content = $(content);
                let form = $content.find('#materialInoutForm');

                let modalContainer = null;
                if(!data){
                    modalContainer = new PopupDraggable('자재 입고');
                } else{
                    modalContainer = new PopupDraggable('수정');
                }


                modalContainer.open({width: 1000, height: 440, $content});
                popup = new materialInoutPopup();
                //AjaxUtil.fillSelectOptions($content.find('#StoreHouse_id'), 'store_house', 'choose', 3);    // 3:자재창고
                AjaxUtil.fillSelectOptions($content.find('#StoreHouse_id'), 'store_house', 'choose', '');    // 3:자재창고

                AjaxUtil.fillSelectOptions($content.find('#cboMaterialType'), 'system_code', 'choose', '', 'mat_type');
                AjaxUtil.fillSelectOptions($content.find('#cboMaterialGroup'), 'material_group', 'choose', '', '');
                //AjaxUtil.fillSelectOptions($content.find('#cboMaterialGroup'), 'material_group', 'choose', '', 'raw_mat');
                AjaxUtil.fillSelectOptions($content.find('#Material_id'), 'material', 'choose', '');
                //$content.find('select').select2();

                let $inoutDate = $content.find('#inoutDate');
                let now = new Date();

                // 한국 시간으로 보정
                now.setMinutes(now.getMinutes() - now.getTimezoneOffset()); // 로컬 → ISO 기준 보정

                let localISOString = now.toISOString().slice(0, 16); // yyyy-MM-ddTHH:mm
                $inoutDate.val(localISOString);

                let type = null;

                $content.find('#inoutSelect').on('change', function () {
                    type = $(this).val(); // 또는 $content.find('#inoutSelect').val();
                    $content.find('#inoutSelect_hidden').val($(this).val());

                    if (type === 'in') {
                        AjaxUtil.fillSelectOptions(
                            $content.find('#InoutType'), 'system_code', '', 'etc_in', 'input_type'
                        );
                    } else if (type === 'out') {
                        AjaxUtil.fillSelectOptions(
                            $content.find('#InoutType'), 'system_code', '', 'etc_out', 'output_type'
                        );
                    } else if (type === 'return') {
                        AjaxUtil.fillSelectOptions(
                            $content.find('#InoutType'), 'system_code', '', 'etc_return', 'return_type'
                        );
                    } else if (type === 'recall') {
                        AjaxUtil.fillSelectOptions(
                            $content.find('#InoutType'), 'system_code', '', 'etc_recall', 'recall_type'
                        );
                    } else {
                        $content.find('#InoutType').empty().append('<option value="">선택</option>');
                    }

                    formatInoutQty();
                });

                $content.find('#InoutQty').on('input', function () {
                    formatInoutQty();
                });

                $content.find('#InoutType').on('change', function () {
                    $content.find('#InoutType_hidden').val($(this).val());
                });

                $content.find('#inoutSelect').trigger('change');
                $content.find('#inoutType').trigger('change');

                $content.find('#cboMaterialType').on('change', function (e) {
                    let mat_type = $content.find('#cboMaterialType').val();
                    AjaxUtil.fillSelectOptions($content.find('#cboMaterialGroup'), 'material_group', 'choose', '', mat_type);
                });

                $content.find('#cboMaterialGroup').on('change', function (e) {
                    let mat_group = $content.find('#cboMaterialGroup').val();
                    AjaxUtil.fillSelectOptions($content.find('#Material_id'), 'material', 'choose', '', mat_group);
                });

                $content.find('#btnMaterial').click(function () {
                    let searchcallback = function (items) {
                        $content.find('#cboMaterialType').val(items.MaterialTypeCode)
                        $content.find('#cboMaterialTypeName').val(items.MaterialTypeName)
                        $content.find('#cboMaterialGroup').val(items.MaterialGroup_id)
                        $content.find('#cboMaterialGroupName').val(items.group_name)
                        $content.find('#Material_id').val(items.id)
                        $content.find('#Material_name').val(items.Name)
                        $content.find('#StoreHouse_id').val(items.StoreHouse_id)
                        $content.find('#StoreHouse_id').val(items.StoreHouse_id)
                        $content.find('#cboCompany').val(items.comp_id || '');
                        $content.find('#CompanyName').val(items.comp_nm || '');
                    };

                    let poppage = new PopupMaterialPage('single');
                    let $poppage = $(poppage);
                    poppage.show(searchcallback);
                });

                $content.find('#btnCompanySearch').click(function () {
                    let poppage = new PopCompComponentPurchase();
                    let $poppage = $(poppage);
                    let searchcallback = function (items) {
                        $content.find('#cboCompany').val(items.id);
                        $content.find('#CompanyName').val(items.compname);
                    };

                    poppage.show(searchcallback);
                });

                if (data && data.mode === 'edit') {
                    $content.find('#inoutSelect').val(data[0].inoutSelect);

                    // 1-2. 옵션 로딩 트리거
                    $content.find('#inoutSelect').trigger('change');

                    setTimeout(function () {
                        FormUtil.BindDataForm(data[0], form);

                        const ea = data[0]?.InoutQtyEA;
                        if (ea != null) {
                            $content.find('#InoutQty').val(formatNumberWithDecimal(ea));
                        }

                        $content.find('#inoutSelect').prop('disabled', true);
                        $content.find('#InoutType').prop('disabled', true);

                        $content.find('#btnDelete').show();
                        $content.find('#btnSave span').text('수정');
                    }, 10);

                }

                function formatInoutQty() {
                    const $qty = $content.find('#InoutQty');
                    let raw = ($qty.val() || '').trim();

                    if (!raw) { $qty.val(''); return; }

                    // 부호는 type에 따라 결정
                    const needNegative = (type === 'recall' || type === 'return');

                    // 1) 숫자/소수점만 유지 (첫 '.'만 허용)
                    raw = raw.replace(/,/g, '');
                    const sign = needNegative ? '-' : '';     // ← 사용하도록 변경
                    if (raw.startsWith('-')) raw = raw.substring(1); // 일단 제거
                    // 숫자와 점만 남기되 점은 하나만
                    raw = raw.replace(/[^0-9.]/g, '');
                    const firstDot = raw.indexOf('.');
                    if (firstDot >= 0) {
                        raw = raw.substring(0, firstDot + 1) + raw.substring(firstDot + 1).replace(/\./g, '');
                    }

                    if (raw === '' || raw === '.') { $qty.val(''); return; }

                    // ★ 추가: 끝이 '.'으로 끝나면 그대로 보여주고 종료 (입력 계속 가능)
                    if (/^\d+\.$/.test(raw)) {
                        $qty.val(sign + raw);
                        return;
                    }

                    const num = Number(raw);
                    if (isNaN(num)) { $qty.val(''); return; }

                    // 2) 천단위+소수 포맷 (간단 구현)
                    $qty.val(formatNumberWithDecimal(num, 6, needNegative));
                }

                function formatNumberWithDecimal(value, scale = 2, negative = false) {
                    const n = Number(value);
                    if (!isFinite(n)) return '';

                    const abs = Math.abs(n);
                    const [intPart, fracPart = ''] = abs.toFixed(scale).split('.');
                    const intFmt = Number(intPart).toLocaleString();
                    const hasFrac = fracPart && Number(fracPart) !== 0;

                    const s = hasFrac ? `${intFmt}.${fracPart.replace(/0+$/,'')}` : intFmt;
                    return (negative ? '-' : '') + s;
                }

                $content.find('#btnSave').on('click', function () {

                    if (!$('#Material_id').val()) {
                        Alert.alert('', '품목을 선택하세요.');
                        return false;
                    }
                    if (!$('#StoreHouse_id').val()) {
                        Alert.alert('', '창고를 지정하세요.');
                        return false;
                    }

                    if ($('#InoutQty').val() === "") {
                        Alert.alert('', '수량을 확인해 주세요.');
                        return false;
                    }

                    popup.saveData(type, form);

                    modalContainer.modal.close();
                });

            }
        }

        class materialInoutPopup {
            constructor() {
                this.grid = null;
                this.init();
            }

            init() {
                let _this = this;
            }

            saveData(type, form) {

                let url = '/api/inventory/material_inout/save';
                let data = FormUtil.extractForm($('#materialInoutForm'));
                data['type'] = type;
                let fnSuccess = function (res) {
                    if (!res.success) {
                        Alert.alert('', res.message);
                    } else {
                        Notify.success('저장되었습니다');
                        page.loadMatReqList();
                    }
                };

                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }
        }

        let page;
        let popup = null;
        let modalContainer = null;

        $(document).ready(function (e) {
            page = new PrepareProduction();
            page.jobOrderSearch();

            $('#btnInput').on('click', function () {
                page.addDataPopup();
            });

        });

    </script>
</th:block>
</html>
