<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/css/import.css"/>
<link rel="stylesheet" href="/resource/ax5ui/ax5ui.all.css"/>
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 9999; /* z-index를 더 높임 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* 공통 Modal 컨텐츠 스타일 */
    .modal-content {
        background: white;
        border-radius: 8px;
        margin: 10% auto;
        padding: 20px;
        width: 600px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        top: 15%;
    }

    .btn-popup-close img {
        float: right;
    }

    #modalGrid {
        height: auto; /* 높이를 자동으로 조정 */
        max-height: 500px; /* 필요에 따라 최대 높이를 지정 */
        overflow-y: auto; /* 스크롤 활성화 */
    }


    .modal3 {
        display: none; /* 평소에는 보이지 않도록 */
        position: fixed; /* fixed로 변경하여 화면 전체를 덮도록 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 999;
        opacity: 0; /* 애니메이션을 위한 초기 투명도 */
        transition: opacity 0.3s ease; /* 투명도 변경에 대한 애니메이션 */
    }

    .modal3.show {
        display: block;
        opacity: 1; /* 보여질 때의 투명도 */
    }

    .popup-wrapper3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 화면 중앙으로 이동 및 초기 크기 설정 */
        width: 70%;
        background: white;
        padding: 20px;
        border-radius: 8px;
        transition: transform 0.3s ease; /* 크기 변경에 대한 애니메이션 */
    }

    .popup-wrapper3.show {
        transform: translate(-50%, -50%) scale(1); /* 보여질 때의 크기 */
    }

</style>
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>스토리보드설정</h2>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템관리</li>
                <li>스토리보드설정</li>
            </ul>
        </div>

        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="스토리보드설정">스토리보드설정</a>
                </li>
            </ul>

            <div class="tab-contents">
                <section class="tab-item" id="tab1" style="height: 750px; overflow: hidden;">
                    <div class="section-top">
                        <div class="search-wrap">

                            <dl>
                                <dt>&nbsp;</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            <a class="btn btn-popup-open" title="메뉴항목추가" id="btnAddMenu" data-popup="popup1"
                                               onclick="showPopup()">
                                                <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                                메뉴 항목 추가
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-excell" title="HMI양식추가" id="btnAddHmi" data-popup="popup2"
                                               onclick="showPopup2()">
                                                <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                                HMI 양식 추가
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-delete" title="삭제" id="btnDel">
                                                <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="height: 700px; max-height: 700px"></div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </div> <!--//tab-contens end-->
    </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <footer style="margin-top:5px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
    <div style="height: 10px"></div>


    <div class="modal">
        <div class="popup-wrapper w700" id="popup1">
            <div class="popup-title">
                <h3>메뉴 항목 추가</h3>
                <a title="팝업닫기" onclick="closeModalWindow('.modal', '.popup-wrapper')" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <form id="bomForm">
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wp20">
                                <col class="wp80">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="cboMenuCode">메뉴 선택</label>
                                </th>
                                <td>
                                    <div class="input-clear">
                                        <select class="form-control2 " type="text" id="cboMenuCode" name="MenuCode" ></select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="Duration">지속 시간 (초)</label>
                                </th>
                                <td>
                                    <input class="form-control2 " type="number" id="Duration" name="Duration" value="10"/>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="uploadFile()" style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
                <button onclick="closePopup()"  style="border: 1px solid #03428E !important; font-size: 15px !important;">닫기</button>
                <!--<button onclick="closeModalWindow('.modal', '.popup-wrapper')" style="border: 1px solid #03428E !important; font-size: 15px !important;">닫기</button>-->
            </div>
        </div>
    </div>

    <div class="modal3">
        <div class="popup-wrapper3 w700" id="popup2">
            <div class="popup-title">
                <h3>HMI 양식 추가</h3>
                <a title="팝업닫기" onclick="closeModalWindow('.modal', '.popup-wrapper')" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <form id="bomForm1">
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wp20">
                                <col class="wp80">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="cboMenuCode">HMI 양식 구분</label>
                                </th>
                                <td>
                                    <div class="input-clear">
                                        <select class="form-control2 " type="text" id="cboHMIType" name="hmi_type">
                                            <option value='hmi_a'>A</option>
                                            <option value='hmi_b'>B</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="Duration">HMI 양식 선택</label>
                                </th>
                                <td>
                                    <select class="form-control2 " type="text" id="cboHMI" name="hmi_id"></select>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="Duration">지속 시간 (초)</label>
                                </th>
                                <td>
                                    <input class="form-control2 " type="number" id="Duration2" name="Duration" value="10"/>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="uploadFile()" style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
                <button onclick="closePopup()"  style="border: 1px solid #03428E !important; font-size: 15px !important;">닫기</button>
                <!--<button onclick="closeModalWindow('.modal', '.popup-wrapper')" style="border: 1px solid #03428E !important; font-size: 15px !important;">닫기</button>-->
            </div>
        </div>
    </div>



</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
    <script>

        // 팝업 함수
        function closePopup() {

            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 애니메이션을 위한 클래스 제거
            modal.classList.remove('show');
            modalContent.classList.remove('show');

            // 애니메이션이 끝난 후 모달을 숨기기 위해 타임아웃 설정
            setTimeout(() => {
                modal.style.display = 'none';
                modalContent.style.display = 'none';
            }, 300); // 애니메이션 지속 시간 (0.3초)과 동일하게 설정
        }

        function showPopup() {
            let fileNameDisplay = document.getElementById('fileNameDisplay');

            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 모달과 콘텐츠를 표시
            modal.style.display = 'block';
            modalContent.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            });
        }

        function showPopup2() {
            let fileNameDisplay = document.getElementById('fileNameDisplay');

            const modal = document.querySelector('.modal3');
            const modalContent = document.querySelector('.popup-wrapper3');

            // 모달과 콘텐츠를 표시
            modal.style.display = 'block';
            modalContent.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            });
        }


        var theGrid;
        var viewdata;

        var columns = [
            {binding: 'BoardTypeName', header: '항목구분', width: 120, align: 'center'},
            {binding: 'name', header: '항목명', width: 200, align: 'center'},
            {binding: 'Duration', header: '지속시간(초)', width: 150, align: 'center'},
            {binding: 'writer', header: '작성자', width: 150, align: 'center'},
            {binding: 'created', header: '작성일', width: 200, align: 'center'},
            {binding: '', header: '', width: "*", align: 'center'},
        ];

        document.readyState === 'complete' ? init() : window.onload = init;


        function init() {
            let data2 = [];

            $.ajax({
                url: '/api/system/storyboard/read',
                type: 'GET',
                async: false,
                success: function (data) {
                    console.log('wijmo', data);
                    data2 = data.data;

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                isReadOnly: true,
                itemsSource: viewdata
            });

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기

        }


        /*setButtonDisable(_boolnew, _boolsave, _booldel)
        {
            $('[id=btn_new_group]').prop('disabled', _boolnew);
            $('[id=btn_save_group]').prop('disabled', _boolsave);
            $('[id=btn_del_group]').prop('disabled', _booldel);
        }*/


        function showAddMenuItem() {
            let _this = this;
            //createMenuItemTemplate

            let content = tmpl('createMenuItemTemplate', {});
            let $content = $(content);

            let modalContainer = new PopupDraggable('메뉴 항목 추가');
            modalContainer.open({width: 440, height: 160, $content});

            let $cboMenuCode = $content.find('#cboMenuCode');
            let $Duration = $content.find('#Duration');
            AjaxUtil.fillSelectOptions($cboMenuCode, 'menu_item', '', false);
            $content.find('#btnSaveMenuItem').click(function (e) {
                let data = {
                    'BoardType': 'menu',
                    'MenuCode': $cboMenuCode.val(),
                    'Duration': $Duration.val()
                };

                let url = '/api/system/storyboard/save_menu';

                let fnsuccess = function (res) {
                    if (res.success) {
                        Notify.success('저장되었습니다.');
                        _this.searchDataBind();
                    } else {
                        Notify.error(res.message);
                    }
                };
                AjaxUtil.postAsyncData(url, data, fnsuccess);

            });

        }

        function showAddHMIItem() {
            let _this = this;
            let content = tmpl('createHMIItemTemplate', {});
            let $content = $(content);
            let modalContainer = new PopupDraggable('HMI 양식 추가');
            modalContainer.open({width: 440, height: 200, $content});

            let $cboHMIType = $content.find('#cboHMIType');
            let $cboHMI = $content.find('#cboHMI');
            let $Duration = $content.find('#Duration');
            AjaxUtil.fillSelectOptions($cboHMI, 'hmi_form', '', false, $cboHMIType.val());

            $cboHMIType.change(function (e) {
                AjaxUtil.fillSelectOptions($cboHMI, 'hmi_form', '', false, $cboHMIType.val());
            });

            let $btnSaveHmiItem = $content.find('#btnSaveHmiItem');
            $btnSaveHmiItem.click(function (e) {
                let MenuCode = '';
                let hmiType = $cboHMIType.val();
                if (hmiType == 'hmi_a') {
                    MenuCode = 'wm_hmi_form';
                } else {
                    MenuCode = 'wm_hmi_form_b';
                }

                let data = {
                    'BoardType': $cboHMIType.val(),
                    'MenuCode': MenuCode,
                    'Duration': $Duration.val(),
                    'ParameterData': $cboHMI.val() == null ? 0 : $cboHMI.val()
                };
                _this.saveItem(data, modalContainer);
            });
        }

        function saveItem(data, modalContainer) {
            let _this = this;
            let url = '/api/system/storyboard/save_hmi';
            let fnSuccess = function (result) {
                if (result.success) {
                    Notify.success('저장되었습니다.');
                    _this.searchDataBind();
                    modalContainer.close();
                } else {
                    Notify.error(result.message);
                }
            };
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        function deleteItem(ids) {
            let _this = this;
            let url = '/api/system/storyboard/delete';

            let data = {id_list: ids.join(',')};
            let fnSuccess = function (res) {
                Notify.success('삭제했습니다');
                _this.searchDataBind();
            };

            AjaxUtil.postAsyncData(url, data, fnSuccess);

        }


        $(document).ready(function (e) {
            AjaxUtil.fillSelectOptions($('#cboMenuCode'), 'menu_item', '', false);
            /*AjaxUtil.fillSelectOptions($('#cboHMI'), 'hmi_form', '', false);*/

            /* $('#btnAddMenu').click(function (e) {
                 showAddMenuItem();
             });

             $('#btnAddHmi').click(function (e) {
                 showAddHMIItem();
             });*/

            $('#btnDel').click(function (e) {
                let ids = [];
                $.each(page.grid.list, function (idx, item) {
                    if (item.__selected__) {
                        ids.push(item.id);
                    }
                });

                if (ids.length == 0) {
                    return;
                }

                Alert.confirm('',
                    '삭제하시겠습니까?',
                    function () {
                        deleteItem(ids)
                    },
                    function () {
                    }
                );
            });
        });

    </script>
</th:block>
</html>

