<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
  <div class="layout-contents">
    <div class="page-title-wrap">
      <div class="left">
        <h2>미지급 현황</h2>
        <a title="북마크" class="bookmark toggle">
          내 메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>출금 관리</li>
        <li>미지급 현황</li>
      </ul>
    </div>

    <section class="section">
      <div class="section-top">
        <div class="search-wrap">
          <dl>
            <dt>
              <label for="trdCom">
                거래처<span class="eq"></span>
              </label>
            </dt>
            <dd>
              <input type="text" id="trdCom" name="trdCom" placeholder="업체검색버튼으로 검색하세요.">
            </dd>
          </dl>
          <dl>
            <dt>
              <label for="eumNum">
                어음번호
              </label>
            </dt>
            <dd>
              <input type="text" id="eumNum" placeholder="어음번호">
            </dd>
          </dl>
          <dl id="searchComArea">
            <dt>
              <label for="">
                조회기간
              </label>
            </dt>
            <dd>
              <ul class="date-box">
                <li>
                  <input type="date" id="date_from" name="date_from">
                  <label for="date_from" class="hide">시작일</label>
                </li>
                ~
                <li>
                  <input type="date" id="date_to" name="date_to">
                  <label for="date_to" class="hide">종료일</label>
                </li>
              </ul>
            </dd>
          </dl>

          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <li>
                <a class="btn btn-search" title="검색" id="btnMainSearch">
                  <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                  <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                  검색
                </a>
              </li>
            </dd>
          </dl>
        </div>
      </div>
      <div class="tab-wrap">

        <ul class="tab-links">
          <li><a href="#tabs_count" style="border-radius: 6px 0 0 0;">집계</a></li>
          <li><a href="#tabs_portion_detail" style="border-radius: 0 6px 0 0;">상세</a></li>
        </ul>
        <div>
          <section class="tab-item" id="tabs_count" style="border-top-left-radius: 0;">
            <div class="container-fluid">
              <div id="theGrid1" style="height: 730px;"></div>
            </div>
          </section>
          <section class="tab-item" id="tabs_portion_detail" style="border-top-left-radius: 0; display: none;">
            <div class="container-fluid">
              <div id="theGrid3" style="height: 730px;"></div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

  <th:block layout:fragment="scripts">
    <th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
    <th:block th:replace="/common/popup_company :: popup_company"></th:block>
    <script type="text/javascript">

      class production_require {
        constructor() {
          this.grid = null;
          this.init();
        }

        init() {
          let _this = this;
          this.grid = new wijmo.grid.FlexGrid('#theGrid1', {
            autoGenerateColumns: false,
            selectionMode: wijmo.grid.SelectionMode.Row,
            headersVisibility: wijmo.grid.HeadersVisibility.Column,
            isReadOnly: false,
            showMarquee: true,
            formatItem: (sender, e) => {
              if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                e.cell.style.textAlign = 'center';
              }
            },
            columns: [
              {binding: 'cltcd', header: '코드', width: 130, align: 'center'},
              {binding: 'Name', header: '거래처명', width: 320, align: 'center'},
              {binding: 'yearamt', header: '전잔액', width: 220, align: 'center'},
              {binding: 'totalamt', header: '매입액', width: 200, align: 'center'},
              {binding: 'accout', header: '지급액', width: 200, align: 'left'},
              {binding: 'nowamt', header: '잔액', width: 210, align: 'left'}
            ]
          });

          new FlexGridContextMenu(this.grid);
          this.grid.downloadFileName = '작업 지시 등록 내역';

          this.grid.hostElement.addEventListener('dblclick', function (e) {
            let items = _this.grid.selectedItems;
            if (items.length === 0) {
              return false;
            }
            searchDetailData();
          });


          this.grid2 = new wijmo.grid.FlexGrid('#theGrid3', {
            autoGenerateColumns: false,
            selectionMode: wijmo.grid.SelectionMode.Row,
            headersVisibility: wijmo.grid.HeadersVisibility.Column,
            isReadOnly: false,
            showMarquee: true,
            formatItem: (sender, e) => {
              if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                e.cell.style.textAlign = 'center';
              }
            },
            columns: [
              {binding: 'Name', header: '거래처명', width: 130, align: 'center'},
              {binding: 'todate', header: '일자', width: 120, align: 'center'},
              {binding: 'iotype', header: '구분', width: 120, align: 'center'},
              {binding: 'total', header: '금액', width: 100, align: 'right'},
              {binding: 'nowamt', header: '잔액', width: 150, align: 'right'},
              {binding: 'mat_code', header: '품목', width: 110, align: 'left'},
              {binding: 'mat_name', header: '입금형태', width: 200, align: 'left'},
              {binding: 'unit_name', header: '은행', width: 130, align: 'center'},
              {binding: 'unit_name', header: '어음번호', width: 130, align: 'center'},
              {binding: 'unit_name', header: '계좌', width: 130, align: 'center'},
              {binding: 'order_qty', header: '만기일', width: 120, align: 'right'},
              {binding: 'workcenter_name', header: '거래구분', width: 180, align: 'left'},
              {binding: 'remark1', header: '적요', width: 450, align: 'left'}
            ]
          });

          new FlexGridContextMenu(this.grid2);
          this.grid2.downloadFileName = '작업 지시 등록 내역';

          this.grid2.hostElement.addEventListener('dblclick', function (e) {
            let items = _this.grid2.selectedItems;
            if (items.length === 0) {
              return false;
            }
            $('#btnPlanSave').trigger('click');
          });

          // ✅ Footer 패널 사용 설정
          this.grid2.columnFooters.rows.push(new wijmo.grid.Row());
          this.grid2.bottomLeftCells.setCellData(0, 0, '월 계');
          this.grid2.columnFooters.rows.push(new wijmo.grid.Row());
          this.grid2.bottomLeftCells.setCellData(0, 0, '합 계');

          // ✅ Footer 합계 값 설정 (수동)
          this.grid2.loadedRows.addHandler(() => {
            const rows = this.grid.rows;
            const footerMonth = this.grid2.columnFooters.rows[0];
            const footerTotal = this.grid2.columnFooters.rows[1];

            const getSum = (field) => rows.map(r => +r.dataItem[field] || 0).reduce((a, b) => a + b, 0);

            footerMonth.dataItem = {
              mat_grp_name: '매출계'
              // year_qty_sum: getSum('year_qty_sum'),
              // year_money_sum: getSum('year_money_sum'),
            };
            footerTotal.dataItem = {
              mat_grp_name: '입금계'
              // year_qty_sum: getSum('year_qty_sum'),
              // year_money_sum: getSum('year_money_sum'),
            };
          });

          AjaxUtil.fillSelectOptions($('#cboMatType'), 'system_code', 'all', false, 'mat_type', 'product,semi');
          AjaxUtil.fillSelectOptions($('#cboMatGroup'), 'material_group', 'all', false, $('#cboMatType').val());
          AjaxUtil.fillSelectOptions($('#cboWorkcenter'), 'workcenter', 'choose', false);
          $('#cboMatType').change(function (e) {
            AjaxUtil.fillSelectOptions($('#cboMatGroup'), 'material_group', 'all', false, $('#cboMatType').val());
          });
        }

        searchMainData() {
          let _this = this;
          let date_from = $('#date_from').val();
          let date_to = $('#date_to').val();
          let companyCode = $('#companyCode').val();
          let url = '/api/transaction/accounts_payable_list'
          let data = {
            'date_from': date_from,
            'date_to': date_to,
            'companyCode': companyCode
          };
          let result = AjaxUtil.getSyncData(url + "/read", data);
          if (result.data != null) {
            console.log('accounts_payable_list data : ', result.data)
            _this.grid.itemsSource = new wijmo.collections.CollectionView(result.data);
          }
        }

        searchDetailData(){
          let _this = this;
          let date_from = $('#date_from').val();
          let date_to = $('#date_to').val();
          let companyCode = $('#companyCode').val();
          let url = '/api/transaction/accounts_payable_list'
          let data = {
            'date_from': date_from,
            'date_to': date_to,
            'companyCode': companyCode
          };
          let result = AjaxUtil.getSyncData(url + "/detail", data);
          if (result.data != null) {
            console.log('accounts_payable_detail_list data : ', result.data)
            _this.grid2.itemsSource = new wijmo.collections.CollectionView(result.data);
          }
        }

      }

      let page = null;

      $(document).ready(function (e) {
        page = new production_require();

        let date_from = CommonUtil.getYYYYMMDD(-7);
        let today = CommonUtil.getYYYYMMDD();

        $('#date_from').val(date_from);
        $('#date_to').val(today);

        // 검색
        $('#btnMainSearch').click(function (e) {
          page.searchMainData();
          page.searchDetailData();
        });

        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
          page.exportExcel();
        });

        // 계획수정
        $('#btnPlanSave').click(function (e) {
          let items = page.grid.selectedItems;
          let result = null;
          let action = 'update';
          if (!items.length) {
            Alert.alert('', "항목을 선택해주세요.");
            return false;
          }
          if (items.length > 0) {
            let data = {'jr_pk': items[0].id};
            let url = '/api/production/prod_order_a/detail';
            result = AjaxUtil.getSyncData(url, data);
          }
          page.showPopUp(result.data, action);
        });

        // 삭제
        $('#btnPlanDel').click(function (e) {
          let items = page.grid.selectedItems;
          if (items.length > 0) {
            if (items[0].state != "ordered") {
              Alert.alert('', "지시상태만 삭제할 수 있습니다.")
              return;
            }
            Alert.confirm('', "삭제하시겠습니까?",
                    function () {
                      let id = items[0].id;
                      page.deleteOrder(id);
                    }
            );
          } else if (items.length < 1) {
            Alert.alert('', "지시목록를 선택해 주세요.")
          }

        });

        // 지시등록
        $('#btnPlanInput').on('click', function () {

          let data = {
            'id': '',
            'shift_name': '',
            'shift_code': '',
            'mat_name': '',
            'order_qty': '',
            'unit_name': '',
            'workcenter_name': '',
            'equip_name': '',
            'description': '',
            'production_date': today,
          }
          let action = 'new';


          page.showPopUp(data, action);
        });


        if (userinfo.group_code == 'admin') {
          $('#btnGridSetting').css('visibility', 'visible');
        }

        // 거래처 focus시 거래처 검색 모달
        $('#trdCom').focus(function () {
          let poppage = new PopCompComponent();
          let $poppage = $(poppage);
          let searchcallback = function (items) {
            console.log('items : ',items);
            document.getElementById('trdCom').value = items.compname;
          };

          poppage.show(searchcallback);
        });

        // 계좌명 focus시 계좌명 검색 모달
        $('#actNm').focus(function () {
          let pop = new PopMatComponent();
          pop.material_type = 'product,sangpum';
          pop.show(function (item) {
            console.log('$btnProductSearch', item);
          });
          pop.searchDataBind();
        });

        // 탭 클릭시 display 조정
        let target = 'tabs_count';
        $('.tab-links a').click(function (e) {
          e.preventDefault(); // 링크 기본 이동 막기

          // 모든 탭 숨김
          $('.tab-item').css('display', 'none');

          // 현재 선택된 탭 ID 얻기
          const target = $(this).attr('href'); // → "#tabs_count"

          // 해당 탭만 보이게
          $(target).css('display', 'flex');

          // 데이터 로드 (id에서 # 제거하고 처리)
          const cleanTarget = target.replace('#', '');
          if (cleanTarget === 'tabs_count') {
            page.searchMainData(cleanTarget);
          } else if (cleanTarget === 'tabs_portion_detail') {
            page.searchDetailData(cleanTarget);
          }

          page.current_tab = cleanTarget;
        });

        page.searchMainData();

      })
    </script>
  </th:block>
</html>
