<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

  <div class="layout-contents">
    <div class="page-title-wrap">
      <div class="left">
        <h2>미수금 현황</h2>
        <a title="북마크" class="bookmark toggle">
          내 메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>입금관리</li>
        <li>미수금 현황</li>
      </ul>
    </div>

    <section class="section">
      <div class="section-top">
        <div class="search-wrap">
          <dl id="searchComArea">
            <dt>
              거래처
            </dt>
            <dd>
              <input type="text" id="cboCompany" name="cboCompany" placeholder="업체검색버튼으로 검색하세요.">
              <input type="hidden" id="cboCompanyHidden">
              <input type="hidden" id="spjangcdHidden">
              &nbsp;
              <a class="btn btn-delete" title="검색" id="btnCompanySearch">
                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                업체 검색
              </a>
            </dd>
          </dl>
          <dl>
            <dt>
              조회기간<span class="eq">*</span>
            </dt>
            <dd>
              <ul class="date-box">
                <li>
                  <input type="date" id="srchStartDt" name="srchStartDt">
                  <label for="srchStartDt" class="hide">시작일</label>
                </li>
                <li>
                  <input type="date" id="srchEndDt" name="srchEndDt">
                  <label for="srchEndDt" class="hide">종료일</label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <li>
                <a class="btn btn-search" title="검색" id="btnSearch">
                  <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                  검색
                </a>
              </li>
            </dd>
          </dl>
        </div>
      </div>
      <div class="tab-wrap">
        <ul class="tab-links">
          <li><a href="#tabs_total" style="border-radius: 6px 0 0 0;">집계</a></li>
          <li><a href="#tabs_sales_details" style="border-radius: 0 6px 0 0;">상세</a></li>
        </ul>
        <div>
          <section class="tab-item" id="tabs_total" style="border-top-left-radius: 0;">
            <div class="container-fluid">
              <div id="theGrid" style="height: 730px;"></div>
            </div>
          </section>
          <section class="tab-item" id="tabs_sales_details" style="border-top-left-radius: 0;">
            <div class="container-fluid">
              <div id="sales-details" style="height: 730px;"></div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</th:block>

<th:block layout:fragment="scripts">
  <!--<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>-->
  <th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
  <th:block th:replace="/common/popup_company :: popup_company"></th:block>
  <script type="text/javascript">
    class AccountsReceivableListPage {
      constructor() {
        this.grid = null;
        this.grid3 = null;
        this.$btnEdit = $('#btnEdit');
        this.$btnAddNew = $('#btnAddNew');
        this.spjangcd = $('#spjangcdHidden');
        this.viewData = new wijmo.collections.CollectionView();
        this.init();
      }

      init() {
        let _this = this;
        this.grid = new wijmo.grid.FlexGrid('#theGrid', {
          selectionMode: wijmo.grid.SelectionMode.Row,
          headersVisibility: wijmo.grid.HeadersVisibility.Column,
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          formatItem: (sender, e) => {
            if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
              e.cell.style.textAlign = 'center';
            }
          },
          columns: [
            {binding: 'cltcd', header: '코드', width: 100, align: 'center'},
            {binding: 'cltName', header: '거래처명', width: 130, align: 'right'},
            {binding: 'receivables', header: '전잔액', width: 200, align: 'right'},
            {binding: 'sales', header: '매출액', width: 200, align: 'right'},
            {binding: 'AmountDeposited', header: '입금액', width: 200, align: 'right'},
            {binding: 'balance', header: '잔액', width: 200, align: 'right'}
          ],
          itemsSource: this.viewData, // 데이터를 설정할 배열
        });

        new FlexGridContextMenu(this.grid);
        this.grid.downloadFileName = '미수금 집계 현황';
        this.grid.hostElement.addEventListener('dblclick', function (e) {
          let selectedItem = _this.grid.selectedItems[0];
          if (!selectedItem) return;

          let code = selectedItem.code; // 선택된 거래처 코드

          // 상세 데이터 다시 조회
          _this.loadDetailData(code);

          // 탭 전환
          _this.switchToDetailTab();
        });
        // ✅ Footer 패널 사용 설정
        this.grid.columnFooters.rows.push(new wijmo.grid.Row());
        this.grid.bottomLeftCells.setCellData(0, 0, '합 계');

        // ✅ Footer 합계 값 설정 (수동)
        this.grid.loadedRows.addHandler(() => {
          const rows = this.grid.rows;
          const footerTotal = this.grid.columnFooters.rows[0];

          const getSum = (field) => rows.map(r => +r.dataItem[field] || 0).reduce((a, b) => a + b, 0);
          footerTotal.dataItem = {
            code: '합 계',
            receivables: getSum('receivables'),
            sales: getSum('sales'),
            AmountDeposited: getSum('AmountDeposited'),
            balance: getSum('balance'),
          };
        });

        this.grid3 = new wijmo.grid.FlexGrid('#sales-details', {
          selectionMode: wijmo.grid.SelectionMode.Row,
          headersVisibility: wijmo.grid.HeadersVisibility.Column,
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          formatItem: (sender, e) => {
            if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
              e.cell.style.textAlign = 'center';
            }
          },
          columns: [
            {binding: 'BaljuTotalPrice', header: '거래처명', width: 150, align: 'left'},
            {binding: 'BaljuPrice', header: '일자', width: 100, align: 'center'},
            {binding: 'BaljuVat', header: '구분', width: 100, align: 'center'},
            {binding: 'StateName', header: '금액', width: 150, align: 'right'},
            {binding: 'StateName2', header: '잔액', width: 150, align: 'right'},
            {binding: 'SujuQty3', header: '품목', width: 120, align: 'center'},
            {binding: 'SujuQty2', header: '입급형태', width: 100, align: 'center'},
            {binding: 'SujuQty3', header: '은행', width: 120, align: 'center'},
            {binding: 'ShipmentStateName', header: '계좌', width: 180, align: 'center'},
            {binding: 'SujuQty3', header: '어음번호', width: 150, align: 'center'},
            {binding: 'ShipmentStateName', header: '만기일', width: 120, align: 'center'},
            {binding: 'DueDate', header: '거래구분', width: 120, align: 'center'},
            {binding: 'Description', header: '메모', width: 200, align: 'center'}
          ],
          itemsSource: this.viewData, // 데이터를 설정할 배열
        });

        new FlexGridContextMenu(this.grid3);
        this.grid3.downloadFileName = '미수금 상세현황';
        // ✅ Footer 패널 사용 설정
        this.grid3.columnFooters.rows.push(new wijmo.grid.Row());
        this.grid3.bottomLeftCells.setCellData(0, 0, '매출계');
        this.grid3.columnFooters.rows.push(new wijmo.grid.Row());
        this.grid3.bottomLeftCells.setCellData(0, 0, '입금계');

        // ✅ Footer 합계 값 설정 (수동)
        this.grid3.loadedRows.addHandler(() => {
          const rows = this.grid3.rows;
          const SalesTotal = this.grid3.columnFooters.rows[0];
          const DepositTotal = this.grid3.columnFooters.rows[1];

          const getSumByCondition = (field, conditionField, conditionValue) => {
            return rows
              .filter(r => r.dataItem[conditionField] === conditionValue) // 조건 필터
              .map(r => +r.dataItem[field] || 0) // 해당 필드 숫자로 변환
              .reduce((a, b) => a + b, 0); // 합산
          };
          const getSum = (field) => rows.map(r => +r.dataItem[field] || 0).reduce((a, b) => a + b, 0);

          SalesTotal.dataItem = {
            BaljuTotalPrice: '합계',
            BaljuVat: '매출계',
            // StateName: getSumByCondition('StateName', 'BaljuVat', '매출'),
            // StateName2: getSumByCondition('StateName2', 'BaljuVat', '매출'),
          };

          DepositTotal.dataItem = {
            BaljuVat: '입금계',
            // StateName: getSumByCondition('StateName', 'BaljuVat', '입금'),
            // StateName2: getSumByCondition('StateName2', 'BaljuVat', '입금'),
          };

        });

      }

      searchMainData() {
        let _this = this;
        let url = '/api/transaction/AccRList'
        let param = {
          'srchStartDt' : $("#srchStartDt").val(),
          'srchEndDt' : $("#srchEndDt").val(),
          'cboCompany' : $("#cboCompanyHidden").val(),
          spjangcd: this.spjangcd.val()
        }
        // 집계 데이터 조회
        AjaxUtil.getAsyncData(url+'/TotalList', param, function (result) {
          if (result != null && result.data) {
            _this.grid.itemsSource = result.data; // 집계 grid에 바인딩
          }
        });
      }
      loadDetailData(code) {
        let _this = this;
        let url = '/api/transaction/AccRList/DetailList';
        let param = {
          'srchStartDt' : $("#srchStartDt").val(),
          'srchEndDt' : $("#srchEndDt").val(),
          'cboCompany' : $("#cboCompanyHidden").val(),
          'code' : code , // 🔥 여기 코드 필터
          spjangcd: this.spjangcd.val()
        };

        AjaxUtil.getAsyncData(url, param, function (result) {
          if (result != null && result.data) {
            _this.grid3.itemsSource = result.data;
          } else {
            _this.grid3.itemsSource = []; // 데이터 없으면 초기화
          }
        });
      }
      switchToDetailTab() {
        $('a[href="#tabs_sales_details"]').click();
      }
    }
    let page = null;

    $(document).ready(function (e) {
      const spjangcd = sessionStorage.getItem('spjangcd');
      if (spjangcd) {
        $('#spjangcdHidden').val(spjangcd);  // hidden input이 있어야 함
      }
      page = new AccountsReceivableListPage();

      AjaxUtil.fillSelectOptions($('#cboCompany'), 'company', 'all', '', 'sale');
      AjaxUtil.fillSelectOptions($('#cboYear'), 'data_year', '', false);

      let today = new Date();
      let monthStart = new Date(today.getFullYear(), today.getMonth(), 1);

      $('#srchStartDt').val(CommonUtil.formatYYYYMMDD(monthStart));
      $('#srchEndDt').val(CommonUtil.formatYYYYMMDD(today));


      page.searchMainData();

      // 검색
      $('#btnSearch').click(function (e) {
        if ($('#cboCompanyHidden').val() === '' && $('#cboCompany').val() !== '') {
          Alert.alert('', '업체명은 업체검색 버튼을 통해서 \n 검색해주세요');
          return;
        }
        page.searchMainData();
      });

      $('#btnGridSetting').click(function (e) {
        let _this = this;
        let fix_cols = page.grid_config.frozenColumnIndex;
        page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
      });
      $('#btnCompanySearch').click(function () {
        let poppage = new PopCompComponent();
        let $poppage = $(poppage);
        let searchcallback = function (items) {
          console.log('items : ',items);
          document.getElementById('cboCompany').value = items.compname;
          document.getElementById('cboCompanyHidden').value = items.id;
        };

        poppage.show(searchcallback);
      });

      $('#cboCompany').on('input', function () {
        const val = $(this).val();
        if (val === '') {
          $('#cboCompanyHidden').val('');
        }
      });
      // .btn-clear 클릭 후 input 이벤트 강제 발생
      $(document).on('click', '.btn-clear', function () {
        const $input = $(this).siblings('input[type="text"]');
        $input.val('');
        $input.trigger('input'); // 🔥 input 이벤트 강제 발생
      });
      // 초기화 버튼 클릭 이벤트
      $('#btnClear').click(function () {

        document.getElementById('cboCompany').value = '';
        document.getElementById('cboCompanyHidden').value = '';
      });

    })
  </script>

</th:block>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</html>