<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>지급 현황</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>출금 관리</li>
                <li>지급 현황</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            거래처<span class="eq">*</span>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="text" id="btnCompanySearch" name="keyword" />
                                    <input type="hidden" id="cboCompanyHidden" name="keyword" />
                                </li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label for="accountNum">
                                계좌명<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input type="text" id="accountNum">
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label for="depositType">
                                입금형태
                            </label>
                        </dt>
                        <dd>
                            <select id="depositType" name="depositType">

                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="remark">
                                적 요
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="remark">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="eumNum">
                                어음번호
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="eumNum">
                        </dd>
                    </dl>
                </div>
            </div>
            <div style="display: flex;">
                <dl>
                    <dt>
                        <label for="">
                            조회기간
                        </label>
                    </dt>
                    <dd>
                        <ul class="date-box">
                            <li>
                                <input type="date" id="date_from" name="date_from">
                                <label for="date_from" class="hide">시작일</label>
                            </li>
                            ~
                            <li>
                                <input type="date" id="date_to" name="date_to">
                                <label for="date_to" class="hide">종료일</label>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dd>
                        <li>
                            <a class="btn btn-delete" title="검색" id="btnMainSearch">
                                <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                검색
                            </a>
                        </li>
                    </dd>
                </dl>
            </div>
            <div class="container-fluid">
                <div id="theGrid" style="height: 600px;"></div>
            </div>

        </section>
    </div>

    <script type="text/x-tmpl" id="production_order">
        <div class="content_wrap popup">
            <div class="table-wrap">
                <form id="productionOrderForm" class="form-group">
                    <table class="write-table">
                        <caption>작업 지시 테이블</caption>
                        <input type="hidden" id="id" name="id" value="{%=o.id%}">
                        <tbody>
                            {% if (o.id != '') { %}
                            <tr>
                                <th style="text-align: center">
                                    <label for="workorder_number">작지번호</label>
                                </th>
                                <td>
                                    <input class="form-control2 tac readonly" id="workorder_number" name="workorder_number" type="text" readonly="readonly" value="{%=o.workorder_number%}" />
                                </td>
                                <th style="text-align: center">
                                    <label for="cboState">상태</label>
                                </th>
                                <td>
                                    <input class="form-control2 tac readonly" id="cboState" name="cboState" type="text" readonly="readonly" value="{%=o.state_name%}" />
                                </td>
                            </tr>
                            {% } %}
                            <tr>
                                <th style="text-align: center">
                                    <label for="cboMaterialGrp">품목그룹</label>
                                </th>
                                <td>
                                    <input class="form-control2" id="cboMaterialGrp" name="cboMaterialGrp" readonly type="hidden">
                                    <input class="form-control2" id="cboMaterialGrpName" name="cboMaterialGrpName" readonly>
                                </td>
                                <th style="text-align: center">
                                    <label for="mat_code">품목코드</label>
                                </th>
                                <td>
                                    <input type="text" class="form-control2" id="mat_code" name="mat_code" readonly value="{%=o.mat_code%}" />
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="cboMaterial">제품*</label>
                                </th>
                                <td colspan="3">
                                    <input id="cboMaterial" type="hidden" name="cboMaterial" readonly >
                                    <input id="cboMaterialName" name="cboMaterialName" readonly placeholder="검색버튼을 클릭하여 제품을 검색하세요">
                                    <a class="btn btn-delete" id="btnMaterialSearch" title="품목검색">
                                        <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                        품목 검색
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="txtOrderQty">지시량*</label>
                                </th>
                                <td>
                                    <input class="form-control2 tar" type="number" id="txtOrderQty" name="txtOrderQty" value="{%=o.order_qty%}" min="1" />
                                </td>
                                <th style="text-align: center">
                                    <label for="txtUnit">단위</label>
                                </th>
                                <td>
                                    <input class="form-control2 tac readonly" type="text" id="txtUnit" name="txtUnit" value="{%=o.unit_name%}" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="production_date">생산일</label>
                                </th>
                                <td>
                                    <input class="form-control2 tac" type="date" id="production_date" name="production_date" value="{%=o.production_date%}" />
                                </td>
                                <th style="text-align: center">
                                    <label for="cboShiftCode">근무조*</label>
                                </th>
                                <td>
                                    <select class="form-control2" id="cboShiftCode" name="cboShiftCode" value="{%=o.shift_name%}"></select>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="cboWorcenter">워크센터*</label>
                                </th>
                                <td>
                                    <select class="form-control2" id="cboWorcenter" name="cboWorcenter"></select>
                                </td>
                                <th style="text-align: center">
                                    <label for="cboEquipment">설비</label>
                                </th>
                                <td>
                                    <select class="form-control2" id="cboEquipment" name="cboEquipment"></select>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    <label for="txtDescription">비고</label>
                                </th>
                                <td colspan="3">
                                    <textarea class="form-control2" id="txtDescription" name="txtDescription">{%=o.description%}</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="popup-button">
                <button type="button" class="btn-popup" id="btn_save" ><span data-labelCd="저장">저장</span></button>
                <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            </div>
        </div>
    </script>

    <th:block layout:fragment="scripts">
        <th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
        <th:block th:replace="/common/popup_company :: popup_company"></th:block>
        <th:block th:replace="/common/popup_account :: popup_account" />
        <script type="text/javascript">

            class production_require {
                constructor() {
                    this.grid = null;
                    this.init();
                }

                init() {
                    let _this = this;
                    this.grid = new wijmo.grid.FlexGrid('#theGrid', {
                        autoGenerateColumns: false,
                        selectionMode: wijmo.grid.SelectionMode.Row,
                        headersVisibility: wijmo.grid.HeadersVisibility.Column,
                        isReadOnly: false,
                        showMarquee: true,
                        formatItem: (sender, e) => {
                            if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                                e.cell.style.textAlign = 'center';
                            }
                        },
                        columns: [
                            {binding: 'trdate', header: '일자', width: 130, align: 'center'},
                            {binding: 'id', header: '코드', width: 120, align: 'center'},
                            {binding: 'Name', header: '거래처명', width: 220, align: 'center'},
                            {binding: 'accout', header: '금액', width: 100, align: 'right'},
                            {binding: 'iotype', header: '지급형태', width: 130, align: 'left'},
                            {binding: 'accname', header: '은행', width: 110, align: 'center'},
                            {binding: 'accnum', header: '계좌', width: 200, align: 'center'},
                            {binding: 'trid', header: '거래구분', width: 120, align: 'center'},
                            {binding: 'memo', header: '메모', width: 450, align: 'left'},
                            {binding: 'remark', header: '적요', width: 350, align: 'left'}
                        ]
                    });

                    new FlexGridContextMenu(this.grid);
                    this.grid.downloadFileName = '작업 지시 등록 내역';

                    this.grid.hostElement.addEventListener('dblclick', function (e) {
                        let items = _this.grid.selectedItems;
                        if (items.length === 0) {
                            return false;
                        }
                        $('#btnPlanSave').trigger('click');
                    });
                    // ✅ Footer 패널 사용 설정
                    this.grid.columnFooters.rows.push(new wijmo.grid.Row());
                    this.grid.bottomLeftCells.setCellData(0, 0, '월 계');
                    this.grid.columnFooters.rows.push(new wijmo.grid.Row());
                    this.grid.bottomLeftCells.setCellData(0, 0, '합 계');

                    // ✅ Footer 합계 값 설정 (수동)
                    this.grid.loadedRows.addHandler(() => {
                        const rows = this.grid.rows;
                        const footerMonth = this.grid.columnFooters.rows[0];
                        const footerTotal = this.grid.columnFooters.rows[1];

                        const getSum = (field) => rows.map(r => +r.dataItem[field] || 0).reduce((a, b) => a + b, 0);

                        footerMonth.dataItem = {
                            mat_grp_name: '월 계'
                            // year_qty_sum: getSum('year_qty_sum'),
                            // year_money_sum: getSum('year_money_sum'),
                        };
                        footerTotal.dataItem = {
                            mat_grp_name: '합 계'
                            // year_qty_sum: getSum('year_qty_sum'),
                            // year_money_sum: getSum('year_money_sum'),
                        };
                    });
                }

                searchMainData() {
                    let _this = this;
                    let date_from = $('#date_from').val();
                    let date_to = $('#date_to').val();
                    let company = $('#cboCompanyHidden').val();
                    let accountNum = $('#accountNum').val();
                    let depositType = $('#depositType').val();
                    let remark = $('#remark').val();
                    let eumNum = $('#eumNum').val();
                    let url = '/api/transaction/payment_list'
                    let data = {
                        'date_from': date_from,
                        'date_to': date_to,
                        'companyCode': company,
                        'accountNum': accountNum,
                        'depositType': depositType,
                        'remark': remark,
                        'eumNum': eumNum
                    };
                    let result = AjaxUtil.getSyncData(url + "/read", data);
                    if (result.data != null) {
                        console.log("data : ", result.data)
                        _this.grid.itemsSource = new wijmo.collections.CollectionView(result.data);
                    }
                }



                showPopUp(data, action) {
                    let _this = this;
                    let content = tmpl('production_order', data);
                    let $content = $(content);
                    let $form = $content.find('#productionOrderForm');
                    let today = CommonUtil.getYYYYMMDD();

                    let modalContainer = null;
                    if (action === 'update') {
                        modalContainer = new PopupDraggable('작업 지시 수정');
                        modalContainer.open({width: 1000, height: 550, $content});
                    } else if (action === 'new') {
                        modalContainer = new PopupDraggable('작업 지시 등록');
                        modalContainer.open({width: 1000, height: 480, $content});
                    }

                    let $btnMaterialSearch = $content.find('#btnMaterialSearch');

                    // $('#srchDt').ax5DatePicker({direction: 'top'});
                    $('production_date').val(today);

                    AjaxUtil.fillSelectOptions($content.find('#cboShiftCode'), 'shift', 'choose', false);
                    AjaxUtil.fillSelectOptions($content.find('#cboMaterialGrp'), 'material_group', 'choose', false, 'product,semi');
                    AjaxUtil.fillSelectOptions($content.find('#cboWorcenter'), 'workcenter', 'choose', false);

                    $content.find('#cboWorcenter').off('change').on('change', function () {
                        const workcenterId = $content.find('#cboWorcenter').val();
                        if (!workcenterId) return;
                        AjaxUtil.fillSelectOptions($content.find('#cboEquipment'), 'equipment_code', 'choose', '', $content.find('#cboWorcenter').val());
                    });
                    AjaxUtil.fillSelectOptions($content.find('#cboMaterial'), 'material', 'choose', false);

                    if (action === 'update') {
                        AjaxUtil.fillSelectOptions($content.find('#cboMaterial'), 'material', 'choose', false, data.mat_grp_id);
                        $content.find('#cboShiftCode').val(data.shift_code);
                        $content.find('#cboMaterialGrp').val(data.mat_grp_id);
                        $content.find('#cboMaterial').val(data.mat_id);
                        $content.find('#cboMaterialGrpName').val(data.mat_grp_name);
                        $content.find('#cboMaterialName').val(data.mat_name);
                        $content.find('#cboWorcenter').val(data.workcenter_id);
                        $content.find('#cboEquipment').val(data.equip_id);
                    } else {
                        $btnMaterialSearch.removeAttr('disabled');
                        $btnMaterialSearch.click(function (e) {

                            let pop = new PopMatComponent();
                            pop.material_type = 'product,semi';
                            pop.show(function (item) {
                                $content.find('#cboMaterial').val(item.id);
                                $content.find('#cboMaterialGrp').val(item.MaterialGroup_id);
                                $content.find('#cboMaterialName').val(item.Name);
                                $content.find('#cboMaterialGrpName').val(item.group_name);
                                $content.find('#mat_code').val(item.Code);
                                $content.find('#cboWorcenter').val(item.WorkCenter_id);
                                $content.find('#cboEquipment').val(item.Equipment_id);

                                const $cboEquipment = $content.find('#cboEquipment');
                                const $cboWorcenter = $content.find('#cboWorcenter');

                                if (item.WorkCenter_id) {
                                    // 워크센터 선택 → 그에 맞는 설비 옵션 채우기
                                    AjaxUtil.fillSelectOptions($cboEquipment, 'equipment_code', 'choose', item.Equipment_id, item.WorkCenter_id, function () {
                                        // 설비 옵션이 로드된 뒤, 일치하는 Equipment_id가 있으면 선택
                                        if (item.Equipment_id) {
                                            $cboEquipment.val(item.Equipment_id);
                                        }
                                    });
                                } else {
                                    $cboEquipment.empty(); // 워크센터 없으면 설비 초기화
                                }

                                // 워크센터 변경 시 설비 옵션 다시 채우기
                                $cboWorcenter.off('change').on('change', function () {
                                    const workcenterId = $(this).val();
                                    if (!workcenterId) return;

                                    AjaxUtil.fillSelectOptions($cboEquipment, 'equipment_code', 'choose', '', workcenterId);
                                });
                            });
                            pop.searchDataBind();

                        });

                    }



                    $('#cboMaterialGrp').change(function (e) {
                        AjaxUtil.fillSelectOptions($content.find('#cboMaterial'), 'material', 'choose', false, $content.find('#cboMaterialGrp').val());
                    });


                    $('#cboMaterial').change(function (e) {
                        let url = '/api/production/prod_order_a/mat_info';
                        let id = $content.find('#cboMaterial').val();
                        let data = {'id': id};
                        let result = AjaxUtil.getSyncData(url, data);
                        if (result.data != null) {
                            $content.find('#cboWorcenter').val(result.data.workcenter_pk);
                            $content.find('#txtUnit').val(result.data.unit_name);
                        } else {
                            $content.find('#cboWorcenter').val(null);
                            $content.find('#txtUnit').val(null);
                        }
                        //$content.find('#cboWorcenter').val(result.workcenter_pk);
                        //$content.find('#cboEquipment').val(result.equip_pk);

                    })

                    $content.find('#btn_save').on('click', function (e) {

                        // 필수입력 check routine

                        if (!$('#cboShiftCode').val()) {
                            Alert.alert('', '근무조를 선택해 주세요.');
                            return false;
                        }

                        if (!$('#cboWorcenter').val()) {
                            Alert.alert('', '워크센터를 선택해 주세요.');
                            return false;
                        }

                        if (!$('#cboMaterialGrp').val()) {
                            Alert.alert('', '제품 그룹을 선택해 주세요.');
                            return false;
                        }

                        if (!$('#cboMaterial').val()) {
                            Alert.alert('', '제품을 선택해 주세요.');
                            return false;
                        }

                        if (!$('#txtOrderQty').val()) {
                            Alert.alert('', '지시량을 입력해 주세요.');
                            return false;
                        } else if ($('#txtOrderQty').val() < 1) {
                            Alert.alert('', '지시량을 확인해 주세요.');
                            return false;
                        }

                        Alert.confirm('', "저장하시겠습니까?",
                            function () {
                                _this.saveOrder($form, modalContainer);
                            }
                        );

                    });
                }

                //버튼 활성화
                setButtonState() {
                    let pk = this.grid.selectedItems;
                    $('#btnNew').prop('disabled', false);
                    $('#btnSave').prop('disabled', false);
                    if (pk) {
                        $('#btnDel').prop('disabled', false);
                    } else {
                        $('#btnDel').prop('disabled', true);
                    }
                }

            }

            let page = null;

            $(document).ready(function (e) {
                page = new production_require();

                let date_from = CommonUtil.getYYYYMMDD(-7);
                let today = CommonUtil.getYYYYMMDD();

                $('#date_from').val(date_from);
                $('#date_to').val(today);

                // 검색
                $('#btnMainSearch').click(function (e) {
                    page.searchMainData();
                });

                if (userinfo.group_code == 'admin') {
                    $('#btnGridSetting').css('visibility', 'visible');
                }

                // 거래처 focus시 거래처 검색 모달
                $('#btnCompanySearch').focus(function () {
                    let poppage = new PopCompComponent();
                    let $poppage = $(poppage);
                    let searchcallback = function (items) {
                        console.log('items : ',items);
                        document.getElementById('btnCompanySearch').value = items.compname;
                        document.getElementById('cboCompanyHidden').value = items.id;
                    };

                    poppage.show(searchcallback);
                });

                //계좌 팝업
                $('#accountNum').focus(function () {
                    let poppage = new PopAccountComponent();
                    let searchcallback = function (items) {
                        console.log('btnAccountName items : ', items);
                        // document.getElementById('btnAccountName').value = items.compname;
                    };
                    poppage.show(searchcallback);
                });

                // text '' 일경우 hidden 값 초기화
                $('#btnCompanySearch').on('input', function () {
                    const val = $(this).val();
                    if (val === '') {
                        $('#cboCompanyHidden').val('');
                    }
                });
                $('#btnAccountName').on('input', function () {
                    const val = $(this).val();
                    if (val === '') {
                        $('#cboBankId').val('');
                    }
                });
                // .btn-clear 클릭 후 input 이벤트 강제 발생
                $(document).on('click', '.btn-clear', function () {
                    const $input = $(this).siblings('input[type="text"]');
                    $input.val('');
                    $input.trigger('input'); // 🔥 input 이벤트 강제 발생
                });

                AjaxUtil.fillSelectOptions($('#depositType'), 'system_code', 'all', false, 'deposit_type');
                page.searchMainData();

            })
        </script>
    </th:block>
</th:block>
</html>
