<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>지급 현황</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>출금관리</li>
                <li>지급 현황</li>
            </ul>
        </div>
        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl id="searchComArea">
                        <dt>
                            거래처
                        </dt>
                        <dd>
                            <input type="text" id="btnCompanySearch" name="btnCompanySearch" placeholder="해당 칸을 클릭해서 검색하세요." style="width:225px">
                            <input type="hidden" id="cboCompanyHidden">
                            <input type="hidden" id="spjangcdHidden">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="btnAccountName">
                                계좌명
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input type="text" id="btnAccountName" name="btnAccountName" placeholder="해당 칸을 클릭해서 검색하세요."  style="width:225px">
                                <input type="hidden" id="cboBankId">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="cboDepositType">
                                입급 형태<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select id="cboDepositType" name="cboDepositType">
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="txtDescription">
                                적요
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input class="form-control2" type="text" id="txtDescription" name="txtDescription" placeholder="적요" style="width:150px"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="txtEumnum">
                                어음번호
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input class="form-control2" type="text" id="txtEumnum" name="txtEumnum" placeholder="어음번호" style="width:200px"/>
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            조회기간<span class="eq">*</span>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="date" id="srchStartDt" name="srchStartDt">
                                    <label for="srchStartDt" class="hide">시작일</label>
                                </li>
                                ~
                                <li>
                                    <input type="date" id="srchEndDt" name="srchEndDt">
                                    <label for="srchEndDt" class="hide">종료일</label>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                    <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="container-fluid">
                <div id="theGrid" style="height: 730px;" ></div>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <!--<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>-->
    <th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
    <th:block th:replace="/common/popup_company :: popup_company"></th:block>
    <th:block th:replace="/common/popup_account :: popup_account" />

    <script type="text/javascript">
        class PaymentList {
            constructor() {
                this.grid = null;
                this.$btnEdit = $('#btnEdit');
                this.$btnAddNew = $('#btnAddNew');
                this.spjangcd = $('#spjangcdHidden');
                this.viewData = new wijmo.collections.CollectionView();
                this.init();
            }

            init() {
                let _this = this;
                this.grid = new wijmo.grid.FlexGrid('#theGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            const row = sender.rows[e.row];
                            if (row instanceof wijmo.grid.GroupRow) {
                                const group = row.dataItem;
                                const sumAccOut = wijmo.getAggregate(wijmo.Aggregate.Sum, group.items, 'accout');
                                e.cell.innerHTML = `<b>${group.name}</b> (월 계: ${sumAccOut.toLocaleString()}원)`;
                                e.cell.colSpan = sender.columns.length;
                            }
                        }
                    },
                    columns: [
                        {binding: 'trdate', header: '일자', width: 120, align: 'left'},
                        {binding: 'ioid', header: '코드', width: 100, align: 'right',visible: false },
                        {binding: 'CompanyName', header: '거래처명', width: 160, align: 'center'},
                        {binding: 'accout', header: '금액', width: 130, align: 'right'},
                        {binding: 'deposit_type', header: '입급형태', width: 80, align: 'center'},
                        {binding: 'banknm', header: '은행', width: 100, align: 'center'},
                        {binding: 'accnum', header: '계좌', width: 180, align: 'center'},
                        {binding: 'eumnum', header: '어음번호', width: 180, align: 'center'},
                        {binding: 'eumtodt', header: '만기일자', width: 120, align: 'center'},
                        {binding: 'tradenm', header: '거래구분', width: 100, align: 'center'},
                        {binding: 'remark1', header: '적요', width: 170},
                        {binding: 'memo', header: '메모', width: 190}
                    ],
                    itemsSource: this.viewData, // 데이터를 설정할 배열
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '지급 현황';

                //Footer 패널 사용 설정
                this.grid.columnFooters.rows.push(new wijmo.grid.Row());
                this.grid.bottomLeftCells.setCellData(0, 0, '합계');

                // Footer 합계 값 설정 (수동)
                this.grid.loadedRows.addHandler(() => {
                    const rows = this.grid.rows;
                    const footer = this.grid.columnFooters.rows[0];

                    const getSum = (field) => rows.map(r => +r.dataItem[field] || 0).reduce((a, b) => a + b, 0);

                    footer.dataItem = {
                        CompanyName: "합계",
                        accout: getSum('accout'),
                    };
                });


                // 엔터키 검색
                $('#txtDescription, #txtEumnum').on('keypress', function (e) {
                    if (e.keyCode === 13) {
                        _this.searchMainData();
                    }
                });
            }

            searchMainData() {
                let _this = this;
                let url = '/api/transaction/payment_list/read'

                let data = {
                    'srchStartDt' : $("#srchStartDt").val(),
                    'srchEndDt' : $("#srchEndDt").val(),
                    'AccountName' : $("#cboBankId").val(), //계좌명(accid로 검색)
                    'cboDepositType' : $('#cboDepositType').val(),  //입금형태
                    'cboCompany': $("#cboCompanyHidden").val(),
                    'txtDescription' : $("#txtDescription").val(),
                    'txtEumnum' :$('#txtEumnum').val(),
                    spjangcd: this.spjangcd.val()  //사업장 코드
                }
                let fnsuccess = function(result) {
                    if (result != null) {
                        _this.viewData = new wijmo.collections.CollectionView(result.data);

                        _this.viewData.groupDescriptions.push(
                            new wijmo.collections.PropertyGroupDescription('trdate', (item, prop) => {
                                if (!item[prop]) return '';
                                const date = new Date(item[prop]);
                                const year = date.getFullYear();
                                const month = ('0' + (date.getMonth() + 1)).slice(-2);
                                return `${year}년${month}월`; // 여기!
                            })
                        );

                        _this.grid.itemsSource = _this.viewData;
                    }
                };

                AjaxUtil.getAsyncData(url, data, fnsuccess);
            }
        }
        let page = null;

        $(document).ready(function (e) {

            const spjangcd = sessionStorage.getItem('spjangcd');
            if (spjangcd) {
                $('#spjangcdHidden').val(spjangcd);
            }

            page = new PaymentList();

            AjaxUtil.fillSelectOptions($('#cboYear'), 'data_year', '', false);
            AjaxUtil.fillSelectOptions($('#cboDepositType'), 'system_code', 'all', false, 'deposit_type', '');

            let today = new Date();
            let monthStart = new Date(today.getFullYear(), today.getMonth(), 1);

            $('#srchStartDt').val(CommonUtil.formatYYYYMMDD(monthStart));
            $('#srchEndDt').val(CommonUtil.formatYYYYMMDD(today));

            page.searchMainData();

            // 검색
            $('#btnSearch').click(function (e) {
                if ($('#cboCompany').val() !== '' && $('#cboCompanyHidden').val() === '') {
                    // 업체명 텍스트는 썼지만, 업체 검색 버튼 안 눌렀을 때
                    page.searchMainData();
                } else {
                    page.searchMainData();
                }
            });


            $('#btnGridSetting').click(function (e) {
                let _this = this;
                let fix_cols = page.grid_config.frozenColumnIndex;
                page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
            });

            $('#btnCompanySearch').click(function () {
                let poppage = new PopCompComponent();
                let $poppage = $(poppage);
                let searchcallback = function (items) {
                    //console.log('items : ',items);
                    document.getElementById('btnCompanySearch').value = items.compname;
                    document.getElementById('cboCompanyHidden').value = items.id;
                };

                poppage.show(searchcallback);
            });

            $('#btnCompanySearch').on('input', function () {
                const val = $(this).val();
                if (val === '') {
                    $('#cboCompanyHidden').val('');
                }
            });

            //계좌 팝업
            $('#btnAccountName').click(function () {
                let poppage = new PopAccountComponent();
                let searchcallback = function (items) {
                    //console.log('btnAccountName items : ', items);
                    document.getElementById('btnAccountName').value = items.accountName;
                    document.getElementById('cboBankId').value = items.accid;
                };
                poppage.show(searchcallback);
            });

            $('#btnAccountName').on('input', function () {
                const val = $(this).val();
                if (val === '') {
                    $('#cboBankId').val('');
                }
            });

            // .btn-clear 클릭 후 input 이벤트 강제 발생
            $(document).on('click', '.btn-clear', function () {
                const $input = $(this).siblings('input[type="text"]');
                $input.val('');
                $input.trigger('input'); // 🔥 input 이벤트 강제 발생
            });
            // 초기화 버튼 클릭 이벤트
            $('#btnClear').click(function () {

                document.getElementById('cboCompany').value = '';
                document.getElementById('cboCompanyHidden').value = '';
            });

        })
    </script>

</th:block>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</html>