<html layout:decorate="~{layout_page}">
<head>
    <style>
        .wj-cell .v-center {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            white-space: pre-wrap;
        }
    </style>
</head>

<th:block layout:fragment="content">

    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>매출 계산서 관리</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>입금 관리</li>
                <li>매출 계산서 관리</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            <label for="cboInvoice">
                                검색 구분<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select id="cboInvoice" name="cboInvoice">
                                    <option value="" selected>전체</option>
                                    <option value="과세">세금계산서</option>
                                    <option value="영세">영세율 세금계산서</option>
                                    <option value="면세">계산서</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="btnCompanySearch">
                                거래처
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="btnCompanySearch" name="btnCompanySearch" placeholder="해당 칸을 클릭해서 검색하세요.">
                            <input type="hidden" id="cboCompanyHidden">
                        </dd>
                    </dl>
                    <!--                    <dl>-->
                    <!--                        <dt>-->
                    <!--                            <label for="cboAlign">-->
                    <!--                                정렬<span class="eq"></span>-->
                    <!--                            </label>-->
                    <!--                        </dt>-->
                    <!--                        <dd>-->
                    <!--                            <div class="srch-box">-->
                    <!--                                <select id="cboAlign" name="cboAlign">-->
                    <!--                                    <option value="createDate">작성일자</option>-->
                    <!--                                    <option value="issueDate">발행일자</option>-->
                    <!--                                </select>-->
                    <!--                            </div>-->
                    <!--                        </dd>-->
                    <!--                    </dl>-->
                    <dl>
                        <dt>
                            조회기간<span class="eq">*</span>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="date" id="srchStartDt" name="srchStartDt">
                                    <label for="srchStartDt" class="hide">시작일</label>
                                </li>
                                <li>
                                    <input type="date" id="srchEndDt" name="srchEndDt">
                                    <label for="srchEndDt" class="hide">종료일</label>
                                </li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                    <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>
                </div>
                <div class="button-wrap">
                    <ul>
                        <li>
                            <a class="btn" title="거래명세서 출력" id="btnPrint">
                                거래명세서 출력
                            </a>
                        </li>
                        <li>
                            <a class="btn" title="출고 리스트" id="btnShipList">
                                출고 리스트
                            </a>
                        </li>
                        <li>
                            <a class="btn" title="계산서 일괄 등록" id="btnAddBatch">
                                계산서 일괄 등록
                            </a>
                        </li>
                        <li>
                            <a class="btn" title="계산서 등록" id="btnAddNew">
                                계산서 등록
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            <label for="totalAmount">
                                총 합계금액
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input style="text-align: right;max-width: 200px;" class="form-control2" id="totalAmount" name="totalAmount" readonly>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="totalSupPrice">
                                총 공급가액
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input style="text-align: right;max-width: 200px;" class="form-control2" id="totalSupPrice" name="totalSupPrice" readonly>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="totalTax">
                                총 세액
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input style="text-align: right;max-width: 200px;" class="form-control2" id="totalTax" name="totalTax" readonly>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="button-wrap">
                    <ul>
                        <li>
                            <a class="btn btn-delete" title="삭제" id="btnDelete">
                                <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                삭제
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-edit" title="수정" id="btnEdit">
                                <img src="/images/icon/ico-edit.svg" alt="수정 아이콘">
                                수정
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-edit" title="수정" id="btnIssue" >
                                발행
                            </a>
                        </li>
                        <li style="display: none;">
                            <a class="btn btn-edit" title="수정" id="btnIssueCancel">
                                발행 취소
                            </a>
                        </li>
                        <li>
                            <a class="btn" title="역발행/재전송" id="btnReIssue">
                                역발행/재전송
                            </a>
                        </li>
                        <li style="display: none;">
                            <a class="btn" title="역발행/재전송" id="btnModifyInvoice">
                                수정 세금계산서 발행
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <div id="theGrid" style="height: 660px;"></div>
            </div>
        </section>
    </div>
    <script type="text/x-tmpl" id="addShipListPopup">
        <div class="content_wrap popup">
            <div class="section-top">
                <div class="search-wrap" style="justify-content: flex-start;">
                  <dl>
                    <dt style="display:flex;">
                      조회기간
                    </dt>
                    <dd>
                      <ul class="date-box">
                        <li>
                          <input type="date" id="srchStartDt" name="srchStartDt">
                          <label for="srchStartDt" class="hide">시작일</label>
                        </li>
                        <li>
                          <input type="date" id="srchEndDt" name="srchEndDt">
                          <label for="srchEndDt" class="hide">종료일</label>
                        </li>
                      </ul>
                    </dd>
                  </dl>

                  <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                      <li>
                        <a class="btn btn-delete" title="검색" id="btnSearch">
                          <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                          <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                          검색
                        </a>
                      </li>
                    </dd>
                  </dl>
                </div>
            </div>
            <div class="container-fluid">
                <div id="ship-list-grid" style="height: 400px;"></div>
            </div>
            <div class="popup-button">
                <button type="button" class="btn-popup y_write_auth" id="btnShipAction">계산서 등록</button>
                <button type="button" class="btn-popup" id="modal-close-button">닫기</button>
            </div>

        </div>
    </script>

</th:block>

<th:block layout:fragment="scripts">
    <!--<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>-->
    <th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
    <th:block th:replace="/common/popup_company :: popup_company"></th:block>
    <th:block th:replace="/common/popup_invoice :: popup_invoice"></th:block>
    <th:block th:replace="/common/popup_totalAmount :: popup_totalAmount"></th:block>

    <script type="text/javascript">
        class SalesInvoicePage {
            constructor() {
                this.url = '/api/tran/tran';
                this.grid = null;
                this.$btnEdit = $('#btnEdit');
                this.$btnAddNew = $('#btnAddNew');
                this.viewData = new wijmo.collections.CollectionView();
                this.init();
                this.invoiceSelector = null;
                this.shipSelector = null

            }

            init() {
                let _this = this;
                this.grid = new wijmo.grid.FlexGrid('#theGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.All,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnFooter) {
                            const col = sender.columns[e.col];
                            if (col.binding === 'item_summary') {
                                e.cell.style.textAlign = 'center';
                            }
                        }
                    },
                    columns: [
                        {binding: 'misdate', header: '작성일자', width: 110, align: 'center'},
                        {binding: 'misnum', header: '작성번호', width: 90, visible: false},
                        {binding: 'cltcd', header: '회사id', width: 90, visible: false},
                        {binding: 'ivercorpnum', header: '사업자 번호', width: 150, align: 'center'},
                        {binding: 'ivercorpnm', header: '상호', width: 130, align: 'left'},
                        {binding: 'item_summary', header: '품명', width: 100},
                        {binding: 'totalamt', header: '합계금액', width: 110, align: 'right', format: 'n0'},
                        {binding: 'supplycost', header: '공급가액', width: 110, align: 'right', format: 'n0'},
                        {binding: 'taxtotal', header: '세액', width: 110, align: 'right', format: 'n0'},
                        {binding: 'statecode', header: '상태', width: 100, align: 'center'},
                        {binding: 'taxtype', header: '구분', width: 100, align: 'center'},
                        {binding: 'misgubun_name', header: '매출구분', width: 100, align: 'center'},
                        {binding: 'iverceonm', header: '대표자', width: 100, align: 'center'},
                        {binding: 'iveremail', header: '이메일', width: 130, align: 'center'},
                        {binding: 'iveraddr', header: '주소', width: 150, align: 'center'},
                    ],
                    itemsSource: this.viewData, // 데이터를 설정할 배열
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '매출 계산서 내역';

                // 하단 합계 행 추가
                this.grid.columnFooters.rows.push(new wijmo.grid.GroupRow());

                // 데이터 변경 시 합계 업데이트
                this.grid.collectionView.collectionChanged.addHandler(() => {
                    _this.updateFooter();
                });
                this.invoiceSelector = new wijmo.grid.selector.Selector(this.grid, {
                    itemChecked: () => {
                        this.updateSelectedTotals();
                    }
                })

                this.grid.hostElement.addEventListener('dblclick', function (e) {
                    let items = _this.grid.selectedItems;
                    if (items.length === 0) {
                        return false;
                    }
                    _this.$btnEdit.trigger('click');
                });


                //수주등록 클릭
                this.$btnAddNew.click(function (e) {
                    let defaultData = {
                        id: '',
                        mode: 'new',
                    };
                    _this.showInvoiceForm(defaultData);
                });

                // 수주 수정 클릭
                this.$btnEdit.click(function (e) {
                    let selectedItems = _this.grid.selectedItems;

                    if (selectedItems.length === 1) {

                        let data = {
                            misdate: selectedItems[0].misdate,
                            misnum: selectedItems[0].misnum,
                            action: 'detail'
                        };
                        let fnsuccess = function (result) {
                            console.log('edit', result.data);
                            result.data['mode'] = 'edit';
                            _this.showInvoiceForm(result.data);
                        };
                        AjaxUtil.getAsyncData(_this.url + '/invoice_detail', data, fnsuccess);
                    } else if (selectedItems.length > 1) {
                        Alert.alert('', '데이터를 하나만 선택하세요.');
                    } else {
                        Alert.alert('', '선택된 데이터가 없습니다.');
                    }

                });

                // 삭제 버튼
                $('#btnDelete').click(function (e) {
                    const items = _this.grid.rows
                        .filter(row => row.isSelected)
                        .map(row => row.dataItem);
                    console.log('items', items);

                    if (items.length === 0) {
                        Alert.alert('', '삭제할 항목을 선택해주세요.');
                        return;
                    }

                    Alert.confirm('', '선택한 항목을 삭제하시겠습니까?', function () {
                        const deleteList = items.map(item => ({
                            misnum: item.misnum,
                            misdate: item.misdate.replace(/-/g, '')  // '2025-04-30' → '20250430'
                        }));

                        let url = _this.url + '/invoice_delete';
                        AjaxUtil.postJsonData(url, deleteList, function (res) {
                            if (res.success) {
                                Alert.alert('', '삭제가 완료되었습니다.', function () {
                                    _this.searchMainData();
                                });
                            } else {
                                Alert.alert('', '삭제 중 오류가 발생했습니다.');
                            }
                        });
                    });

                });
            }

            updateSelectedTotals() {
                const selectedItems = this.grid.rows
                    .filter(row => row.isSelected)
                    .map(row => row.dataItem);
                let _this = this;
                let totalAmt = 0, totalSupply = 0, totalTax = 0;

                selectedItems.forEach(item => {
                    totalAmt += item.totalamt || 0;
                    totalSupply += item.supplycost || 0;
                    totalTax += item.taxtotal || 0;
                });

                const formatNumber = (n) => n.toLocaleString('ko-KR');
                $('#totalAmount').val(formatNumber(totalAmt));
                $('#totalSupPrice').val(formatNumber(totalSupply));
                $('#totalTax').val(formatNumber(totalTax));
            }


            // 하단 합계 업데이트 함수
            updateFooter() {
                let totalamtSum = 0;
                let supplycostSum = 0;
                let taxtotalSum = 0;

                // grid 합계 계산
                if (this.grid && this.grid.collectionView) {
                    this.grid.collectionView.items.forEach(item => {
                        totalamtSum += item.totalamt || 0; // undefined일 경우 0 처리
                        supplycostSum += item.supplycost || 0; // undefined일 경우 0 처리
                        taxtotalSum += item.taxtotal || 0; // undefined일 경우 0 처리
                    });

                    // columnFooters의 첫 번째 행을 가져와 합계 업데이트
                    let footerRow = this.grid.columnFooters.rows[0];

                    this.grid.columnFooters.setCellData(footerRow.index, 'item_summary', '합계');
                    this.grid.columnFooters.setCellData(footerRow.index, 'totalamt', totalamtSum);
                    this.grid.columnFooters.setCellData(footerRow.index, 'supplycost', supplycostSum);
                    this.grid.columnFooters.setCellData(footerRow.index, 'taxtotal', taxtotalSum);
                }

            }

            // 계산서 등록 팝업
            showInvoiceForm(data) {
                let _this = this;
                let content = tmpl('popup_invoiceTemplate', data);
                let $content = $(content);

                let modalContainer = null;
                let $taxForm = $content.find('#taxForm');
                // 매출 구분
                let $saleType = $content.find('#sale_type');
                AjaxUtil.fillSelectOptions($saleType, 'system_code', 'choose', false, 'sale_type');

                if (data.mode === 'new') {
                    modalContainer = new PopupDraggable('등록');

                    let purposeType = AjaxUtil.getSyncData('/api/definition/code/getvalue', { code: 'PurposeType' });

                    if (purposeType.data.Value === '영수') {
                        $content.find('#PurposeType1').prop('checked', true);
                    } else if (purposeType.data.Value === '청구') {
                        $content.find('#PurposeType2').prop('checked', true);
                    } else if (purposeType.data.Value === '없음') {
                        $content.find('#PurposeType3').prop('checked', true);
                    }

                    // 공급자 정보 불러오기
                    let data1 = {
                        spjangcd: 'ZZ',
                    };
                    let url = _this.url + '/invoicer_read';
                    let fnSaveSuccess = function (result) {
                        if (result.success) {
                            $content.find('#InvoicerCorpNum').val(result.data.saupnum).trigger('input');
                            // $content.find('#InvoicerTaxRegID').val(result.data);
                            $content.find('#InvoicerCorpName').val(result.data.spjangnm);
                            $content.find('#InvoicerCEOName').val(result.data.prenm);
                            $content.find('#InvoicerAddr').val(result.data.address);
                            $content.find('#InvoicerBizType').val(result.data.biztype);
                            $content.find('#InvoicerBizClass').val(result.data.item);
                            $content.find('#InvoicerContactName').val(result.data.agnertel1);
                            $content.find('#InvoicerTEL').val(result.data.agnertel2).trigger('input');
                            $content.find('#InvoicerEmail').val(result.data.emailadres);

                        }
                    };
                    AjaxUtil.getAsyncData(url, data1, fnSaveSuccess);

                } else {
                    modalContainer = new PopupDraggable('수정');
                    setTimeout(() => {
                        FormUtil.BindInvoiceDataForm(data, $content.find('#taxForm'));
                        $content.find('#InvoiceeCorpNum').prop('readonly', true);
                        $content.find('#writeDate')
                            .prop('readonly', true)
                            .css('background-color', '#EDEFF5');
                        $content.find('#btnInvoiceSave span').text('수정');
                    }, 0);

                }
                modalContainer.open({width: 1200, height: 680, $content});
                initializeDetailRows();


                let oldBusinessNumber = null;
                // 선택 버튼(거래처 조회)
                $content.find('#btnSelectInvoicee').click(function () {
                    let poppage = new PopCompComponent();

                    let searchcallback = function (items) {
                        $content.find('#InvoiceeID').val(items.id).trigger('change');
                        $content.find('#InvoiceeCorpNum').val(items.business_number).trigger('input');
                        $content.find('#InvoiceeTaxRegID').val(items.invoiceetaxregid);
                        $content.find('#InvoiceeCorpName').val(items.compname);
                        $content.find('#InvoiceeCEOName').val(items.invoiceeceoname);
                        $content.find('#InvoiceeAddr').val(items.invoiceeaddr);
                        $content.find('#InvoiceeBizType').val(items.invoiceebiztype);
                        $content.find('#InvoiceeBizClass').val(items.invoiceebizclass);
                        $content.find('#InvoiceeContactName1').val(items.invoiceecontactname1);
                        $content.find('#InvoiceeTEL1').val(items.invoiceetel1).trigger('input');
                        $content.find('#InvoiceeEmail1').val(items.invoiceeemail1);
                        oldBusinessNumber = items.business_number;


                    };

                    poppage.show(searchcallback);
                });

                // 저장버튼
                let $saveInvoicer = $content.find('#saveInvoicer');

                $saveInvoicer.click(function (e) {

                    //수주일, 납기일 체크?
                    let data = FormUtil.extractForm($taxForm);
                    console.log('$taxForm', data);

                    let id = data.InvoiceeID;
                    let newBusinessNumber = data.InvoiceeCorpNum;


                    if (id && oldBusinessNumber && oldBusinessNumber !== newBusinessNumber) {
                        Alert.confirm('', '사업자등록번호가 변경되었습니다.\n수정하시겠습니까?\n취소하면 새로 등록합니다.',
                            function () {
                                // 확인(수정 선택)
                                let url = _this.url + '/invoicee_save';
                                let fnSaveSuccess = function (result) {
                                    if (result.success) {
                                        Alert.alert('', '저장되었습니다.');
                                        _this.searchMainData();
                                    } else {
                                        Alert.alert('', result.message);
                                    }
                                };
                                AjaxUtil.postAsyncData(url, data, fnSaveSuccess);
                            },
                            function () {
                                // 취소(신규 선택)
                                data.InvoiceeID = '';
                                let url = _this.url + '/invoicee_save';
                                let fnSaveSuccess = function (result) {
                                    if (result.success) {
                                        Alert.alert('', '저장되었습니다.');
                                        $content.find('#InvoiceeID').val(result.data.id);
                                    } else {
                                        Alert.alert('', result.message);
                                    }
                                };
                                AjaxUtil.postAsyncData(url, data, fnSaveSuccess);
                            }
                        );
                    } else {
                        // id 없거나 사업자번호 변경 안된 경우 그냥 저장
                        let url = _this.url + '/invoicee_save';
                        let fnSaveSuccess = function (result) {
                            if (result.success) {
                                Notify.success("저장되었습니다.");
                            } else {
                                Notify.error(result.message || "저장에 실패했습니다.");
                            }
                        };
                        AjaxUtil.postAsyncData(url, data, fnSaveSuccess);
                    }

                });

                // 작성일자
                let $writeDate = $content.find('#writeDate');
                let today = CommonUtil.getYYYYMMDD();
                $writeDate.val(today);

                // 품목 추가 버튼
                $(document).on('click', 'a[id^="btnViewItem_"]', function (e) {
                    e.preventDefault();


                    const $btn = $(this);
                    const $row = $btn.closest('tr'); // 버튼이 속한 tr

                    const pop = new PopMatComponent();
                    pop.material_type = 'product,sangpum';

                    pop.show(function (item) {

                        $row.find('input[id$=".ItemId"]').val(item.id || '');
                        $row.find('textarea[id$=".ItemName"]').val(item.Name || '');
                        $row.find('textarea[id$=".Spec"]').val(item.Spec || '');

                        // checkAndTryShowPrice($row);

                    });

                    pop.searchDataBind();
                });

                // "합계금액" 라디오 버튼 클릭
                $content.find('#WriteType4').click(function (event) {
                    event.stopPropagation(); // 이벤트 버블링 막기
                    openPopup();
                });

                // "계산" 버튼 클릭
                $content.find('#totalAmountAct').click(function (event) {
                    event.stopPropagation(); // 이벤트 버블링 막기
                    openPopup();
                });

                function openPopup() {
                    let poppage = new PopTotalAmountComponent();

                    let searchcallback = function (items) {
                        console.log('totalAmountAct', items);
                        let index = 0;
                        while (true) {
                            let $supplyCost = $content.find('#detailList' + index + '\\.SupplyCost');
                            let $tax = $content.find('#detailList' + index + '\\.Tax');

                            // 없으면 반복 종료
                            if ($supplyCost.length === 0 || $tax.length === 0) {
                                break;
                            }

                            // 비어있는 행 찾기
                            if ($supplyCost.val().trim() === '' && $tax.val().trim() === '') {
                                $supplyCost.val(items.supplyCost.toLocaleString());
                                $tax.val(items.tax.toLocaleString());
                                break; // 입력했으면 멈춘다
                            }

                            index++;
                        }

                    };

                    poppage.show(searchcallback);
                }

                // 계산서 저장 버튼
                let $btnInvoiceSave = $content.find('#btnInvoiceSave');

                $btnInvoiceSave.click(function (e) {
                    let data = FormUtil.extractForm($taxForm);

                    for (let i = 0; i < 20; i++) {
                        let month = data[`detailList[${i}].PurchaseDT1`];
                        let day = data[`detailList[${i}].PurchaseDT2`];

                        if (month && day) {
                            // 두 값 모두 있을 때만 처리
                            const paddedMonth = month.padStart(2, '0');
                            const paddedDay = day.padStart(2, '0');
                            data[`detailList[${i}].PurchaseDT`] = `${paddedMonth}${paddedDay}`;
                        }

                        // 원래 필드는 제거 (서버에 안 보내도 되게)
                        delete data[`detailList[${i}].PurchaseDT1`];
                        delete data[`detailList[${i}].PurchaseDT2`];
                    }

                    console.log('taxForm', data);

                    Alert.confirm('', '저장하시겠습니까?', function () {
                        let url = _this.url + '/invoice_save';

                        let fnSaveSuccess = function (result) {
                            Notify.success("저장되었습니다.");
                            modalContainer.close();
                        };

                        AjaxUtil.postJsonAsyncData(url, data, fnSaveSuccess);
                    });

                });

                // let data = FormUtil.extractForm($taxForm);

                // $content.find('#InvoiceeID').change(function () {
                //     $content.find('tr[id^="item_"]').each(function () {
                //         checkAndTryShowPrice($(this));
                //     });
                // });

                // 단가 가져오기
                // function checkAndTryShowPrice($row) {
                //     const $Material_id = $row.find('input[id$=".ItemId"]');
                //     const $InvoiceeID = $content.find('#InvoiceeID'); // 거래처 id
                //     const today = new Date().getFullYear().toString();
                //     const month = $row.find('input[id$=".PurchaseDT1"]').val();
                //     const day = $row.find('input[id$=".PurchaseDT2"]').val();
                //
                //     const monthStr = month ? month.padStart(2, '0') : '01';
                //     const dayStr = day ? day.padStart(2, '0') : '01';
                //     const JumunDate = `${today}-${monthStr}-${dayStr}`;
                //
                //     if ($Material_id.val() && $InvoiceeID.val() && JumunDate) {
                //         tryShowPrice($Material_id.val(), $InvoiceeID.val(), $row, JumunDate);
                //     }
                // }

                // $(document).on('change', 'input[id$=".PurchaseDT1"], input[id$=".PurchaseDT2"]', function () {
                //     const $row = $(this).closest('tr');
                //     checkAndTryShowPrice($row);
                // });

                // function tryShowPrice(mat_pk, company_id, row, JumunDate) {
                //     let url = '/api/sales/suju/readPriceSuju';
                //     let data = {
                //         'mat_pk': mat_pk,
                //         'company_id': company_id,
                //         'JumunDate': JumunDate
                //     };
                //
                //     if (mat_pk && company_id && JumunDate) {
                //         let fnsuccess = function (result) {
                //             console.log('단가 결과', result);
                //             if (result && result.data && result.data.length > 0) {
                //                 let unitPrice = parseFloat(result.data[0].UnitPrice);
                //                 row.find('input[id$=".UnitCost"]').val(unitPrice.toLocaleString());
                //             } else {
                //                 row.find('input[id$=".UnitCost"]').val('');
                //             }
                //         };
                //
                //         AjaxUtil.getAsyncData(url, data, fnsuccess);
                //     }
                // }

            }


            deleteSujuData(id, state, ShipmentStateName) {
                let _this = this;
                let url = _this.url + '/delete';
                let data = {'id': id, 'State': state, 'ShipmentStateName': ShipmentStateName}
                let fnsuccess = function (res) {
                    if (res.success) {
                        Notify.success('삭제되었습니다.');
                        _this.searchMainData();
                    } else {
                        Alert.alert('', res.message);
                    }
                };

                AjaxUtil.postAsyncData(url, data, fnsuccess);
            }

            // 계산서 가져오기
            searchMainData() {
                let _this = this;
                let invoice_kind = $('#cboInvoice').val();
                let cboCompany = $('#cboCompanyHidden').val();
                let start = $('#srchStartDt').val();
                let end = $('#srchEndDt').val();
                let url = this.url + '/read';

                let data = {
                    'invoice_kind': invoice_kind,
                    'cboCompany': cboCompany,
                    'start': start,
                    'end': end,
                    'action': 'read'
                };


                let fnsuccess = function (result) {
                    if (result != null) {
                        _this.grid.itemsSource = result.data;
                        _this.updateFooter();
                    }
                };
                AjaxUtil.getAsyncData(url, data, fnsuccess);
            }

            showShipListPopup() {
                let _this = this;

                let content = tmpl('addShipListPopup', {});
                let $content = $(content);
                let modalContainer = new PopupDraggable('출고 리스트');
                modalContainer.open({width: 1300, height: 670, $content});

                this.shipListGrid = new wijmo.grid.FlexGrid('#ship-list-grid', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.All,
                    allowMerging: 'ColumnHeaders',
                    formatItem: (s, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            e.cell.style.color = '';
                            e.cell.style.textAlign = '';
                        }
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';

                            const binding = s.columns[e.col].binding;

                            if (binding === 'StoreHouse_id' || binding === 'inputQty' || binding === 'Description2') {
                                e.cell.style.color = '#5567ff'; // 글자 색 적용
                            }
                        }
                    },
                    columns: [
                        {
                            binding: 'company_name',
                            header: '거래처',
                            width: 100,
                            align: 'left',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {
                            binding: 'ship_date',
                            header: '출하일',
                            width: 120,
                            align: 'center',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {
                            binding: 'total_qty',
                            header: '총 지시량',
                            width: 120,
                            align: 'center',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {
                            binding: 'total_price',
                            header: '총 공급가',
                            width: 150,
                            align: 'right',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {
                            binding: 'total_vat',
                            header: '총 세액',
                            width: 150,
                            align: 'right',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {
                            binding: 'total_amount',
                            header: '총액',
                            width: 150,
                            align: 'right',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {
                            binding: 'state_name',
                            header: '상태',
                            width: 60,
                            align: 'center',
                            isReadOnly: true,
                            allowMerging: true
                        },
                        {binding: 'issue_yn', header: '발행 여부', width: 80, align: 'right', isReadOnly: true},
                        {binding: 'issue_date', header: '발행 일자', width: 90, align: 'right', isReadOnly: true},
                        {
                            binding: 'description',
                            header: '비고',
                            width: 90,
                            align: 'right',
                            isReadOnly: true,
                            allowMerging: true
                        },
                    ],
                    itemsSource: new wijmo.collections.CollectionView([]),
                });

                new FlexGridContextMenu(this.shipListGrid);
                this.shipListGrid.downloadFileName = '출고 리스트';

                let extraRow = new wijmo.grid.Row();
                extraRow.allowMerging = true;

                let panel = this.shipListGrid.columnHeaders;
                panel.rows.splice(0, 0, extraRow)

                for (let colIndex = 7; colIndex <= 8; colIndex++) {
                    panel.setCellData(0, colIndex, '거래명세서');
                }

                ['company_name', 'ship_date', 'total_qty', 'total_price', 'total_vat'
                    , 'total_amount', 'state_name', 'description'].forEach((binding) => {
                    let col = this.shipListGrid.getColumn(binding);
                    col.allowMerging = true;
                    panel.setCellData(0, col.index, col.header);
                });

                this.shipListGrid.formatItem.addHandler(function (s, e) {
                    if (e.panel == s.columnHeaders && e.range.rowSpan > 1) {
                        var html = e.cell.innerHTML;
                        e.cell.innerHTML = '<div class="v-center">' + html + '</div>';
                    }
                });

                $content.find('#btnSearch').on('click', function () {
                    fnLoadShipList();
                });

                let start = $content.find('#srchStartDt');
                let end = $content.find('#srchEndDt');

                start.val(CommonUtil.getYYYYMMDD(-7));
                end.val(CommonUtil.getYYYYMMDD());

                let fnLoadShipList = function () {
                    let fnsuccess = function (result) {
                        if (result.data !== null) {
                            _this.shipListGrid.itemsSource = new wijmo.collections.CollectionView(result.data);
                            _this.shipSelector = new wijmo.grid.selector.Selector(_this.shipListGrid);

                        }
                    };
                    let shipParam = {
                        'srchStartDt': start.val(),
                        'srchEndDt': end.val(),
                    };

                    console.log('shipParam', shipParam);
                    AjaxUtil.getAsyncData(_this.url + '/shipment_head_list', shipParam, fnsuccess);

                };

                fnLoadShipList();

                $content.find('#btnShipAction').on('click', function () {

                    let url = _this.url + '/save_balju';
                    let items = _this.shipListGrid.rows
                        .filter(row => row.isSelected)
                        .map(row => row.dataItem);

                    console.log(items);

                    if (!items || items.length === 0) {
                        Alert.alert('', '저장할 항목을 선택하세요.');
                        return;
                    }

                    let fnSuccess = function (res) {
                        if (!res.success) {
                            Alert.alert('', res.message);
                        } else {
                            Notify.success('저장되었습니다');
                            // page.searchDataBind();
                            modalContainer.modal.close();
                        }
                    };

                    AjaxUtil.postJsonAsyncData(url, items, fnSuccess);
                });

            }

        }

        let page = null;

        $(document).ready(function (e) {

            page = new SalesInvoicePage();


            $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-7));
            $('#srchEndDt').val(CommonUtil.getYYYYMMDD());

            page.searchMainData();

            // 검색
            $('#btnSearch').click(function (e) {
                page.searchMainData();
            });

            $('#btnShipList').on('click', function () {
                page.showShipListPopup();
            });

            $('#btnCompanySearch').click(function () {
                let poppage = new PopCompComponent();
                let $poppage = $(poppage);
                let searchcallback = function (items) {
                    //console.log('items : ',items);
                    document.getElementById('btnCompanySearch').value = items.compname;
                    document.getElementById('cboCompanyHidden').value = items.id;

                    // 수동으로 input 이벤트 발생
                    $('#btnCompanySearch').trigger('input');
                };

                poppage.show(searchcallback);
            });

            // input 감지 → x 버튼 표시/숨김, 히든값 클리어
            $(document).on('input', '#btnCompanySearch', function () {
                let $clearBtn = $(this).closest('.input-clear').find('.btn-clear');
                let value = $(this).val().trim();

                if (value) {
                    $clearBtn.show();
                } else {
                    console.log('[DEBUG] cleared');
                    $clearBtn.hide();
                    $('#cboCompanyHidden').val('');
                }
            });

            // x 버튼 클릭 → 텍스트 초기화 및 input 이벤트 트리거
            $(document).on('click', '.btn-clear', function () {
                const $input = $(this).siblings('input[type="text"]');
                $input.val('').trigger('input'); // 🔥 input 이벤트 강제 발생
            });


        })
    </script>

</th:block>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</html>