<html layout:decorate="~{layout_page}">
<head>
    <style>
        .radio-wrap {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .radio-wrap input[type="radio"] {
            appearance: none;
            -webkit-appearance: none; /* 사파리용 */
            width: 16px;
            height: 16px;

            border-radius: 50%;
            position: relative;
            cursor: pointer;
        }

        .radio-wrap input[type="radio"]::after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            background-color: #666;
            border-radius: 50%;
            opacity: 0;
            transition: 0.2s;
        }

        .radio-wrap input[type="radio"]:checked::after {
            opacity: 1;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>매출 현황</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>입금관리</li>
                <li>매출 현황</li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="상세현황" id="listTabLink">상세현황</a>
                </li>
                <li>
                    <a href="#tab2" title="집계현황" id="inputTabLink">집계현황</a>
                </li>
            </ul>
            <div class="tab-contents">
                <section class="tab-item" id="tab1">
                    <form id="searchForm1" autocomplete="off">
                        <section class="section">
                            <div class="section-top">
                                <div class="search-wrap">
                                    <dl>
                                        <dt>
                                            <label>
                                                기간<span class="eq"></span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <input type="date" id="searchfrdate" name="searchfrdate"  />
                                                <span class="slow_sign">~</span>
                                                <input type="date" id="searchtodate" name="searchtodate" />
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label>
                                                거래처<span class="eq"></span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <input type="text" placeholder="해당 칸을 클릭해주세요"  id="cboCompany" name="cboCompany"/>
                                                <input type="hidden"  id="cboCompanyHidden" name="cboCompanyHidden"  />
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>
                                            <label>
                                                매출구분
                                            </label>
                                        </dt>
                                        <dd>
                                            <select class="form-control2" id="sale_type" name="sale_type" >

                                            </select>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>
                                            <label>
                                                과세형태<span class="eq"></span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype"  value="과세">
                                                    <label>과세(10%)</label>
                                                </div>
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype" value="영세">
                                                    <label>영세(0%)</label>
                                                </div>
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype" value="면세" >
                                                    <label>면세 (세액없음)</label>
                                                </div>
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype" value="" checked>
                                                    <label>전체</label>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <li>
                                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                                    <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                                    검색
                                                </a>
                                            </li>
                                        </dd>
                                    </dl>

                                </div>
                            </div>
                        </section>
                    </form>


                    <section class="section">

                        <div class="grid_box" id="divList">

                            <div id="theGrid_saleList" style="height: 350px;"></div>
                        </div>
                    </section>
                </section>

                <section class="tab-item" id="tab2">
                    <form id="searchForm" autocomplete="off">
                        <section class="section">
                            <div class="section-top">
                                <div class="search-wrap">
                                    <dl>
                                        <dt>
                                            <label>
                                                기간<span class="eq"></span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <input type="date" id="searchfrdate2" name="searchfrdate2"  />
                                                <span class="slow_sign">~</span>
                                                <input type="date" id="searchtodate2" name="searchtodate2" />
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label>
                                                거래처<span class="eq"></span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <input type="text" placeholder="해당 칸을 클릭해주세요"  id="cboCompany2" name="cboCompany2"/>
                                                <input type="hidden"  id="cboCompanyHidden2" name="cboCompanyHidden2"  />
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>
                                            <label>
                                                매출구분
                                            </label>
                                        </dt>
                                        <dd>
                                            <select class="form-control2" id="sale_type2" name="sale_type2" >

                                            </select>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>
                                            <label>
                                                과세형태<span class="eq"></span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype2" id="tax1" value="과세">
                                                    <label for="tax1">과세(10%)</label>
                                                </div>
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype2" id="tax2" value="영세">
                                                    <label for="tax2">영세(0%)</label>
                                                </div>
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype2" id="tax3" value="면세">
                                                    <label for="tax3">면세 (세액없음)</label>
                                                </div>
                                                <div class="radio-wrap">
                                                    <input type="radio" name="taxtype2" id="tax4" value="">
                                                    <label for="tax4">전체</label>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <li>
                                                <a class="btn btn-delete" title="검색" id="btnSearch2">
                                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                                    <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                                    검색
                                                </a>
                                            </li>
                                        </dd>
                                    </dl>

                                </div>
                            </div>
                            <table border="1" cellspacing="0" cellpadding="6" style="border-collapse: collapse; text-align: center; font-family: sans-serif;">
                                <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>매출처수</th>
                                    <th>매수</th>
                                    <th>공급가액</th>
                                    <th>세액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong style="color: red;">합&nbsp;&nbsp;&nbsp;&nbsp;계</strong></td>
                                    <td>785</td>
                                    <td>839</td>
                                    <td>163,148,778</td>
                                    <td>16,314,898</td>
                                </tr>
                                <tr>
                                    <td>사업자등록번호 발행분</td>
                                    <td>434</td>
                                    <td>486</td>
                                    <td>143,780,054</td>
                                    <td>143,588,054</td>
                                </tr>
                                <tr>
                                    <td>주민등록번호 발행분</td>
                                    <td>351</td>
                                    <td>353</td>
                                    <td>16,314,898</td>
                                    <td>13,070,924</td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="theGrid_saleList2" style="height: 350px;"></div>
                        </section>
                    </form>

                    <!--<section class="section">

                        <div class="grid_box" id="divList2">


                        </div>
                    </section>-->
                </section>
            </div>
        </div>


    </div>
</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
    <th:block th:replace="/common/popup_account :: popup_account" />
    <th:block th:replace="/common/popup_company :: popup_company"></th:block>
    <th:block th:replace="/shipment/trade_stmt/trade_stmt_tmpl :: printTemplate"></th:block>
    <script type="text/javascript">

        const salesData = [
            { 일련번호: 1, 사업자등록번호: '-', 상호: '홀운동기룡하이빌', 매수: 1, 공급가액: 56000, 세액: 5600 },
            { 일련번호: 2, 사업자등록번호: '-', 상호: '대경아르체아파트', 매수: 1, 공급가액: 182400, 세액: 18240 },
            { 일련번호: 3, 사업자등록번호: '-', 상호: '페트라빌', 매수: 1, 공급가액: 90909, 세액: 9091 },
            { 일련번호: 4, 사업자등록번호: '-', 상호: '일광빌딩2차', 매수: 1, 공급가액: 84800, 세액: 8480 },
            { 일련번호: 5, 사업자등록번호: '-', 상호: '정진빌딩', 매수: 1, 공급가액: 100000, 세액: 10000 },
            { 일련번호: 6, 사업자등록번호: '101-82-22657', 상호: '서울여자간호대학교 휴먼캐슬', 매수: 1, 공급가액: 65800, 세액: 6580 },
            { 일련번호: 7, 사업자등록번호: '101-82-69992', 상호: '기독교대한감리회예수사랑교회', 매수: 1, 공급가액: 80955, 세액: 8095 },
            { 일련번호: 8, 사업자등록번호: '-', 상호: '서울문화유체국', 매수: 2, 공급가액: 360000, 세액: 36000 },
            { 일련번호: 9, 사업자등록번호: '102-13-93738', 상호: '공간관리소(영화빌리지)', 매수: 1, 공급가액: 100000, 세액: 10000 },
            { 일련번호: 10, 사업자등록번호: '102-39-04399', 상호: '송학빌딩', 매수: 1, 공급가액: 60000, 세액: 6000 },
            { 일련번호: 11, 사업자등록번호: '102-80-00837', 상호: '쉐레미오피스텔', 매수: 1, 공급가액: 140000, 세액: 14000 },
            { 일련번호: 12, 사업자등록번호: '104-10-62971', 상호: '양지타빌', 매수: 1, 공급가액: 58800, 세액: 5880 },
            { 일련번호: 13, 사업자등록번호: '104-81-24695', 상호: '조선일보사(구, 디지털서울문화예술)', 매수: 1, 공급가액: 65800, 세액: 6580 },
            { 일련번호: 14, 사업자등록번호: '105-05-83693', 상호: 'P.M.SE빌', 매수: 1, 공급가액: 65800, 세액: 6580 },
            { 일련번호: 15, 사업자등록번호: '105-07-55809', 상호: '마인드월드', 매수: 1, 공급가액: 183636, 세액: 18364 },
            { 일련번호: 16, 사업자등록번호: '105-07-85957', 상호: '예건빌딩', 매수: 1, 공급가액: 85764, 세액: 8576 },
            { 일련번호: 17, 사업자등록번호: '105-09-67537', 상호: '주연빌딩', 매수: 1, 공급가액: 90909, 세액: 9091 },
            { 일련번호: 18, 사업자등록번호: '105-10-41004', 상호: '마니하우스', 매수: 1, 공급가액: 58000, 세액: 5800 },
            { 일련번호: 19, 사업자등록번호: '105-14-32842', 상호: 'BS빌딩', 매수: 1, 공급가액: 90909, 세액: 9091 },
            { 일련번호: 20, 사업자등록번호: '105-17-74909', 상호: '푸른솔리빙텔', 매수: 1, 공급가액: 90000, 세액: 9000 }
        ];

        let sales_type = [];
        class SalesList {
            constructor() {
                this.grid1 = null;
                this.grid2 = null;
                this.url = '/api/sales/list';


                this.viewData = new wijmo.collections.CollectionView();
                this.viewData2 = new wijmo.collections.CollectionView();


                $('#searchfrdate, #searchfrdate2').val(getNowDateMinus7());
                $('#searchtodate, #searchtodate2').val(getNowDate());
                sales_type = AjaxUtil.fillSelectOptions($('#sale_type'), 'system_code', 'choose', false, 'sale_type');
                selectBoxBinding('sale_type2', sales_type);

                this.init();
            }

            init() {
                let _this = this;

                const cv = _this.viewData

                cv.groupDescriptions.push(new wijmo.collections.PropertyGroupDescription('misdate', function (item, prop) {
                    return item[prop].substring(0, 7); // '2025-04'
                }));

                // 3. FlexGrid 생성
                    this.grid1 = new wijmo.grid.FlexGrid('#theGrid_saleList', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    allowSorting: 'MultiColumn',
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: true,
                    groupHeaderFormat: '{value}월 매출 - 총 {count}건',
                    columns: [
                        { binding: 'misdate', header: '계산서작성일자', align: 'center', width: 150 },
                        { binding: 'misgubun', header: '매출구분', align: 'center', width: '*' },
                        { binding: 'companycode', header: '거래처코드', align: 'left', width: '*'},
                        { binding: 'companyname', header: '거래처명', align: 'left', width: 200 },
                        { binding: 'iveremail', header: '발송EMAIL', align: 'left', width: 150 },
                        { binding: 'itemnm', header: '품명', align: 'left', width: 150 },
                        { binding: 'spec', header: '규격', align: 'center', width: 150 },
                        { binding: 'supplycost', header: '공급가', align: 'right', width: 120, aggregate: 'Sum' },
                        { binding: 'taxtotal', header: '부가세', align: 'right', width: 120, aggregate: 'Sum' },
                        { binding: 'totalamt', header: '합계', align: 'right', width: 120, aggregate: 'Sum' },
                        { binding: '수정사유', header: '수정사유', align: 'center', width: 100 },
                        { binding: 'stateLabel', header: '발행상태', align: 'center', width: 100 }
                    ],
                    itemsSource: cv,

                    });
                this.grid1.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.grid1);
                this.grid1.downloadFileName = '매출현황';

                this.grid1.allowMerging = wijmo.grid.AllowMerging.All;
                this.grid1.columns[0].allowMerging = true;
                this.grid1.columns[1].allowMerging = true;


                this.grid2 = new wijmo.grid.FlexGrid('#theGrid_saleList2', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    allowSorting: 'MultiColumn',
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: true,
                    itemsSource: salesData,
                    columns: [
                        { binding: '일련번호', header: '일련번호', align: 'center', width: '*' },
                        { binding: '사업자등록번호', header: '사업자등록번호', align: 'center', width: '*' },
                        { binding: '상호', header: '상호 (법인명)', align: 'left', width: '*'},
                        { binding: '매수', header: '매수', align: 'right', width: '*' },
                        { binding: '공급가액', header: '공급가액', align: 'right', width: '*' },
                        { binding: '세액', header: '세액', align: 'right', width: 150 },
                    ]
                });

            }

            searchMain(){
                let _this = this;

                let data = {
                    searchfrdate : $('#searchfrdate').val(),
                    searchtodate : $('#searchtodate').val(),
                    cltcd : $('#cboCompany').val().trim() === '' ? '' : $('#cboCompanyHidden').val()  ,
                    sale_type : $('#sale_type').val(),
                    taxtype : $('input[name=taxtype]:checked').val(),
                    spjangcd : getSpjangcdFromSession(),
                };

                let result = AjaxUtil.getSyncData(_this.url + '/search', data);

                if(result != null){
                    console.log('result', result.data);
                    _this.viewData.sourceCollection = result.data;
                }
            }
        }

        let page = null;


        $(document).ready(function (e) {
            page = new SalesList();

            $('#cboCompany').click(function(){
                companyPopupOpen('cboCompany', 'cboCompanyHidden');
            });
            $('#cboCompany2').click(function(){
                companyPopupOpen('cboCompany2', 'cboCompanyHidden2');
            });

            $('#btnSearch').click(function(){
                page.searchMain();
            })

            page.searchMain();

        })
    </script>

</th:block>
</html>