<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <link rel="icon" type="image/png" href="/images/logo/actas_log_a.png">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="/resource/ax5ui/ax5ui.all.css" />
  <link rel="stylesheet" href="/assets_mobile/css/import.css"/>
  <!--    <link rel="stylesheet" href="/css/login_mes.css" />-->
  <script src="/assets_mobile/js/ui.js"></script> <!-- Common js -->
  <title>ACTAS ERP</title>
</head>
<style>
  /* 공통 Modal 스타일 */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* 공통 Modal 컨텐츠 스타일 */
  .modal-content {
    background: white;
    border-radius: 8px;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 15%;
  }

  /* Form 스타일 */
  #idFindForm,
  #pwFindForm {
    display: flex;
    flex-direction: column;
  }

  /* 라벨과 인풋박스를 한 줄에 배치 */
  #idFindForm .form-group,
  #pwFindForm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  #idFindForm .form-group label,
  #pwFindForm .form-group label {
    width: 100px; /* 라벨의 너비를 고정 */
    margin-right: 10px;
  }

  #idFindForm .form-group input,
  #pwFindForm .form-group input {
    flex: 1; /* 입력 박스가 가능한 한 넓게 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #idFindForm button,
  #pwFindForm button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* 버튼을 위의 입력 필드와 떨어지게 */
  }

  #idFindForm button:hover,
  #pwFindForm button:hover {
    background-color: #45a049;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  #ErrMsg.show {
    display: block;
    animation: shake 0.5s ease;
  }
  #loader2 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: none; /* 처음에는 숨김 상태 */
    z-index: 9000;
  }

  #loader2 .loader {
    position: fixed;
    top: calc(50% - 48px);
    left: calc(50% - 48px);
    width: 96px;
    height: 96px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #loader2 .loader > span {
    position: fixed;
    top: calc(50% - 27px);
    left: calc(50% - 27px);
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
  }

  #loader2 .loader > span::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #5ddfde;
    width: 16px;
    height: 16px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ax5-ui-dialog .ax-dialog-body .ax-dialog-msg{
    padding-bottom: 20px;
  }

  .ax5-ui-dialog .ax-dialog-header{
    display: none;
  }

  .zoom-img {
    transition: transform 0.3s ease;
  }

  .zoom-img:hover {
    transform: scale(1.1); /* 1.1배 확대 */
    cursor: pointer;
  }
</style>
<body>
<div id="loader2">
  <div class="loader">
    <span></span>
  </div>
</div>
<div class="mobile-wrapper page-login"><!-- ★페이지 Class명 -->
  <div class="mobile-login-wrap">
    <div class="login-wrap" style="box-shadow: none">
      <form method="post" class="form" role="form" id="loginFrm" style=" margin: 0 auto;" action="/postLogin">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="login-logo">
          <h1>(주)엑타스 근태관리</h1>
        </div>
        <div class="login-form" style="width: 100%">
          <dl>
            <dt><label for="loginId">아이디</label></dt>
            <dd>
              <input type="text" id="loginId" name="username" required autofocus title="아이디 입력" placeholder="아이디를 입력해주세요">
            </dd>
            <!-- 에러메시지 출력 -->
            <dd class="hint-red" id="hint-red" style="display: none">
              <img src="/images/icon/ico-info-red.svg" alt="힌트메세지">
              계정이 맞지 않습니다.
            </dd>
          </dl>
          <dl>
            <dt><label for="loginPwd">비밀번호</label></dt>
            <dd>
              <input type="password" id="loginPwd" name="password" placeholder="비밀번호를 입력해주세요" required title="패스워드 입력" autocomplete="off">
            </dd>
          </dl>
          <div class="check-save">
            <input type="checkbox" id="login_chk">
            <label for="login_chk">아이디 저장</label>
          </div>
          <div style="display: flex">
          <button type="button" class="btn-login" id="productionManage" style="width: 45%;">생산관리</button>
          <button type="submit" class="btn-login" id="AttendanceManage" style="width: 45%; margin-left:auto; background-color: #da5959">근태관리</button>
          <!--                        <button type="button" class="btn-login" id="testBtn">test</button>-->
          </div>
<!--          <ul class="btn-login-etc">-->
<!--            <li>-->
<!--              <a class="btn btn-popup-open" data-popup="popup1" title="사용자신청" onclick="RegisterUser()">등록확인</a>-->
<!--            </li>-->
<!--&lt;!&ndash;            <li>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#" class="btn btn-popup-open" data-popup="popup2" title="아이디 찾기" onclick="openModal()">아이디 찾기</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--            <li>-->
<!--              <a href="#" class="btn" title="비밀번호 찾기" onclick="openPwModal()">비밀번호 찾기</a>-->
<!--            </li>-->
<!--          </ul>-->
        </div>
      </form>
    </div>
    <!-- <p class="copyright">ⓒ Kt Corp. All rights reserved.</p> -->
  </div>
  <!-- [사용자권한] 팝업  -->
  <div class="dashboard-layout-popup">
    <div class="popup-overlay"  id="popup1"></div>
    <div class="popup-wrapper" id="wrapper1" style="width: 1100px">
      <div class="popup-title">
        <h3>사용자권한신청</h3>
        <a onclick="RegisterUserClose()" title="팝업닫기" class="btn-popup-close">
          <img src="/images/icon/btn-popup-close.svg" alt="닫기">
        </a>
      </div>
      <div class="popup-contents">
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        <form id="bomForm">
          <div class="table-wrap">
            <table class="write-table">
              <caption>사용자권한신청 테이블</caption>
              <colgroup>
                <col class="wp20">
                <col class="wp30">
                <col class="wp20">
                <col class="wp30">
              </colgroup>
              <tbody>
              <tr>
                <th>
                  <label for="">
                    ID
                  </label>
                </th>
                <td colspan="3">
                  <div class="input-clear">
                    <input type="text" id="id" name="id" class="wp50" style="width: 360px !important;">
                  </div>
                  <a href="#" class="btn" id="btnDuplicate">중복확인</a>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="password">
                    비밀번호
                  </label>
                </th>
                <td>
                  <input type="password" id="password" name="password">
                </td>
                <th>
                  <label for="passwordchk">
                    비밀번호확인
                  </label>
                </th>
                <td>
                  <input type="password" id="passwordchk" name="passwordchk">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="">
                    성명
                  </label>
                </th>
                <td colspan="3">
                  <div class="input-clear">
                    <input type="text" id="name" name="name">
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <label>
                    핸드폰
                  </label>
                </th>
                <td colspan="3">
                  <div class="input-clear">
                    <input type="text" id="tel" name="tel">
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <label>
                    이메일
                  </label>
                </th>
                <td colspan="3">
                  <div class="input-clear">
                    <input type="text" id="email" name="email">
                    <button type="button" style="margin: 0 0 0 5px;width: 14.5%;background: white;color: #03428E;border: 1px solid #03428E;" id="BtnAuthenticationRegister">코드발급</button>
                  </div>

                </td>
              </tr>
              <tr>
                <th>
                  <label>
                    인증코드
                  </label>
                </th>
                <td colspan="3">
                  <div class="input-clear">
                    <input type="text" id="AuthenticationCodeRegister" name="AuthenticationCodeRegister" required="" maxlength="38" autocomplete="off">
                    <button type="button" id="Authentication"
                            style="margin: 0 0 0 5px;width: 14.5%;background: white;color: #03428E;border: 1px solid #03428E;">코드인증</button>
                  </div>

                  <div style="margin-top: 5px; display: inline-block;">
                    <span id="timer2" style="width: 10%;  text-align: right; color: red;"></span>
                  </div>
                </td>
              </tr>

              <!--                            <tr>-->
              <!--                                <th>-->
              <!--                                    <label>-->
              <!--                                        발전시설-->
              <!--                                    </label>-->
              <!--                                </th>-->
              <!--                                <td colspan="3">-->
              <!--                                    <div class="fl-ac">-->
              <!--                                        <select class="wp25 mg-r5" id="firstSelect" name="spworkcd" onchange="updateNextSelect(this)">-->
              <!--                                            <option></option>-->
              <!--                                        </select>-->
              <!--                                        <select class="wp25 mg-r5" id="secondSelect" name="spcompcd" onchange="updateNextSelect2(this)">-->
              <!--                                            <option></option>-->
              <!--                                        </select>-->
              <!--                                        <select class="wp25 mg-r5" id="thirdSelect" name="spplancd">-->
              <!--                                            <option></option>-->
              <!--                                        </select>-->
              <!--                                        <button type="button" onclick="addselectField(this)" class="btn" id="z" style="width: 145px">발전시설 추가</button>-->
              <!--                                    </div>-->
              <!--                                </td>-->
              <!--                            </tr>-->
              <!--                            <tr>-->
              <!--                                <th>-->
              <!--                                    <label for="">-->
              <!--                                        신청사유-->
              <!--                                    </label>-->
              <!--                                </th>-->
              <!--                                <td colspan="3">-->
              <!--                                    <div class="input-clear">-->
              <!--                                        <input type="text" id="reason" name="reason" class="wp100">-->
              <!--                                    </div>-->
              <!--                                </td>-->
              <!--                            </tr>-->
              </tbody>
            </table>
          </div>

        </form>
      </div>
      <div class="popup-button">
        <button class="btn-popup-close" onclick="RegisterUserClose()">취소</button>
        <button class="btn-navy" id="btnSaveAuth">권한신청</button>
      </div>
    </div>
  </div> <!-- //dashboard-layout-popup end -->
  <!--#############################################################################################  아이디-->
  <div id="idFindModal" class="modal">
    <div class="modal-content">
      <h2 style="text-align: center;">아이디 찾기</h2>
      <form id="idFindForm">
        <div style="margin-top: 10px;">
          <label style="width: 15%;">이름: </label>
          <input type="text" id="usernm" name="usernm" required="" maxlength="20" autocomplete="off" style="width: 80%;">
        </div>
        <div style="margin-top: 10px;">
          <label style="width: 15%;">이메일: </label>
          <input type="email" id="mail" name="mail" required="" maxlength="30" autocomplete="off" style="width: 80%;">
        </div>
        <div class="hint-red" id="ErrMessage" style="margin: 5px auto 0;">
          <img src="/images/icon/ico-info-red.svg" alt="힌트메세지">신청시 등록한 이메일을 입력해주세요.
        </div>
        <div id="ErrMsg" style="margin-top: 10px;text-align: center; display: none; color: red;"><span>해당 사용자는 존재하지 않습니다.</span></div>


        <div style="margin: 0 auto;">
          <button type="button" onclick="closeModal()" style="width: 100px;margin-right: 10px; background: white; border: 1px solid #03428E; border-radius: 3px; color: #03428E">닫기</button>
          <button type="button" style="width: 100px; border: 1px solid white; border-radius: 3px; color: white; background: #03428E" id="btnSearch">아이디 찾기</button>
        </div>
      </form>
    </div>
  </div>

  <!--#############################################################################################  비밀번호-->
  <div id="pwFindModal" class="modal">
    <div class="modal-content">
      <h2 style="text-align: center;">비밀번호 변경</h2>
      <form id="pwFindForm">

        <div style="margin-top: 10px;">
          <label style="width: 15%;">아이디: </label>
          <input type="text" id="userid" name="userid" required="" maxlength="20" autocomplete="off" style="width: 80%;">
        </div>

        <div style="margin-top: 10px;">
          <label style="width: 15%;">이메일: </label>
          <input type="email" id="mailAddres" name="mailAddres" required="" maxlength="20" autocomplete="off" style="width: 62%;">
          <button type="button" style="margin: 0px;width: 17%;background: white;color: #03428E;border: 1px solid #03428E;" id="BtnAuthentication">코드발급</button>
        </div>
        <div class="hint-red" style="margin: 5px auto 0;">
          <img src="/images/icon/ico-info-red.svg" alt="힌트메세지">신청시 등록한 이메일을 입력해주세요.
        </div>


        <div style="margin-top: 10px; text-align: center">
          <label style="width: 15%;">인증코드: </label>
          <input type="text" id="AuthenticationCode" name="AuthenticationCode" required="" maxlength="20" autocomplete="off" style="width: 62%;">
          <button type="button" style="margin: 0px;width: 17%;background: white;color: #03428E;border: 1px solid #03428E;" id="Authentication_pw">코드인증</button>
          <span id="timer" style="width: 10%; text-align: right; color: red;"></span>
        </div>

        <div style="margin-top: 10px;" id="PasswordInputDiv">
          <label style="width: 15%;">변경 비밀번호: </label>
          <input type="password" id="PasswordChange" name="PasswordChange" autocomplete="off" style="width: 70%;border: none;border-bottom: 1px solid;
                       border-radius: 0px;">
        </div>

        <div style="margin-top: 10px;" id="PasswordChkInputDiv">
          <label style="width: 15%;">비밀번호 확인: </label>
          <input type="password" id="PasswordChangeChk" name="PasswordChangeChk" autocomplete="off" style="width: 70%;border: none;border-bottom: 1px solid;
                       border-radius: 0px;">
        </div>



        <div style="margin: 0 auto;">
          <button type="button" onclick="closePwModal()" style="width: 100px; margin-right: 10px; background: white; border: 1px solid #03428E; border-radius: 3px; color: #03428E">닫기</button>
          <button type="button" style="width: 100px; border: 1px solid white; border-radius: 3px; color: white; background: #03428E" id="btnPwSearch">비밀번호 변경</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/resource/jquery.min.js"></script>
<script type="text/javascript" src="/resource/jquery-validation/1.17.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/resource/ax5ui/ax5ui.all.min.js"></script>
<script type="text/javascript" src="/resource/moment.min.js"></script>
<script type="text/javascript" src="/js/js.cookie.js"></script>
<script type="text/javascript" src="/js/common.js?v=1050"></script>
<script type="text/javascript" src="/resource/JavaScript-Templates/tmpl.js"></script>

<script type="text/javascript" src="/js/ax5commUtil.js?v=1050"></script>
<script type="text/javascript">

  function openPopup(url) {
    // 새 창 열기
    window.open(url, '_blank',
            'width=1000,height=1000,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes');
  }



  // 로딩바를 숨기는 함수
  function hideLoader() {
    document.getElementById('loader2').style.display = 'none';
  }




  function openPwModal() {
    document.getElementById('pwFindModal').style.display = 'block';
  }

  function closePwModal() {
    document.getElementById('pwFindModal').style.display = 'none';
  }


  //##############################################  아이디 찾기 모달
  function openModal() {
    document.getElementById('idFindModal').style.display = 'block';
  }

  function closeModal() {
    document.getElementById('idFindModal').style.display = 'none';
  }

  //document.querySelector('.close').onclick = closeModal;
  //##############################################  아이디 찾기 모달 끝


  <!-- 발전시설 추가 버튼 이벤트-->
  // function addselectField(button) {
  //     // 새로운 td 요소를 생성합니다.
  //     var newTd = document.createElement('div');
  //     newTd.className = 'fl-ac new-fl-ac';
  //
  //     if(!window.cloneCounter){
  //         window.cloneCounter = 1;
  //     } else {
  //         window.cloneCounter++;
  //     }
  //
  //     // 새로운 input 요소를 생성합니다.
  //     var originalSelect1 = document.getElementById('firstSelect');
  //     var newInput = originalSelect1.cloneNode(true);
  //     newInput.name = 'spworkcd';
  //     newInput.id = originalSelect1.id + window.cloneCounter;
  //     // newInput.className = 'wp100';
  //     newInput.type = 'select';
  //     newInput.width = 180;
  //
  //     var originalSelect2 = document.getElementById('secondSelect');
  //     var newInput2 = originalSelect2.cloneNode(true);
  //     newInput2.name = 'spcompcd';
  //     // newInput2.className = 'wp100';
  //     newInput2.type = 'select';
  //     newInput2.id = originalSelect2.id + window.cloneCounter;
  //     newInput2.width = 180;
  //
  //     var originalSelect3 = document.getElementById('thirdSelect');
  //     var newInput3 = originalSelect3.cloneNode(true);
  //     newInput3.name = 'spplancd';
  //     // newInput2.className = 'wp100';
  //     newInput3.type = 'select';
  //     newInput3.id = originalSelect3.id + window.cloneCounter;
  //     newInput3.width = 180;
  //
  //     // 삭제 버튼을 생성합니다.
  //     var deleteButton = document.createElement('button');
  //     deleteButton.textContent = '발전시설 삭제';
  //     deleteButton.onclick = function() {
  //         deleteSelectField(newInput); // 삭제 버튼을 클릭하면 해당 입력 필드를 삭제하는 함수 호출
  //         deleteSelectField(newInput2);
  //         deleteSelectField(newInput3);
  //     };
  //     deleteButton.style.marginLeft = '8px';
  //     deleteButton.style.color = 'red';
  //     deleteButton.style.marginTop = '5px';
  //     // 새로운 td에 input 요소와 삭제 버튼을 추가합니다.
  //     newTd.appendChild(newInput);
  //     newTd.appendChild(newInput2);
  //     newTd.appendChild(newInput3);
  //     newTd.appendChild(deleteButton);
  //
  //     // 클릭된 버튼의 부모 td 요소를 찾습니다.
  //     var parentTd = button.parentElement;
  //
  //     // 부모 td 요소 다음에 새로운 td 요소를 추가합니다.
  //     parentTd.parentElement.insertBefore(newTd, parentTd.nextSibling);
  // }

  // function deleteSelectField(inputField) {
  //     // 입력 필드의 부모 요소(td)를 찾아서 삭제합니다.
  //     var tdToDelete = inputField.parentElement;
  //     tdToDelete.parentElement.removeChild(tdToDelete);
  // }


  // function updateNextSelect(param) {
  //     let code = param.value;
  //
  //     // param의 다음 형제 요소를 찾습니다.
  //     let nextSelect = $(param).next('select');
  //
  //     if (nextSelect.length) {
  //
  //         $.ajax({
  //             url: '/user-codes/code_spcompcd',
  //             type: 'GET',
  //             data: { code: code },
  //             success: function(data) {
  //                 nextSelect.empty();
  //                 nextSelect.append('<option value="">선택하세요</option>');
  //                 data.forEach(function(item) {
  //                     nextSelect.append('<option value="' + item.dtlcd + '">' + item.spcompnm + '</option>');
  //                 });
  //             },
  //             error: function(xhr, status, error) {
  //                 // 통신 실패 시 처리
  //
  //
  //                 // 선택 옵션을 비우거나 기본 옵션을 설정할 수 있습니다.
  //                 nextSelect.empty();
  //                 nextSelect.append('<option value=""></option>');
  //             }
  //         });
  //     } else {
  //         console.error('다음 select 요소를 찾을 수 없습니다.');
  //     }
  // }



  const requiredFields = [
    // { id: 'agency', name: '소속사' },
    // { id: 'agencyDepartment', name: '소속부서' },
    { id: 'name', name: '성명' },
    { id: 'id', name: 'ID' },
    { id: 'password', name: '비밀번호' },
    { id: 'passwordchk', name: '비밀번호확인' },
    /*{ id: 'authType', name: '권한그룹' },*/
    // { id: 'firstSelect', name: '관할지역' },
    // { id: 'secondSelect', name: '발전산단' },
    // { id: 'thirdSelect', name: '발전소' }
  ];

  // 필드명과 name값으로 유효성 검사할 필드 배열
  // const nameBasedFields = [
  //     { name: 'spworkcd', displayName: '관할지역' },
  //     { name: 'spcompcd', displayName: '발전산단' },
  //     { name: 'spplancd', displayName: '발전소' }
  // ];

  const clearFieldList = ['name', 'id', 'password', 'passwordchk',
    'firstSelect', 'secondSelect', 'thirdSelect', 'tel', 'level', 'email',
    'reason', 'AuthenticationCodeRegister']

  // 유효성 검사
  function validateFields() {
    for (let field of requiredFields) {
      if (!validateFieldById(field.id, field.name)) {
        return false;
      }
    }

    for (let field of nameBasedFields) {
      if (!validateFieldsByName(field.name, field.displayName)) {
        return false;
      }
    }

    return true;  // 모든 유효성 검사를 통과했을 경우
  }

  // ID로 유효성 검사 함수
  function validateFieldById(id, fieldName) {
    const value = document.getElementById(id)?.value.trim();

    if (!value) {
      Alert.alert('', `${fieldName}이(가) 입력되지 않았습니다.`);
      return false;
    }

    return true;
  }

  // name 속성으로 유효성 검사 함수
  function validateFieldsByName(name, fieldName) {
    const elements = document.getElementsByName(name);

    if (elements.length === 0) {
      console.error(`이름이 ${name}인 요소를 찾을 수 없습니다.`);
      return false;
    }

    for (let element of elements) {
      const value = element.value.trim();
      if (!value) {
        Alert.alert('', `${fieldName}이(가) 입력되지 않았습니다.`);
        return false;
      }
    }

    return true;
  }


  function RegisterUser(){
    let popup = document.getElementById('popup1');
    let wrapper = document.getElementById('wrapper1');

    popup.style.display = 'block';
    wrapper.style.display = 'block';
  }

  function RegisterUserClose(){
    let popup = document.getElementById('popup1');
    let wrapper = document.getElementById('wrapper1');

    popup.style.display = 'none';
    wrapper.style.display = 'none';
  }


  function initializeSelect({
                              url,               // API 엔드포인트 URL
                              params = {},       // 요청 매개변수 (기본값은 빈 객체)
                              elementId,         // 셀렉트 요소의 ID
                              defaultOption = "선택하세요",  // 기본 옵션 텍스트
                              valueField = "code",    // 데이터의 값 필드 이름
                              textField = "value"     // 데이터의 표시 필드 이름
                            }) {
    $.get(url, params, function(data){
      let selectElement = $(`#${elementId}`);
      selectElement.empty();
      selectElement.append(`<option value="">${defaultOption}</option>`);
      data.forEach(function(item) {
        selectElement.append(`<option value="${item[valueField]}">${item[textField]}</option>`);
      });
    });
  }




  var userinfo = {
    username: '',
    login_id: '',
    group_code: '',
    read_flag: '{',
    write_flag: '',
    ip_address: '',
    crtfcKey: ''
  };

  var gui = {
    gui_code: '',
    template_key: '',
    action: '',
  };

  userinfo.can_read = function () {
    let result = false;
    if (userinfo.read_flag == 'True') {
      result = true;
    }
    return result;
  };

  userinfo.can_write = function () {
    let result = false;
    if (userinfo.write_flag == 'True') {
      result = true;
    }
    return result;
  };


</script>

<script type="text/javascript">
  var isChangeLang = 'N';


  function showLoader() {
    document.getElementById('loader2').style.display = 'block';
  }

  function emailValidate(emailVal){
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    return emailPattern.test(emailVal);
  }

  $(document).ready(function () {

    let activeTimerInterval; // 전역 변수로 interval ID를 저장

    function startTimer(duration, ele) {
      // 기존 타이머가 있으면 제거
      if (activeTimerInterval) {
        clearInterval(activeTimerInterval);
      }

      let timer = duration, minutes, seconds;
      let timerElement = document.getElementById(ele);

      timerElement.textContent = '';

      activeTimerInterval = setInterval(function () {
        minutes = Math.floor(timer / 60);
        seconds = Math.floor(timer % 60);

        // 분과 초가 10보다 작으면 앞에 0을 붙임
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        // 타이머 요소에 현재 시간 표시
        timerElement.textContent = '코드유효시간: ' + minutes + ":" + seconds ;

        // 타이머를 1초 줄임
        timer--;

        // 타이머가 0보다 작으면 종료
        if (timer < 0) {
          clearInterval(activeTimerInterval);
          timerElement.textContent = "시간 초과"; // 타이머가 끝나면 메시지 표시
        }
      }, 1000);
    }


    // const selectConfigurations = [
    //     {  url: '/user-codes/parent',params: { parentId: 154 },elementId: 'agency', valueField: "id"},
    //     {  url: '/user-codes/parent',params: { parentId: 110 },elementId: 'firstSelect', valueField: "code"},
    //     /*{  url: '/user-auth/type',params: {},elementId: 'authType',valueField: "code",textField: 'name'}*/
    // ];
    // selectConfigurations.forEach(config => initializeSelect(config));

    let emailAuthCode = false;
    let emailAuthCode_pw = false;

    let _csrf = document.getElementsByName('_csrf');
    let _CsrfValue = _csrf[0].value;

    let btnAuthentication = $('#Authentication');
    btnAuthentication.click(function (e){
      let emailDom = document.getElementById('email');
      let email = emailDom.value;
      let AuthenticationCode = document.getElementById('AuthenticationCodeRegister').value;
      let data = { email, AuthenticationCode, type: 'new' }


      let fnSuccess = function (res){
        if(res.success){
          emailAuthCode = true;
          Alert.alert('', res.message);
          emailDom.readOnly = true;
          document.getElementById('timer2').style.display = 'none';

        }else{
          emailAuthCode = false;
          Alert.alert('', res.message);
        }
      }
      AjaxUtil.postAsyncData("/authentication", data, fnSuccess);
    })

    $('#Authentication_pw').click(function(e){
      let emailDom = document.getElementById('mailAddres');
      let email = emailDom.value;
      let AuthenticationCode = document.getElementById('AuthenticationCode').value;
      let data = { email, AuthenticationCode, type : 'password' }

      let fnSuccess = function (res) {
        if(res.success){
          emailAuthCode_pw = true;
          Alert.alert('', res.message);
          emailDom.readOnly = true;
          document.getElementById('timer').style.display = 'none';
        }else{
          emailAuthCode_pw = false;
          Alert.alert('', res.message);

        }
      }
      AjaxUtil.postAsyncData("/authentication", data, fnSuccess);

    })


    //아이디 중복확인 신청
    let btnDuplicate = $('#btnDuplicate');
    btnDuplicate.click(function (e){

      let userid = document.getElementById('id').value;
      if(userid.trim() === '' || userid === null){
        Alert.alert('', '빈 값은 불가능합니다.');
        return;
      }
      let data = {  userid }

      let fnSuccess = function (res) {
        if(res.success){
          Alert.alert('', res.message);

        } else if (!res.success){
          Alert.alert('', res.message);
        }
      };
      AjaxUtil.postAsyncData("/useridchk", data, fnSuccess);

    })

    //아이디 찾기
    $('#btnSearch').click(function (e){

      const errMsgDiv = document.getElementById('ErrMsg');
      const errMsgSpan = errMsgDiv.querySelector('span');

      errMsgDiv.style.display = 'none';
      errMsgDiv.style.color = 'red';
      errMsgDiv.classList.remove('show');
      errMsgSpan.textContent = '해당 사용자는 존재하지 않습니다.';

      let usernm = document.getElementById('usernm').value;
      let mail = document.getElementById('mail').value;

      if(usernm.trim().length === 0 || mail.trim().length === 0){
        Alert.alert('', '빈 값은 불가능합니다.');
        return false;
      }


      if(!emailValidate(mail.trim()))
      { Alert.alert('', '유효한 이메일 형식을 입력하세요.'); return false; }

      let data = { usernm, mail, _CsrfValue }

      let fnSuccess = function (res){
        if(res.success){
          if (Array.isArray(res.data)) {
            errMsgSpan.textContent = res.data.join(', ') + '입니다.'; // 각 배열 요소를 쉼표로 구분하여 표시
          } else {
            errMsgSpan.textContent = res.data + '입니다.'; // 배열이 아니면 그대로 표시
          }
          errMsgDiv.style.display = 'block';
          errMsgDiv.style.color = 'black';
          errMsgDiv.classList.add('show');
        } else if (!res.success){

          errMsgDiv.style.display = 'block';
          errMsgDiv.classList.add('show');

          errMsgDiv.addEventListener('animationend', function() {
            errMsgDiv.classList.remove('show');
          });

        }
      };
      AjaxUtil.postAsyncData("/user-auth/searchAccount", data, fnSuccess, function(){ Alert.alert('', '서버통신 실패') });
    })

    //비밀번호  찾기 > 이메일 인증
    $('#BtnAuthentication').click(function (e){
      let user = document.getElementById('userid');
      let usernm = user.value;

      let email = document.getElementById('mailAddres');
      let mail   = email.value;
      let content = "비밀번호 재설정"

      if(usernm.trim().length === 0){ Alert.alert('', '아이디를 입력해주세요.'); user.focus(); return;}
      else if(mail.trim().length === 0){ Alert.alert('', '이메일을 입력해주세요.'); email.focus();  return;}

      if(!emailValidate(mail.trim())){Alert.alert('', '유효한 이메일 형식을 입력하세요.'); email.focus();  return false; }
      let data = { usernm, mail, content, type : "password" }
      showLoader();

      let fnSuccess = function (res){
        if(res.success){
          hideLoader();
          $('#userid').attr('readonly', true);

          Alert.alert('', res.message, function(e){

            startTimer(180, 'timer');
          });
        }
        else if(!res.success){
          hideLoader();
          Alert.alert('', res.message, function(){});

        }
      };
      AjaxUtil.postAsyncData("/user-auth/AuthenticationEmail", data, fnSuccess, function(){hideLoader(); Alert.alert('', '서버통신 실패');});
    })

    $('#BtnAuthenticationRegister').click(function (e){

      console.log('클릭');
      let email = document.getElementById('email');
      let mail   = email.value;

      let usernm = document.getElementById('name').value;
      let content = "사용자권한신청";


      if(mail.trim().length === 0){ Alert.alert('', '이메일을 입력해주세요.'); email.focus();  return;}
      if(!emailValidate(mail.trim())){ Alert.alert('', '유효한 이메일 형식을 입력하세요.'); email.focus();  return false; }
      let data = {  usernm : usernm || "신규사용자", mail, content, type: "new" }
      showLoader();
      let fnSuccess = function (res){
        if(res.success){
          hideLoader();

          Alert.alert('', res.message, function(e){

            startTimer(180, 'timer2');
          });
        }
        else if(!res.success){
          hideLoader();
          Alert.alert('', res.message, function(){});

        }
      };
      AjaxUtil.postAsyncData("/user-auth/AuthenticationEmail", data, fnSuccess, function(){hideLoader(); Alert.alert('', '서버통신 실패');});
    });



    //비밀번호 재설정
    $('#btnPwSearch').click(function(){

      const authCode = $('#AuthenticationCode').val().trim();
      const email = $('#mailAddres').val().trim();
      const password = $('#PasswordChange').val().trim();
      const passwordChk = $('#PasswordChangeChk').val().trim();
      const userid = $('#userid').val().trim();

      if(!emailAuthCode_pw){
        Alert.alert('', '코드가 인증되지 않았습니다.');
        return;
      }
      if (!authCode) {
        Alert.alert('', '인증코드를 입력해주세요.');
        $('#AuthenticationCode').focus();
        return;
      }
      if (!email) {
        Alert.alert('', '이메일을 입력해주세요.');
        $('#mailAddres').focus();
        return;
      }
      if (!password) {
        Alert.alert('', '변경할 비밀번호를 입력해주세요.');
        $('#PasswordChange').focus();
        return;
      }
      if (!passwordChk) {
        Alert.alert('', '비밀번호 확인을 입력해주세요.');
        $('#PasswordChangeChk').focus();
        return;
      }
      if (!userid) {
        Alert.alert('', '아이디를 입력해주세요.');
        $('#userid').focus();
        return;
      }
      if (password !== passwordChk) {
        Alert.alert('', '변경 비밀번호와 확인 비밀번호가 일치하지 않습니다.');
        return;
      }
      if(!emailValidate(email.trim())){Alert.alert('', '유효한 이메일 형식을 입력하세요.'); email.focus();  return; }

      const data = { code: authCode, _CsrfValue, mail: email, password: password, userid : userid };

      const fnSuccess = function (res) {
        Alert.alert('', res.message, function(){
          emailAuthCode_pw = false;
          location.reload(); });
      };

      AjaxUtil.postAsyncData("/user-auth/verifyCode", data, fnSuccess, function () {
        hideLoader();
        Alert.alert('', '서버 통신 실패');
      });

    })

    //권한신청 버튼 클릭
    let btnRegistersend = $('#btnSaveAuth');

    btnRegistersend.click(function (e) {

      const authCode = $('#AuthenticationCodeRegister').val().trim();
      if (!authCode) {
        Alert.alert('', '인증코드를 입력해주세요.');
        $('#AuthenticationCodeRegister').focus();
        return;
      }

      /*let authType = document.getElementById('authType');
      let authTypeText = authType.options[authType.selectedIndex].text;*/

      if (!validateFields()) {
        return false;
      }

      if(!emailAuthCode){
        Alert.alert('', '코드가 인증되지 않았습니다.');
        return;
      }


      const emailInput = document.getElementById('email');
      const emailValue = emailInput.value.trim();

      if (!emailValidate(emailValue.trim()))
      { Alert.alert('', '유효한 이메일 형식을 입력하세요.'); return false; }


      let password = document.getElementById('password').value;
      let password2 = document.getElementById('passwordchk').value;

      if(password !== password2){
        Alert.alert('', '비밀번호가 맞지 않습니다.');
        return;
      }

      function extractSelectValues(selectName) {
        let inputs = document.querySelectorAll(`select[name="${selectName}"]`);
        return Array.from(inputs).map(input => input.value).join(',');
      }

      function extractSelectTexts(selectName) {
        let inputs = document.querySelectorAll(`select[name="${selectName}"]`);
        return Array.from(inputs).map(input => input.options[input.selectedIndex].text).join(',');
      }

      // let spworkcdString = extractSelectValues('spworkcd');
      // let spcompcdString = extractSelectValues('spcompcd');
      // let spplancdString = extractSelectValues('spplancd');

      // let firstText  = extractSelectTexts('spworkcd');
      // let secondText = extractSelectTexts('spcompcd');
      // let thirdText  = extractSelectTexts('spplancd');
      // let agencynm = extractSelectTexts('agency');

      let data = FormUtil.extractForm($('#bomForm'));

      // data.spworkcd = spworkcdString;
      // data.spcompcd = spcompcdString;
      // data.spplancd = spplancdString;

      data.firstText = firstText;
      data.secondText = secondText;
      data.thirdText = thirdText;
      //data.authTypeText = authTypeText;
      // data.agencynm = agencynm;

      data.AuthenticationCode = $('#AuthenticationCodeRegister').val().trim();


      let fnSuccess = function (res) {
        if(res.success){
          Alert.alert('', res.message);
          $("#modal-close-button").trigger('click');

          emailAuthCode = false;

          for(let i=0; i < clearFieldList.length; i++){
            clearForm(clearFieldList[i]);
          }
          let idfield = document.getElementById('id')
          idfield.removeAttribute('readonly')

          //추가된 발전지역 요소들 삭제
          const elements = document.getElementsByClassName('new-fl-ac');
          const elementsArray = Array.from(elements);

          elementsArray.forEach(element => {
            element.remove();
          });
          //끝

          RegisterUserClose();
        }else if (!res.success){
          Alert.alert('', res.message);
        }
      };
      AjaxUtil.postAsyncData("/Register/save", data, fnSuccess, function(res){
        Alert.alert('', '에러가 발생하였습니다.');
      });


    })

    function clearForm(param){
      let clearValue = document.getElementById(param);
      if(clearValue){
        clearValue.value = '';
      }

      $('#email').prop('readonly', false);


      if (activeTimerInterval) {
        clearInterval(activeTimerInterval);
      }
    }

    if (top.location != window.location) {
      alert('로그아웃 되었습니다. 로그인 화면으로 이동합니다.')
      top.location.reload();
    }

    if (localStorage.getItem('theme-top') === null && localStorage.getItem('theme-left') === null) {
      dynamicLinkCss('/css/theme-top-a', '/css/theme-left-a');
    } else {
      dynamicLinkCss(localStorage.getItem('theme-top'), localStorage.getItem('theme-left'));
    }

    // Password show/hide
    $('.pass_box i').on('click', function () {
      $('.pass_box input').toggleClass('active');
      if ($('.pass_box input').hasClass('active')) {
        $(this).attr('class', "icon ion-md-eye").css({ "color": "#5567ff" }).prev('input').attr('type', "text");
      } else {
        $(this).attr('class', "icon ion-md-eye-off").css({ "color": "#989db1" }).prev('.pass_box input').attr('type', 'password');
      }
    });

    //// 로그인ID 저장 Cokiee 관련 처리
    $('#loginId').val(Cookies.get('loginId'));
    if ($('#loginId').val() != '') {
      $('#login_chk').attr('checked', true);
      $('#loginPwd').focus();
    }

    $('#login_chk').change(function () {
      if ($('#login_chk').is(':checked')) {
        Cookies.set('loginId', $('#loginId').val(), { expires: 7 });
      } else {
        Cookies.remove('loginId');
      }
    });

    $('#loginId').keyup(function () {
      if ($('#login_chk').is(':checked')) {
        Cookies.set('loginId', $('#loginId').val(), { path: '/', expires: 7 });
      }
    });

    function clearFields() {
      $('#loginId').val('');
      $('#loginPwd').val('');
      $('#loginId').focus();
    }

    function submitHandler(form) {

      var submitData = $(form).serialize() + '&isChangeLang=' + isChangeLang;
      $.post('/login', submitData, function (result) {
        let code = result.data.code;
        if (code == 'NOUSER') {

          Alert.alert('', '아이디 또는 비밀번호가 일치하지 않습니다.');
          return false;
        }
        if (code == 'NOID') {

          let redtext = document.getElementById('hint-red');
          redtext.style.display = 'block';
          Alert.alert('', '아이디 또는 비밀번호가 일치하지 않습니다.', clearFields);
        }
        else if (code == 'NOPW') {
          Alert.alert('', '비밀번호가 일치하지 않습니다', function () { $('#loginPwd').val(''); $('#loginPwd').focus(); });
        }
        else if (code == 'ETC') {
          Alert.alert('', '로그인에 실패했습니다.&lt;br&gt;다시 시도하십시요', clearFields);
        } else if (code == 'NOAUTH') {
          Alert.alert('', '시스템 접근 권한이 없습니다. 시스템관리자에게 확인하시기 바랍니다', clearFields);
        } else if (code == 'FIRST') {
          Alert.alert('', '비밀번호를 변경하십시요.', function () { location.href = '/pwdchange'; });
        } else if (code == 'NOTCONFIRM') {
          Alert.alert('', '승인되지 않은 사용자입니다.', clearFields);
        } else if (code == 'noactive') {
          Alert.alert('', '사용 불가능한 사용자입니다.', clearFields);
        }
        else {
          if (code == 'OK') {
            let lang_cd = sessionStorage.getItem('lang_code');
            let url = '/api/common/labels';
            let pData = { lang_code: lang_cd };
            let fnsuccess = function (result) {
              dic = {};
              $.each(result, function (idx, item) {
                let storageKey = lang_cd + '_' + item.gui_code + '_' + item.template_key;
                let data = [];
                if (dic.hasOwnProperty(storageKey)) {
                  data = dic[storageKey];
                } else {
                  dic[storageKey] = data;
                }
                data.push({ 'label_code': item.label_code, 'text': item.text, 'desc': item.descr });
              });

              $.each(dic, function (k, v) {
                let sessionData = JSON.stringify(v);
                sessionStorage.setItem(k, sessionData);
              });
              location.href = "/";
            };

            let fnfailure = function () {
              location.href = "/login";
            };
            AjaxUtil.getAsyncData(url, pData, fnsuccess, fnfailure);
            //location.href = "/";
          } else {
            location.href = '/';
          }
        }
      }).fail(function (e) {
        Alert.alert('', JSON.parse(e.responseText).message);
      });
    }
    $('#loginFrm').validate({ submitHandler: submitHandler });
  });


  // document.getElementById('testBtn').addEventListener('click', function() {
  //     // const data = document.getElementById('loginid').value;
  //
  //     // x-www-form-urlencoded 형식으로 데이터를 보냄
  //     const params = new URLSearchParams();
  //     params.append('userId', 'UIS02024000000000096');
  //     params.append('accessToken', 'eyJraWQiOiIwN2JhZTU4MS1kNzBiLTRiZWEtYjc2Zi1hMWNmMzFmZDc0NTQiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJuY2RuY2pmQG5hdmVyLmNvbSIsImF1ZCI6IkNJUzAyMDI0MDAwMDAwMDAwMDAyIiwibmJmIjoxNzMzNzA0NzU5LCJzY29wZSI6WyJvcGVuaWQiXSwiaXNzIjoiaHR0cDovLzE3Mi4yNS4xLjE1ODo4MTAwL3NzbyIsImV4cCI6MTczMzcwNjU1OSwiaWF0IjoxNzMzNzA0NzU5LCJ1c2VySWQiOiJVSVMwMjAyNDAwMDAwMDAwMDA5NiIsImp0aSI6ImZhNWVjN2E3LTBhMWMtNGJmMy04ZDY1LWQ3ODU1OTBmMGFkMSIsImF1dGhvcml0aWVzIjpbIlVJUzAyMDI0MDAwMDAwMDAwMDk2IiwiQ09NX1NJVEUiXX0.YuwDg7_3aNPXloR0DRPqOMfiLbAnk-b3V6uytUktCfF1OT7WOsK546SaZaFuc1HeCLQmJQDHFkBZNP3isfukGg1TE13o0CaVxUBkJ-u0UzCAZ40HbF3xNQ7AN5j7mt_f_XeUBC-3w3BXfXQ3CfscgkL3-MhpH19onpycjZNuKFswyG6cubUkazFALHHiYglvGWFwQCkx6al6pCTORYMwMXIIMRxq1u6XsnANij4TOC4fx3I_wChYAu338o8ckno8R26MxaIb85iUo4LaLY2cLYvTquYFvjhMb1Gjy92rdckMaVewS9lwWsUJIICF8Nsl1NeGvhYvy5wXm0IPaJ1tCg');
  //
  //     fetch('https://foms-route-kt.p-e.kr/foms/main', {
  //         method: 'POST',
  //         headers: {
  //             'Content-Type': 'application/x-www-form-urlencoded',
  //         },
  //         body: params.toString(),
  //         credentials: 'include'
  //
  //     })
  //         .then(response => {
  //             // 리디렉션이 있을 경우 자동으로 따름
  //             if (response.redirected) {
  //                 // 리디렉션된 URL로 이동
  //                 window.location.href = response.url;
  //             } else {
  //                 return response.json();  // 응답 본문 처리
  //             }
  //         })
  //         .then(data => {
  //             console.log('Success:', data);
  //         })
  //         .catch(error => {
  //             console.error('Error:', error);
  //         });
  // });

  document.getElementById('productionManage').addEventListener('click', function() {
    console.log("🔄 생산관리 버튼이 클릭되었습니다!");

    // 여기에 원하는 로직을 작성합니다.
    // 예시: 페이지 이동
    // window.location.href = '/production/manage';

    // 예시: Ajax 호출
    // const data = { action: "manageProduction" };
    // AjaxUtil.postAsyncData("/api/production/manage", data, function(response) {
    //   if (response.success) {
    //     Alert.alert('', "생산 관리가 정상적으로 처리되었습니다.");
    //   } else {
    //     Alert.alert('', "오류가 발생했습니다. 관리자에게 문의하세요.");
    //   }
    // });
    Alert.alert('', "해당 기능은 \n 준비중입니다.");
  });

</script>

</body>
</html>
