<!DOCTYPE html>
<html lang="ko">
<style>
    .btn-clear {
        display: none !important; /* 강제로 숨김 */
    }
    .btn-close {
        display: none !important; /* 강제로 숨김 */
    }

    .list-num {
        position: relative;
        width: 100%;
    }

    .list-num p:first-child {
        position: absolute;
        right: 0; /* 오른쪽 끝으로 이동 */
    }

    .mar10-t{
        margin-top: 10px;
    }

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACT CHECK</title>
    <link rel="icon" type="image/png" href="/images/logo/icon_FACT%20CHECK.png">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- Slide css -->
    <link rel="stylesheet" href="/resource/ax5ui/ax5ui.all.css">
    <link rel="stylesheet" type="text/css" href="/assets_mobile/css/import.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="/assets_mobile/js/ui.js"></script> <!-- Common js -->
    <script th:inline="javascript">
        var sandanData = /*[[${session.sandanList}]]*/ [];
    </script>


    <script type="text/javascript" src="/resource/ax5ui/ax5ui.all.min.js?v=1000"></script>

    <script type="text/javascript" src="/js/ax5commUtil.js?v=1070"></script>

    <script src="/js/common.js?v=1060"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- Slide js -->
    <script src="/js/Mobile.js"></script>
</head>

<body>
<div class="mobile-wrapper page-ticket-list"><!-- ★페이지 Class명 -->
    <!-- [모바일] 헤더  -->
    <div class="mobile-layout-header">
        <header>
            <div class="left">
                <div class="hd-btn">
                    <a href="javascript:void(0);" onclick="history.back();" title="뒤로가기">
                        <img src="/images/icon/btn-prev.svg" alt="뒤로가기 아이콘">
                    </a>
                </div>
            </div>
            <div class="center" style="margin-left:35px;">
                <h2>버전정보</h2>
            </div>
            <div class="right">
                <a href="#" title="전체메뉴" class="btn-menu">
                    <img src="/assets_mobile/images/icon/btn-menu.svg" alt="전체메뉴 아이콘">
                </a>
            </div>
        </header>
    </div> <!-- //mobile-layout-header end-->

    <!-- [모바일] 메뉴  -->
    <div th:insert="~{mobile/mobile_menu :: mobile_menu}"></div>
    <!-- [모바일] 컨덴츠  -->
    <div class="mobile-layout-contents">
        <!--- (레이아웃) Contents 영역 -->
        <div class="layout-contents">
            <hr style="margin-left: 13px; height: 5px; border: 1px solid steelblue; background-color: steelblue">

            <!-- 컨텐츠 영역  -->
            <div class="contents-wrap">
                <div class="list-top-wrap">
                    <div class="list-num" style="margin-top: 15px">
                        <p>앱정보 > 버전 정보</p>
                    </div>
                </div>

                <div style="margin-top: 20px">
                    <p class="mar10-t">FACT CHECK</p>
                    <p class="mar10-t" id="version"></p>
                    <p class="mar10-t" id="lastupdate"></p>
                    <p class="mar10-t"> 이메일 : admin@fact.co.kr </p>
                </div>

            </div> <!--// contents-wrap end-->
        </div> <!--//layout-contents end -->

    </div> <!-- //mobile-layout-contents end-->



    <!--거래처 검색 팝업-->

</div> <!-- //page-wrapper end-->

<script type="text/javascript">

    document.readyState === 'complete' ? init() : window.onload = init;


    function init() {
        fetch('/build-info.json')
            .then(response => response.json())
            .then(data => {
                document.getElementById('version').innerText = data.version;
                document.getElementById('lastupdate').innerText = data.lastUpdate;
            })
            .catch(error => console.error('날짜 로드 실패', error));
    }

    // $(document).ready(function () {
    //
    //     $('#logout').on('click', function (e) {
    //         e.preventDefault();

</script>
</body>
</html>
