<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="layout-contents">

    <div class="page-title-wrap">
        <div class="left">
            <h2>부적합 집계 현황</h2>
            <a title="북마크" class="bookmark toggle">
                내 메뉴
            </a>
        </div>
        <ul class="page-navi">
            <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
            <li>생산공정관리</li>
            <li>부적합 집계 현황</li>
        </ul>
    </div>
    <section class="section">
        <div class="section-top">
            <div class="search-wrap">
                <dl>
                    <dt>
                        <label for="cboYear">
                            연도<span class="eq"></span>
                        </label>
                    </dt>
                    <dd>
                        <div class="srch-box">
                            <select id="cboYear">
                            </select>
                        </div>
                    </dd>
                </dl>
                <dl id="searchComArea">
                    <dt>
                        부적합유형
                    </dt>
                    <dd>
                        <select class="form-control2" id="cboMatType" name="cboMatType"></select>
                    </dd>

                </dl>
                <dl>
                    <dt>
                        품목그룹
                    </dt>
                    <dd>
                        <select class="form-control2" id="cboMatGrpPk" name="cboMatGrpPk" ></select>
                    </dd>
                </dl>
                <dl id="searchProductNameArea">
                    <dt>
                        품목
                    </dt>
                    <dd>
                        <input type="text" id="txtProductName" name="txtProductName">
                        <input type="hidden" id="txtProductNameHidden">
                        &nbsp;
                        <a class="btn btn-delete" title="검색" id="btnProductNameSearch">
                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                            품목 검색
                        </a>
                    </dd>

                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                        <li>
                            <a class="btn btn-search" title="검색" id="btnMainSearch">
                                <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                검색
                            </a>
                        </li>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="tab-wrap">

            <ul class="tab-links">
                <li><a href="#tabs_count" style="border-radius: 6px 0 0 0;">부적합량</a></li>
                <li><a href="#tabs_portion" style="border-radius: 0 6px 0 0;">부적합률</a></li>
                <li><a href="#tabs_portion_detail" style="border-radius: 0 6px 0 0;">부적합품목</a></li>
            </ul>
            <div>
                <section class="tab-item" id="tabs_count" style="border-top-left-radius: 0;">
                    <div class="container-fluid">
                        <div id="theGrid1" style="height: 730px;"></div>
                    </div>
                </section>
                <section class="tab-item" id="tabs_portion" style="border-top-left-radius: 0; display: flex;">
                    <div class="container-fluid" style="width: 72%">
                        <div id="theGrid3" style="height: 730px;"></div>
                    </div>
                    <div class="grid_box col-3">
                        <div class="title_box">
                            <span class="right_align rpt" data-labelCd=""></span>
                        </div>
                        <canvas id="chart" width="420" height="420"></canvas>
                        <!-- <div id="chart" class="chart-canvas"></div>-->
                    </div>
                </section>
                <section class="tab-item" id="tabs_portion_detail" style="border-top-left-radius: 0; display: flex;">
                    <div class="container-fluid" style="width: 72%">
                        <div id="theGrid4" style="height: 730px;"></div>
                    </div>
                    <div class="grid_box col-3">
                        <div class="title_box">
                            <span class="right_align rpt" data-labelCd=""></span>
                        </div>
                        <canvas id="chart2" width="420" height="420"></canvas>
                        <!-- <div id="chart" class="chart-canvas"></div>-->
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
<th:block th:replace="/common/popup_company :: popup_company"></th:block>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    class DefectTypePage {
        constructor() {
            this.grid = null;
            this.grid2 = null;
            this.grid3 = null;
            this.chart = null;
            this.chart2 = null;
            this.init();
        }

        init() {
            this.grid = new wijmo.grid.FlexGrid('#theGrid1', {
                selectionMode: wijmo.grid.SelectionMode.Row,
                headersVisibility: wijmo.grid.HeadersVisibility.Column,
                allowSorting: wijmo.grid.AllowSorting.MultiColumn,
                allowMerging: wijmo.grid.AllowMerging.Cells,  //셀 병합
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                frozenColumns: 2,
                formatItem: (sender, e) => {
                    if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                        e.cell.style.textAlign = 'center';
                    }
                },

                columns: [
                    { binding: 'defect_type', header: '부적합유형', width: 200},
                    { binding: 'year_count', header: '부적합량', width: '*', format: 'n0', align: 'right' },
                    ...Array.from({ length: 12 }, (_, i) => ({
                        binding: `count_${i + 1}`,
                        header: `${i + 1}월`,
                        width: 100,
                        format: 'n0',
                        align: 'right',
                        allowSorting: false
                    }))
                ],
                itemsSource: this.viewData, // 데이터를 설정할 배열
            });
            this.grid.itemFormatter = function (panel, row, col, cell) {
                if (panel.cellType === wijmo.grid.CellType.Cell) {
                    let colName = panel.columns[col].binding;
                    if (['mon'].includes(colName)) {
                        cell.style.textAlign = 'center';          // 수평 가운데
                        cell.style.verticalAlign = 'middle';      // 수직 가운데
                        cell.style.display = 'flex';              // flex로 정렬
                        cell.style.alignItems = 'center';         // 수직 정렬
                        cell.style.justifyContent = 'center';     // 수평 정렬
                    }
                    else if (colName.startsWith('count_') || ['year_count'].includes(colName)) {
                        // 숫자 오른쪽 정렬
                        cell.style.textAlign = 'right';
                    } else if (['defect_type'].includes(colName)) {
                        // 그 외 기본값 정렬 (선택)
                        cell.style.textAlign = 'left';
                    }
                }
            };
            new FlexGridContextMenu(this.grid);
            this.grid.downloadFileName = '부적합량';


            this.grid2 = new wijmo.grid.FlexGrid('#theGrid3', {
                selectionMode: wijmo.grid.SelectionMode.Row,
                headersVisibility: wijmo.grid.HeadersVisibility.Column,
                allowSorting: wijmo.grid.AllowSorting.MultiColumn,
                allowMerging: wijmo.grid.AllowMerging.Cells,  //셀 병합
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                frozenColumns: 2,
                formatItem: (sender, e) => {
                    if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                        e.cell.style.textAlign = 'center';
                    }
                },

                columns: [
                    { binding: 'defect_type', header: '부적합유형', width: 200 ,allowMerging: true },
                    { binding: 'year_portion', header: '분율(%)', width: 100 ,allowMerging: true },
                    ...Array.from({ length: 12 }, (_, i) => ({
                        binding: `portion_${i + 1}`,
                        header: `${i + 1}월`,
                        width: 80,
                        format: 'n0',
                        align: 'right',
                        allowSorting: false
                    }))
                ],
                itemsSource: this.viewData, // 데이터를 설정할 배열
            });
            this.grid2.itemFormatter = function (panel, row, col, cell) {
                if (panel.cellType === wijmo.grid.CellType.Cell) {
                    let colName = panel.columns[col].binding;
                    if (['mat_type_name', 'mat_grp_name', 'mat_code', 'mat_name', 'unit_name'].includes(colName)) {
                        cell.style.textAlign = 'center';          // 수평 가운데
                        cell.style.verticalAlign = 'middle';      // 수직 가운데
                        cell.style.display = 'flex';              // flex로 정렬
                        cell.style.alignItems = 'center';         // 수직 정렬
                        cell.style.justifyContent = 'center';     // 수평 정렬
                    }
                    else if (colName.startsWith('portion_') || ['year_portion'].includes(colName)) {
                        // 숫자 오른쪽 정렬
                        cell.style.textAlign = 'right';
                    } else if (['defect_type'].includes(colName)) {
                        // 그 외 기본값 정렬 (선택)
                        cell.style.textAlign = 'left';
                    }
                }
            };
            new FlexGridContextMenu(this.grid2);
            this.grid2.downloadFileName = '부적합률';

            this.grid3 = new wijmo.grid.FlexGrid('#theGrid4', {
                selectionMode: wijmo.grid.SelectionMode.Row,
                headersVisibility: wijmo.grid.HeadersVisibility.Column,
                allowSorting: wijmo.grid.AllowSorting.MultiColumn,
                allowMerging: wijmo.grid.AllowMerging.Cells,  //셀 병합
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                frozenColumns: 6,
                formatItem: (sender, e) => {
                    if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                        e.cell.style.textAlign = 'center';
                    }
                },

                columns: [
                    { binding: 'mat_type_name', header: '품목유형', width: 80 ,allowMerging: true },
                    { binding: 'mat_grp_name', header: '품목그룹', width: 130 ,allowMerging: true },
                    { binding: 'mat_code', header: '품목코드', width: 150 ,allowMerging: true },
                    { binding: 'mat_name', header: '품목명', width: 150 , allowSorting: false, allowMerging: true },
                    { binding: 'defect_type', header: '부적합유형', width: 100, align: 'right', allowMerging: true },
                    { binding: 'year_defect_pro', header: '연 부적합률(%)', width: 110, format: 'n0', align: 'right'},
                    // { binding: 'year_defect_pro', header: '연 부적합률(%)', width: 110, format: 'n0', align: 'right' },
                    // { binding: 'year_defect_qty', header: '연 부적합량', width: 100, allowSorting: false  },
                    // { binding: 'year_defect_money', header: '연 부적합금액', width: 100, allowSorting: false  },
                    ...Array.from({ length: 12 }, (_, i) => ({
                        binding: `mon_${i + 1}`,
                        header: `${i + 1}월`,
                        width: 80,
                        format: 'n0',
                        align: 'right',
                        allowSorting: false
                    }))
                ],
                itemsSource: this.viewData, // 데이터를 설정할 배열
            });
            this.grid3.itemFormatter = function (panel, row, col, cell) {
                if (panel.cellType === wijmo.grid.CellType.Cell) {
                    let colName = panel.columns[col].binding;
                    if (['mat_type_name', 'mat_grp_name', 'mat_code', 'mat_name', 'unit_name'].includes(colName)) {
                        cell.style.textAlign = 'center';          // 수평 가운데
                        cell.style.verticalAlign = 'middle';      // 수직 가운데
                        cell.style.display = 'flex';              // flex로 정렬
                        cell.style.alignItems = 'center';         // 수직 정렬
                        cell.style.justifyContent = 'center';     // 수평 정렬
                    }
                    else if (colName.startsWith('mon_') || ['year_defect_pro', 'year_defect_qty', 'year_defect_money'].includes(colName)) {
                        // 숫자 오른쪽 정렬
                        cell.style.textAlign = 'right';
                    } else if (['company_name'].includes(colName)) {
                        // 그 외 기본값 정렬 (선택)
                        cell.style.textAlign = 'left';
                    }
                }
            };
            new FlexGridContextMenu(this.grid3);
            this.grid3.downloadFileName = '부적합품목';

            // Chart.js 차트 생성
            const ctx = document.getElementById('chart').getContext('2d');
            this.portion_chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: '부적합률',
                        data: [],
                        backgroundColor: [
                            '#FF6384', '#36A2EB', '#FFCE56',
                            '#4BC0C0', '#9966FF', '#FF9F40',
                            '#E7E9ED', '#36A2EB', '#FF6384',
                            '#FFCE56', '#4BC0C0', '#9966FF'
                        ],
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: '부적합률 그래프'
                        }
                    }
                }
            });

            // Chart.js 차트 생성(부적합품목)
            const ctx2 = document.getElementById('chart2').getContext('2d');
            this.portion_detail_chart = new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: '부적합률',
                        data: [],
                        backgroundColor: [
                            '#FF6384', '#36A2EB', '#FFCE56',
                            '#4BC0C0', '#9966FF', '#FF9F40',
                            '#E7E9ED', '#36A2EB', '#FF6384',
                            '#FFCE56', '#4BC0C0', '#9966FF'
                        ],
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: '부적합률 그래프'
                        }
                    }
                }
            });


        }

        searchMainData(target) {
            let url = '/api/summary/production_defect_type_month_portion/read';
            let data = {
                'cboYear': $("#cboYear").val(),
                'cboMatType': $("#cboMatType").val(),
                'cboMatGrpPk': $("#cboMatGrpPk").val(),
                'txtProductId': $("#txtProductNameHidden").val()
            };

            const result = AjaxUtil.getSyncData(url, data);
            console.log("result data : ", result.data);

            if (result) {
                this.grid.itemsSource = result.data;
                this.grid2.itemsSource = result.data;
            }

            let updateSeries = {
                series: [],
                labels: []
            };

            for (let i = 0; i < result.data.length; i++) {
                let defect_type = result.data[i]['defect_type'];
                let defect_year_portion = Number(result.data[i]['year_portion']);
                updateSeries.series.push(defect_year_portion);
                updateSeries.labels.push(defect_type);
            }

            // 차트 데이터 갱신
            if (!target || target === 'tabs_portion') {
                if (this.portion_chart) {
                    this.portion_chart.destroy(); // 차트 인스턴스 제거
                }
                const ctx = document.getElementById('chart').getContext('2d');
                this.portion_chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: updateSeries.labels,
                        datasets: [{
                            data: updateSeries.series,
                            backgroundColor: [
                                '#FF6384', '#36A2EB', '#FFCE56',
                                '#4BC0C0', '#9966FF', '#FF9F40',
                                '#E7E9ED', '#36A2EB', '#FF6384',
                                '#FFCE56', '#4BC0C0', '#9966FF'
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: { position: 'top' },
                            title: { display: true, text: '부적합률 그래프' }
                        }
                    }
                });
            }


        }

        searchProductData(target) {
            let url = '/api/summary/production_defect_type_month_portion/readProduct';
            let data = {
                'cboYear': $("#cboYear").val(),
                'cboMatType': $("#cboMatType").val(),
                'cboMatGrpPk': $("#cboMatGrpPk").val(),
                'txtProductId': $("#txtProductNameHidden").val()
            };

            const result = AjaxUtil.getSyncData(url, data);
            console.log("result data : ", result.data);
            if (result) {
                this.grid3.itemsSource = result.data;
            }
            let updateSeries = {
                series: [],
                labels: []
            };

            for (let i = 0; i < result.data.length; i++) {
                let defect_type = result.data[i]['defect_type'];
                let defect_year_portion = Number(result.data[i]['year_defect_pro']);
                updateSeries.series.push(defect_year_portion);
                updateSeries.labels.push(defect_type);
            }


            // 부적합품목 차트 데이터 갱신
            if (!target || target === 'tabs_portion_detail') {
                if (this.portion_detail_chart) {
                    this.portion_detail_chart.destroy(); // 차트 인스턴스 제거
                }
                const ctx = document.getElementById('chart2').getContext('2d');
                this.portion_detail_chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: updateSeries.labels,
                        datasets: [{
                            data: updateSeries.series,
                            backgroundColor: [
                                '#FF6384', '#36A2EB', '#FFCE56',
                                '#4BC0C0', '#9966FF', '#FF9F40',
                                '#E7E9ED', '#36A2EB', '#FF6384',
                                '#FFCE56', '#4BC0C0', '#9966FF'
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: { position: 'top' },
                            title: { display: true, text: '부적합품목 그래프' }
                        }
                    }
                });
            }
        }

        ProductDBClick(){

        }


        showDetail(data) {
            let updateSeries = {
                series: [],
                labels: []
            };

            let portionNum = data.colIndex - 1;
            for (let i = 0; i < data.list.length; i++) {
                let defect_type = data.list[i].defect_type;
                let defect_type_portion = (data.colIndex < 2) ?
                    Number(data.list[i].year_portion) :
                    Number(data.list[i]['portion_' + portionNum]);

                if (!defect_type_portion) defect_type_portion = 0;

                updateSeries.series.push(defect_type_portion);
                updateSeries.labels.push(defect_type);
            }

            // 차트 갱신
            this.portion_chart.data.labels = updateSeries.labels;
            this.portion_chart.data.datasets[0].data = updateSeries.series;
            this.portion_chart.update();

            // 차트 갱신
            this.portion_detail_chart.data.labels = updateSeries.labels;
            this.portion_detail_chart.data.datasets[0].data = updateSeries.series;
            this.portion_detail_chart.update();
        }

        // 엑셀 다운로드
        exportExcel(target) {

            if (target == 'tabs_count') {
                var targetview = this.count_grid;
                targetview.exportExcel('부적합량.xls');
            }else if (target == 'tabs_portion') {
                var targetview = this.portion_grid;
                targetview.exportExcel('부적합률.xls');
            }

        }


    }

    let page = null;

    $(document.body).ready(function (e) {

        AjaxUtil.fillSelectOptions($('#cboYear'), 'data_year', '', false);
        //AjaxUtil.fillSelectOptions($('#searchForm').find('#cboMatType'), 'system_code', 'all', false, 'mat_type', 'semi','product');
        AjaxUtil.fillSelectOptions($('#cboMatType'), 'defect_type', 'all', false, 'mat_type', 'semi,product');
        //AjaxUtil.fillSelectOptions($('#searchForm').find('#cboMatGrpPk'), 'material_group', 'all', false, 'product', 'semi');
        AjaxUtil.fillSelectOptions($('#cboMatGrpPk'), 'material_group', 'all', false, 'product,semi');

        page = new DefectTypePage();

        // 검색버튼
        $('#btnMainSearch').click(function (e) {
            if ($('#txtProductNameHidden').val() === '' && $('#txtProductName').val() !== '') {
                Alert.alert('', '품목명은 품목검색 버튼을 통해서 \n 검색해주세요');
                return;
            }
            page.searchMainData();
            page.searchProductData();
            $('#tabs_count').click();
        });

        let target = 'tabs_count';
        $('.tab_links .tab_link').click(function (e) {
            target = e.currentTarget.id;
            if (target == 'tabs_count') {
                page.searchMainData(target);
            }
            else if (target == 'tabs_portion') {
                page.searchMainData(target);
            }
            else if (target == 'tabs_portion_detail') {
                page.searchProductData(target);
            }

            page.current_tab = target;

        });

        $('#cboMatType').change(function () {
            let mat_grp_pk = $('#cboMatType').val();
            AjaxUtil.fillSelectOptions($('#cboMatGrpPk'), 'material_group', 'all', false, mat_grp_pk);
        });


		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting1').css('visibility','visible');  
            $('#btnGridSetting2').css('visibility','visible');  
        }


        $('#btnProductNameSearch').click(function () {

            let pop = new PopMatComponent();
            pop.material_type = 'product,sangpum';
            pop.show(function (item) {
                console.log('$btnProductSearch', item);
                document.getElementById('txtProductName').value = item.Name;
                document.getElementById('txtProductNameHidden').value = item.id;
            });
            pop.searchDataBind();
        });
        page.searchMainData();
        page.searchProductData();
    });

    $('#txtProductName').on('input', function () {
        const val = $(this).val();
        if (val === '') {
            $('#txtProductNameHidden').val('');
        }
    });
    // .btn-clear 클릭 후 input 이벤트 강제 발생
    $(document).on('click', '.btn-clear', function () {
        const $input = $(this).siblings('input[type="text"]');
        $input.val('');
        $input.trigger('input'); // 🔥 input 이벤트 강제 발생
    });

</script>
</th:block>